- provide(:title, 'Montréal')

#radio
	
	%input{:type=>'radio', :name=>"n", :id=>"#villemarie"}
	%label{:for=>'#villemarie'}Ville-Marie
	%input{:type=>'radio', :name=>"n", :id=>"#plateau"}
	%label{:for=>'#plateau'}Plateau
	%input{:type=>'radio', :name=>"n", :id=>"#rosemont"}
	%label{:for=>'#rosemont'}Rosemont


#anotherTest
	#slider{:style => 'margin: 15px 25px;'}

- gencode_helper
