- provide(:title, 'Paris - RER - Métro')
%h2
	Atelier programmation SVG
	
%h3
	De l'aéroport Charles de Gaulle jusqu'au métro Place d'Italie

<!--[if lt IE 9]><!-->
#testNoSvg
	Your browser does not support SVG.
	Please upgrade to a more modern browser.
<!--<![endif]-->	
.container-fluid#testSvg
	.row
		.col-md-12
			:plain
				<svg 	width="20cm" 
						height="15cm" 
						style="border: 1px solid #cccccc;" 
						xmlns="http://www.w3.org/2000/svg" 
						xmlns:xlink="http://www.w3.org/1999/xlink" i
						id="rootSvg">
					<g id="viewport">
						<image id="myImage" width="40cm" height="30cm" xlink:href="/Carte.svg" />
					</g>
				</svg>
	.row
		.col-md-3
			%ul.zoom
				%li
					=image_tag "LogoRERB.svg"
				%li
					%button.btn-primary#general
						RER B: Vue Générale
				%li
					%button.btn-primary.n1#cdg
						RER B: Aéroport Charles de Gaulle
				%li
					%button.btn-primary.n1#Paris_centre
						RER B: Paris Centre
				%li
					%button.btn-primary.n2#Paris_rivegauche
						RER B: Paris Rive Gauche
		.col-md-3
			%ul.zoom
				%li
					=image_tag "RATP.svg"
					.div
						Transports en commun dans Paris intra-muro.
				%li
					%button.btn-primary#metro_general
						Métro: Paris Centre
				%li
					%button.btn-primary.n1#metro_riveGauche
						Métro: Paris Rive Gauche
				%li
					%button.btn-primary.n2#metro_segment1
						Métro: Denfert-Rochereau - Place d'Italie
				%li
					&nbsp;
				%li	
					%button.btn-primary.n1#metro_riveDroite_Ouest
						Métro: Paris Rive-Droite (Ouest)
				%li	
					%button.btn-primary.n2#metro_riveDroite_Boulevards
						Métro: Grands Boulevards
				%li	
					%button.btn-primary.n2#metro_riveDroite_Iles
						Métro: La Seine et ses îles
				%li	
					%button.btn-primary.n1#metro_riveDroite_Est
						Métro: Paris Rive-Droite (Est)
				
		.col-md-3
			%ul.zoom
				%li
					=image_tag "M6logo.svg"
					
				%li
					%button.btn-primary#metro_M6_0
						M6:Paris Centre
				%li
					%button.btn-primary.n1#metro_M6_1
						M6: Denfert-Rochereau - Place d'Italie
		
		
	.row
		.col-md-12
			-gencode_helper