- provide(:title, 'Carte Ter')

%h2
	Atelier programmation SVG
	
%h3
	Importation de carte (3ème partie)
	
.container
	.row
		%col-md-12
			%p
				Dans cet exemple, je reprend les données du Directeur Général des élections pour
				afficher les 125 circonscription sur la carte et je colore chacune d'entre elle
				avec la couleur du parti qui a remporté la circonscriptions lors des élections
				générales du 7 avril 2014. Les résultats m'ont également été fournis dans un fichier
				(json) du DGEQ.
				
			%p
				Au milieu ("centroid") de chaque circonscription, j'ai placé un petit cercle qui
				indique le parti s'étant classé 2ème.
	.row
		.col-md-8
			%P#map
				
		.col-md-4
			%ol
				%li
					Créer la carte avec
					%a{:href=>"http://leafletjs.com/"}Leaflet
					et les données de 
					%a{:href=>"www.openstreetmap.org/"}Open Street Map
					
				%li
					Importer le fichier de données géographiques (format TopoJSON) provenant
					du DGEQ pour afficher les différentes circonscriptions. Le DGEQ exige 
					que la mention suivante soit publiée:
					
					%br
					
					%blockquote.small
						« Comprends des données ouvertes octroyées sous la licence d'utilisation 
						des données ouvertes du Directeur général des élections du Québec disponible 
						à l'adresse Web : 
						=link_to "http://www.electionsquebec.qc.ca" 
						L'octroi de la licence 
						n'implique aucune approbation par le Directeur général des élections du Québec 
						de l'utilisation des données ouvertes qui en est faite. » 
						%br
						%cite Licence d'utilisation des données ouverte, 
						=link_to "DGEQ", "http://dgeq.org"
					
				%li
					Utiliser le fichier public du DGEQ donnant les résultats (
					= link_to "http://dgeq.org/resultats.json", "http://dgeq.org/resultats.json"
					). 
					
						
				%li
					Pour chacune des circonscriptions, trouver le centroid de son territoire, y placer
					un cercle et colorer ce derner selon le parti qui s'est placé deuxième. La coloration
					du territoire et du cercle se fait par l'attribution d'une classe CSS appropriée
					(caq, plq, pq et qs). Notons qu'une circonscription est munie d'un cercle blanc
					parce qu'une candidate indépendante (Fatima Houda-Pépin) s'est classée 2ème dans
					la circonscription de La Pinière.
					
	.row
		.col-md-12
			- gencode_helper
			
			



