- provide(:title, 'Grille MGRS')
= stylesheet_link_tag params[:controller]

%h2
	Atelier programmation SVG

<!--[if lt IE 9]><!-->
#testNoSvg
	Your browser does not support SVG.
	Please upgrade to a more modern browser.
<!--<![endif]-->	
.container-fluid#testSvg
	.row
		.col-md-12
			%p
				Ici le but est afficher la grille MGRS en surimpression de la carte.
				
	.row
		.col-md-10
			%P#map
			
	.row
		.col-md-12
			- gencode_helper
			
= javascript_include_tag "proj4"
= javascript_include_tag "mgrs"
