- provide(:title, 'Bonjour!')

%h2
	Atelier programmation SVG !! 

<!--[if lt IE 9]><!-->
#testNoSvg
	Your browser does not support SVG.
	Please upgrade to a more modern browser.
<!--<![endif]-->
.container-fluid#testSvg
	.row
		.col-md-12
			%P
				Liste des projets

			%UL
				%LI
					%a{:href=>"/paris"}Paris - de CDG au centre-ville
				%LI
					%a{:href=>"stm"}Montréal et son métro (bibliothèque D3)
				%LI
					%a{:href=>"/montreal"}Les arrondissements de Montréal (SVG)
				%LI
					%a{:href=>"/carte"}Une carte...
				%LI
					%a{:href=>"/carte2"}Une autre cartecarte...
				%LI
					%a{:href=>"/carte3"}Projet avec Leaflet et d3
					%p
						Ce projet utilise Leaflet et d3 pour afficher une carte
						(openstreetmap) et y juxtaposer des données numériques
						venant du Directeur Général des élections du Québec (limites
						des circonscriptions et résultats du 2014-04-07)
				%LI
					%a{:href=>"/carte_topo"}Projet avec Leaflet et d3 et une carte topographique
					%p
						Ce projet n'utilise pas une système de tuiles (tiles) en ligne
						comme avec OpenStreet Map mais une image statique d'une carte
						topographique 1:250K du gouvernement du Canada.

				%LI
					%a{:href=>"/levis"}Résultats des élections du 2014-04-07 dans Lévis

				%LI
					%a{:href=>"/smsj"}Résultats section de vote dans Sainte-Marie — Saint-Jacques

					%p
						La circonscription de Sainte-Marie — Saint-Jacques (que j'aimerais bien
						voir renomée « de Lorimier ») est située à Montréal et couvre le centre-sud
						ainsi qu'une partie du plateau Mont-Royal. En utilisant les données fournies
						par le Directeur Général des élections du Québec (tant pour tracer les limites
						sur la carte que pour les résultats), j'arrive à un résultat intéressant. Pour
						l'essentiel, le projet smsj est identique au projet 'levis' ci-haut, saut qu'en
						cliquant sur une section de vote (tout en appuyant sur la touche 'alt'), un tableau
						avec les données plus complètes s'affiche.
				%LI
					%a{:href=>"/grille"}Montréal avec référence MGRS

				%p
					Selon
					=link_to "Wikipédia", "https://fr.wikipedia.org/wiki/Système_de_référence_de_carroyage_militaire"
					Le système de référence de carroyage militaire ou Military Grid Reference System (MGRS) est
					le système de coordonnées géographiques standard de l'OTAN. Il est dérivé de la projection
					transverse de Mercator (UTM) et de l'Universal Polar Stereographic (UPS)[...] Le MGRS couvre
					l'intégralité du globe.
