- provide(:title, 'Carte TileMill')
%h2
	Atelier programmation SVG

<!--[if lt IE 9]><!-->
#testNoSvg
	Your browser does not support SVG.
	Please upgrade to a more modern browser.
<!--<![endif]-->	
.container-fluid#testSvg
	.row
		.col-md-12
			%p
				Ici j'utilise un fichier png statique réalisé avec TileMill.
				
	.row
		.col-md-5
			%P#map
			
	.row
		.col-md-12
			- gencode_helper
			
= javascript_include_tag "proj4"
= javascript_include_tag "mgrs"