= form_for @usager do |f|
  - if @usager.errors.any?
    #error_explanation
      %h2= "#{pluralize(@usager.errors.count, "error")} prohibited this usager from being saved:"
      %ul
        - @usager.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :nom
    = f.text_field :nom
  .field
    = f.label :courriel
    = f.text_field :courriel
  .field
    = f.label :passe
    = f.text_field :passe
  .actions
    = f.submit 'Save'
