%h1 Listing usagers

%table
  %thead
    %tr
      %th Nom
      %th Courriel
      %th Passe
      %th
      %th
      %th
      
  %tbody
    - @usagers.each do |usager|
      %tr
        %td= usager.nom
        %td= usager.courriel
        %td= usager.passe
        %td= link_to 'Show', usager
        %td= link_to 'Edit', edit_usager_path(usager)
        %td= link_to 'Destroy', usager, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Usager', new_usager_path
