- provide(:title, 'Carte Topographique')
%h2
	Atelier programmation SVG

<!--[if lt IE 9]><!-->
#testNoSvg
	Your browser does not support SVG.
	Please upgrade to a more modern browser.
<!--<![endif]-->	
.container-fluid#testSvg
	.row
		.col-md-12
			%p
				Ici j'utilise un fichier jpg statique représentant une carte topograhique
				fournie par le Gouvernement du Canada (Ressources naturelles Canada –
				© Sa Majesté La Reine du Chef du Canada - avec permission.)
				
				Comme je n'ai pas accès au service de tuiles (Mapbox, Openstreetview etc.) 
				pour me fournir des données en dehors de la zone observée, j'ai désactivé les
				fonctions de zoom et de déplacement de la carte.
				
	.row
		.col-md-12
			%P#map
			
	.row
		.col-sm-3
			#position
				.top
					%span{:class=>'title'} MGRS
					%span{:class=>'zone'}18T XR 
				.bottom
					123 456
		.col-sm-4
			45°31'23" N — 73°32'55" O
			%br/
			Montréal QC
			%br/
			Rue Papineau — Rue Sainte-Catherine			

	.row
		.col-md-12
			- gencode_helper
			
= javascript_include_tag "proj4"
= javascript_include_tag "mgrs"

//End of the haml page