- provide(:title, 'STM Test')
	
.container-fluid
	.row
		.col-md-12
			%h1 Stm test
			%p 
				La STM (Société de Transport de Montréal), l'organisme public 
				qui gère les transports en commun à Montréal (Québec) met à 
				la disposition des développeurs informatiques des données 
				relatives aux services qu'elle offre.

			%p
				La description des données est disponibles sur le site de la STM ici:
				%a{:style=>"font-size:120%;",
				:href=>'http://www.stm.info/fr/a-propos/developpeurs/description-des-donnees-disponibles'}
					http://www.stm.info/fr/a-propos/developpeurs/description-des-donnees-disponibles
	
	.row
		.col-md-10
			#timeseries
		.col-md-2
			#key
	.row
		.col-md-12
			- gencode_helper