<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <style type="text/css">
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
pre { line-height: 125%; }
body .hll { background-color: #ffffcc }
body  { background: #ffffff; }
body .c { color: #888888 } /* Comment */
body .err { color: #FF0000; background-color: #FFAAAA } /* Error */
body .k { color: #008800; font-weight: bold } /* Keyword */
body .o { color: #333333 } /* Operator */
body .cm { color: #888888 } /* Comment.Multiline */
body .cp { color: #557799 } /* Comment.Preproc */
body .c1 { color: #888888 } /* Comment.Single */
body .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
body .gd { color: #A00000 } /* Generic.Deleted */
body .ge { font-style: italic } /* Generic.Emph */
body .gr { color: #FF0000 } /* Generic.Error */
body .gh { color: #000080; font-weight: bold } /* Generic.Heading */
body .gi { color: #00A000 } /* Generic.Inserted */
body .go { color: #888888 } /* Generic.Output */
body .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
body .gs { font-weight: bold } /* Generic.Strong */
body .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
body .gt { color: #0044DD } /* Generic.Traceback */
body .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
body .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
body .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
body .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
body .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
body .kt { color: #333399; font-weight: bold } /* Keyword.Type */
body .m { color: #6600EE; font-weight: bold } /* Literal.Number */
body .s { background-color: #fff0f0 } /* Literal.String */
body .na { color: #0000CC } /* Name.Attribute */
body .nb { color: #007020 } /* Name.Builtin */
body .nc { color: #BB0066; font-weight: bold } /* Name.Class */
body .no { color: #003366; font-weight: bold } /* Name.Constant */
body .nd { color: #555555; font-weight: bold } /* Name.Decorator */
body .ni { color: #880000; font-weight: bold } /* Name.Entity */
body .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
body .nf { color: #0066BB; font-weight: bold } /* Name.Function */
body .nl { color: #997700; font-weight: bold } /* Name.Label */
body .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
body .nt { color: #007700 } /* Name.Tag */
body .nv { color: #996633 } /* Name.Variable */
body .ow { color: #000000; font-weight: bold } /* Operator.Word */
body .w { color: #bbbbbb } /* Text.Whitespace */
body .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
body .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
body .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
body .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
body .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
body .sc { color: #0044DD } /* Literal.String.Char */
body .sd { color: #DD4422 } /* Literal.String.Doc */
body .s2 { background-color: #fff0f0 } /* Literal.String.Double */
body .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
body .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
body .si { background-color: #eeeeee } /* Literal.String.Interpol */
body .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
body .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
body .s1 { background-color: #fff0f0 } /* Literal.String.Single */
body .ss { color: #AA6600 } /* Literal.String.Symbol */
body .bp { color: #007020 } /* Name.Builtin.Pseudo */
body .vc { color: #336699 } /* Name.Variable.Class */
body .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
body .vi { color: #3333BB } /* Name.Variable.Instance */
body .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */

  </style>
</head>
<body>
<h2></h2>

<div class="highlight"><pre><span class="lineno"> 1</span> <span class="p">-</span> <span class="n">provide</span><span class="p">(</span><span class="ss">:title</span><span class="p">,</span> <span class="s1">&#39;Carte Bis&#39;</span><span class="p">)</span>
<span class="lineno"> 2</span> 
<span class="lineno"> 3</span> <span class="nt">%h2</span>
<span class="lineno"> 4</span>     Atelier programmation SVG
<span class="lineno"> 5</span>     
<span class="lineno"> 6</span> <span class="nt">%h3</span>
<span class="lineno"> 7</span>     Importation de carte (2ème partie)
<span class="lineno"> 8</span>     
<span class="lineno"> 9</span> <span class="nt">%P</span>
<span class="lineno">10</span>     Voir cet article. 
<span class="lineno">11</span>     <span class="nt">%a</span><span class="p">{</span><span class="ss">:href</span><span class="o">=&gt;</span><span class="s2">&quot;http://bost.ocks.org/mike/map/&quot;</span><span class="p">}</span>http://bost.ocks.org/mike/map/
<span class="lineno">12</span> 
<span class="lineno">13</span> &lt;!--[if lt IE 9]&gt;&lt;!--&gt;
<span class="lineno">14</span> <span class="nf">#testNoSvg</span>
<span class="lineno">15</span>     Your browser does not support SVG.
<span class="lineno">16</span>     Please upgrade to a more modern browser.
<span class="lineno">17</span> &lt;!--&lt;![endif]--&gt;    
<span class="lineno">18</span> <span class="nc">.container-fluid</span><span class="nf">#testSvg</span>
<span class="lineno">19</span>     <span class="nc">.row</span>
<span class="lineno">20</span>         <span class="nc">.col-md-12</span>
<span class="lineno">21</span>             <span class="nf">#carte_container</span>
<span class="lineno">22</span>             
<span class="lineno">23</span>     <span class="nc">.row</span>
<span class="lineno">24</span>         <span class="nc">.col-md-3</span>
<span class="lineno">25</span>             <span class="p">=</span> <span class="n">image_tag</span> <span class="s2">&quot;NEV-Logo-color.png&quot;</span><span class="p">,</span> <span class="ss">:style</span><span class="o">=&gt;</span><span class="s2">&quot;height: 2cm&quot;</span>
<span class="lineno">26</span>         <span class="nc">.col-md-9</span>
<span class="lineno">27</span>             <span class="nt">%P</span>
<span class="lineno">28</span>                 La carte de base: © 2014. Natural Earth. All rights reserved. 
<span class="lineno">29</span>                 <span class="p">=</span> <span class="n">link_to</span> <span class="s2">&quot;http://www.naturalearthdata.com/&quot;</span> 
<span class="lineno">30</span>                 
<span class="lineno">31</span> 
<span class="lineno">32</span> 
<span class="lineno">33</span> <span class="p">-</span> <span class="n">gencode_helper</span>
</pre></div>
</body>
</html>
