<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <style type="text/css">
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
pre { line-height: 125%; }
body .hll { background-color: #ffffcc }
body  { background: #ffffff; }
body .c { color: #888888 } /* Comment */
body .err { color: #FF0000; background-color: #FFAAAA } /* Error */
body .k { color: #008800; font-weight: bold } /* Keyword */
body .o { color: #333333 } /* Operator */
body .cm { color: #888888 } /* Comment.Multiline */
body .cp { color: #557799 } /* Comment.Preproc */
body .c1 { color: #888888 } /* Comment.Single */
body .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
body .gd { color: #A00000 } /* Generic.Deleted */
body .ge { font-style: italic } /* Generic.Emph */
body .gr { color: #FF0000 } /* Generic.Error */
body .gh { color: #000080; font-weight: bold } /* Generic.Heading */
body .gi { color: #00A000 } /* Generic.Inserted */
body .go { color: #888888 } /* Generic.Output */
body .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
body .gs { font-weight: bold } /* Generic.Strong */
body .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
body .gt { color: #0044DD } /* Generic.Traceback */
body .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
body .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
body .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
body .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
body .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
body .kt { color: #333399; font-weight: bold } /* Keyword.Type */
body .m { color: #6600EE; font-weight: bold } /* Literal.Number */
body .s { background-color: #fff0f0 } /* Literal.String */
body .na { color: #0000CC } /* Name.Attribute */
body .nb { color: #007020 } /* Name.Builtin */
body .nc { color: #BB0066; font-weight: bold } /* Name.Class */
body .no { color: #003366; font-weight: bold } /* Name.Constant */
body .nd { color: #555555; font-weight: bold } /* Name.Decorator */
body .ni { color: #880000; font-weight: bold } /* Name.Entity */
body .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
body .nf { color: #0066BB; font-weight: bold } /* Name.Function */
body .nl { color: #997700; font-weight: bold } /* Name.Label */
body .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
body .nt { color: #007700 } /* Name.Tag */
body .nv { color: #996633 } /* Name.Variable */
body .ow { color: #000000; font-weight: bold } /* Operator.Word */
body .w { color: #bbbbbb } /* Text.Whitespace */
body .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
body .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
body .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
body .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
body .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
body .sc { color: #0044DD } /* Literal.String.Char */
body .sd { color: #DD4422 } /* Literal.String.Doc */
body .s2 { background-color: #fff0f0 } /* Literal.String.Double */
body .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
body .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
body .si { background-color: #eeeeee } /* Literal.String.Interpol */
body .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
body .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
body .s1 { background-color: #fff0f0 } /* Literal.String.Single */
body .ss { color: #AA6600 } /* Literal.String.Symbol */
body .bp { color: #007020 } /* Name.Builtin.Pseudo */
body .vc { color: #336699 } /* Name.Variable.Class */
body .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
body .vi { color: #3333BB } /* Name.Variable.Instance */
body .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */

  </style>
</head>
<body>
<h2></h2>

<div class="highlight"><pre><span class="lineno">  1</span> <span class="c1"># Place all the behaviors and hooks related to the matching controller here.</span>
<span class="lineno">  2</span> <span class="c1"># All this logic will automatically be available in application.js.</span>
<span class="lineno">  3</span> <span class="c1"># You can use CoffeeScript in this file: http://coffeescript.org/</span>
<span class="lineno">  4</span> <span class="nx">$</span> <span class="nf">-&gt;</span>
<span class="lineno">  5</span>     <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&#39;carte2.js.coffee loading&#39;</span><span class="p">)</span>
<span class="lineno">  6</span>     
<span class="lineno">  7</span>     <span class="nv">width = </span><span class="mi">1920</span>
<span class="lineno">  8</span>     <span class="nv">height = </span><span class="mi">1080</span>
<span class="lineno">  9</span>     
<span class="lineno"> 10</span>     <span class="nv">svg = </span><span class="kc">null</span>      <span class="c1"># rend la variable svg globale</span>
<span class="lineno"> 11</span>     <span class="nv">path = </span><span class="kc">null</span>     <span class="c1"># voir arrierePlan</span>
<span class="lineno"> 12</span>     
<span class="lineno"> 13</span>     <span class="nv">arrierePlan = </span><span class="nf">(data) -&gt;</span>
<span class="lineno"> 14</span>         <span class="c1">#On efface tout</span>
<span class="lineno"> 15</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#carte_container&#39;</span><span class="p">).</span><span class="nx">empty</span><span class="p">()</span>
<span class="lineno"> 16</span>         
<span class="lineno"> 17</span>         <span class="c1">#Ajout d&#39;un élément svg</span>
<span class="lineno"> 18</span>         <span class="k">try</span>
<span class="lineno"> 19</span>             <span class="nv">svg = </span><span class="nx">d3</span><span class="p">.</span><span class="nx">select</span><span class="p">(</span><span class="s">&quot;</span><span class="err">#</span><span class="s">carte_container&quot;</span><span class="p">).</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;svg&quot;</span><span class="p">)</span>
<span class="lineno"> 20</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;width&quot;</span><span class="p">,</span> <span class="nx">width</span><span class="p">)</span>
<span class="lineno"> 21</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;height&quot;</span><span class="p">,</span> <span class="nx">height</span><span class="p">)</span>
<span class="lineno"> 22</span>         <span class="k">catch</span> <span class="nx">e</span>
<span class="lineno"> 23</span>             <span class="nx">msg</span> <span class="s">&quot;ERROR: ajout svg\nType: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">type</span><span class="si">}</span><span class="s">\nArgs: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">arguments</span><span class="si">}</span><span class="s">\nMessage: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">message</span><span class="si">}</span><span class="s">&quot;</span>
<span class="lineno"> 24</span>             <span class="k">return</span>
<span class="lineno"> 25</span>             
<span class="lineno"> 26</span>         <span class="k">try</span>
<span class="lineno"> 27</span>             <span class="nv">subunits    = </span><span class="nx">topojson</span><span class="p">.</span><span class="nx">feature</span><span class="p">(</span><span class="nx">data</span><span class="p">,</span> <span class="nx">data</span><span class="p">.</span><span class="nx">objects</span><span class="p">.</span><span class="nx">subunits</span><span class="p">)</span>
<span class="lineno"> 28</span>         <span class="k">catch</span> <span class="nx">e</span>
<span class="lineno"> 29</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span> <span class="s">&quot;ERROR:37\nType: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">type</span><span class="si">}</span><span class="s">\nArgs: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">arguments</span><span class="si">}</span><span class="s">\nMessage: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">message</span><span class="si">}</span><span class="s">&quot;</span>
<span class="lineno"> 30</span>             <span class="k">return</span>
<span class="lineno"> 31</span>         
<span class="lineno"> 32</span>         <span class="k">try</span>
<span class="lineno"> 33</span>             <span class="nv">facteur = </span><span class="mf">12.0</span>
<span class="lineno"> 34</span>             <span class="nv">projection  = </span><span class="nx">d3</span><span class="p">.</span><span class="nx">geo</span><span class="p">.</span><span class="nx">mercator</span><span class="p">()</span>
<span class="lineno"> 35</span>                 <span class="p">.</span><span class="nx">scale</span><span class="p">(</span><span class="mi">1000</span> <span class="o">*</span> <span class="nx">facteur</span><span class="p">)</span>
<span class="lineno"> 36</span>                 <span class="p">.</span><span class="nx">translate</span><span class="p">([</span><span class="nx">width</span> <span class="o">*</span> <span class="mf">0.71</span> <span class="o">*</span> <span class="nx">facteur</span><span class="p">,</span> <span class="nx">height</span><span class="o">*</span> <span class="mf">0.9</span> <span class="o">*</span> <span class="nx">facteur</span><span class="p">])</span>
<span class="lineno"> 37</span>                 <span class="p">.</span><span class="nx">clipExtent</span><span class="p">([[</span><span class="mi">0</span><span class="p">,</span><span class="mi">0</span><span class="p">],[</span><span class="nx">width</span><span class="o">*</span><span class="mf">0.75</span><span class="p">,</span><span class="nx">height</span><span class="p">]])</span>
<span class="lineno"> 38</span>         <span class="k">catch</span> <span class="nx">e</span>
<span class="lineno"> 39</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span> <span class="s">&quot;ERROR:46\nType: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">type</span><span class="si">}</span><span class="s">\nArgs: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">arguments</span><span class="si">}</span><span class="s">\nMessage: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">message</span><span class="si">}</span><span class="s">&quot;</span>
<span class="lineno"> 40</span>             <span class="k">return</span>
<span class="lineno"> 41</span>         
<span class="lineno"> 42</span>         
<span class="lineno"> 43</span>         <span class="c1">#Create a path element according to the projection</span>
<span class="lineno"> 44</span>         <span class="k">try</span>
<span class="lineno"> 45</span>             <span class="nv">path = </span><span class="nx">d3</span><span class="p">.</span><span class="nx">geo</span><span class="p">.</span><span class="nx">path</span><span class="p">()</span>
<span class="lineno"> 46</span>                 <span class="p">.</span><span class="nx">projection</span><span class="p">(</span><span class="nx">projection</span><span class="p">)</span>
<span class="lineno"> 47</span>         <span class="k">catch</span> <span class="nx">e</span>
<span class="lineno"> 48</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span> <span class="s">&quot;ERROR:55\nType: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">type</span><span class="si">}</span><span class="s">\nArgs: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">arguments</span><span class="si">}</span><span class="s">\nMessage: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">message</span><span class="si">}</span><span class="s">&quot;</span>
<span class="lineno"> 49</span>             <span class="k">return</span>
<span class="lineno"> 50</span>         
<span class="lineno"> 51</span>             
<span class="lineno"> 52</span>         <span class="c1">#read the subunits elements in the json document</span>
<span class="lineno"> 53</span>         <span class="c1">#and create the back map.</span>
<span class="lineno"> 54</span>         <span class="k">try</span>
<span class="lineno"> 55</span>             <span class="nx">svg</span><span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;path&quot;</span><span class="p">)</span>
<span class="lineno"> 56</span>                 <span class="p">.</span><span class="nx">datum</span><span class="p">(</span><span class="nx">subunits</span><span class="p">)</span>
<span class="lineno"> 57</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="s">&quot;back&quot;</span><span class="p">)</span>
<span class="lineno"> 58</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;d&quot;</span><span class="p">,</span> <span class="nx">path</span><span class="p">)</span>
<span class="lineno"> 59</span>         <span class="k">catch</span> <span class="nx">e</span>
<span class="lineno"> 60</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span> <span class="s">&quot;ERROR:67\nType: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">type</span><span class="si">}</span><span class="s">\nArgs: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">arguments</span><span class="si">}</span><span class="s">\nMessage: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">message</span><span class="si">}</span><span class="s">&quot;</span>
<span class="lineno"> 61</span>             <span class="k">return</span>
<span class="lineno"> 62</span>         
<span class="lineno"> 63</span>     <span class="nv">pays = </span><span class="nf">(data) -&gt;</span>
<span class="lineno"> 64</span>         <span class="c1">#Add the country shapes</span>
<span class="lineno"> 65</span>         <span class="k">try</span>
<span class="lineno"> 66</span>             <span class="nx">svg</span><span class="p">.</span><span class="nx">selectAll</span><span class="p">(</span><span class="s">&quot;.country&quot;</span><span class="p">)</span>
<span class="lineno"> 67</span>                 <span class="p">.</span><span class="nx">data</span><span class="p">(</span><span class="nx">topojson</span><span class="p">.</span><span class="nx">feature</span><span class="p">(</span><span class="nx">data</span><span class="p">,</span> <span class="nx">data</span><span class="p">.</span><span class="nx">objects</span><span class="p">.</span><span class="nx">countries</span><span class="p">).</span><span class="nx">features</span><span class="p">)</span>
<span class="lineno"> 68</span>                 <span class="p">.</span><span class="nx">enter</span><span class="p">()</span>
<span class="lineno"> 69</span>                 <span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;path&quot;</span><span class="p">)</span>
<span class="lineno"> 70</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno"> 71</span>                         <span class="s">&quot;country &quot;</span> <span class="o">+</span> <span class="nx">d</span><span class="p">.</span><span class="nx">id</span><span class="p">)</span>
<span class="lineno"> 72</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;d&quot;</span><span class="p">,</span> <span class="nx">path</span><span class="p">)</span>
<span class="lineno"> 73</span>         <span class="k">catch</span> <span class="nx">e</span>
<span class="lineno"> 74</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span> <span class="s">&quot;ERROR:pays\nType: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">type</span><span class="si">}</span><span class="s">\nArgs: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">arguments</span><span class="si">}</span><span class="s">\nMessage: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">message</span><span class="si">}</span><span class="s">&quot;</span>
<span class="lineno"> 75</span>             <span class="k">return</span>
<span class="lineno"> 76</span>         
<span class="lineno"> 77</span>     <span class="nv">provinces = </span><span class="nf">(data) -&gt;</span>
<span class="lineno"> 78</span>         <span class="c1">#Add the country shapes</span>
<span class="lineno"> 79</span>         <span class="k">try</span>
<span class="lineno"> 80</span>             <span class="nx">svg</span><span class="p">.</span><span class="nx">selectAll</span><span class="p">(</span><span class="s">&quot;.provinces&quot;</span><span class="p">)</span>
<span class="lineno"> 81</span>                 <span class="p">.</span><span class="nx">data</span><span class="p">(</span><span class="nx">topojson</span><span class="p">.</span><span class="nx">feature</span><span class="p">(</span><span class="nx">data</span><span class="p">,</span> <span class="nx">data</span><span class="p">.</span><span class="nx">objects</span><span class="p">.</span><span class="nx">provinces</span><span class="p">).</span><span class="nx">features</span><span class="p">)</span>
<span class="lineno"> 82</span>                 <span class="p">.</span><span class="nx">enter</span><span class="p">()</span>
<span class="lineno"> 83</span>                 <span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;path&quot;</span><span class="p">)</span>
<span class="lineno"> 84</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno"> 85</span>                         <span class="s">&quot;province &quot;</span> <span class="o">+</span> <span class="nx">d</span><span class="p">.</span><span class="nx">id</span><span class="p">)</span>
<span class="lineno"> 86</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;name&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno"> 87</span>                         <span class="nx">d</span><span class="p">.</span><span class="nx">properties</span><span class="p">.</span><span class="nx">name</span> <span class="o">+</span> <span class="s">&quot; &quot;</span> <span class="o">+</span> <span class="nx">d</span><span class="p">.</span><span class="nx">properties</span><span class="p">.</span><span class="nx">pays</span><span class="p">)</span>
<span class="lineno"> 88</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;d&quot;</span><span class="p">,</span> <span class="nx">path</span><span class="p">)</span>
<span class="lineno"> 89</span>         <span class="k">catch</span> <span class="nx">e</span>
<span class="lineno"> 90</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span> <span class="s">&quot;ERROR:pays\nType: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">type</span><span class="si">}</span><span class="s">\nArgs: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">arguments</span><span class="si">}</span><span class="s">\nMessage: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">message</span><span class="si">}</span><span class="s">&quot;</span>
<span class="lineno"> 91</span>             <span class="k">return</span>
<span class="lineno"> 92</span>         
<span class="lineno"> 93</span>         <span class="nv">otherCountries = </span><span class="p">[</span><span class="s">&quot;USA&quot;</span><span class="p">,</span> <span class="s">&quot;MEX&quot;</span><span class="p">,</span> <span class="s">&quot;CUB&quot;</span><span class="p">,</span> <span class="s">&quot;BLZ&quot;</span><span class="p">,</span> <span class="s">&quot;BHS&quot;</span><span class="p">]</span>
<span class="lineno"> 94</span> 
<span class="lineno"> 95</span>         <span class="c1">#Setup boundries</span>
<span class="lineno"> 96</span>         <span class="k">try</span>
<span class="lineno"> 97</span>             <span class="nx">svg</span><span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;path&quot;</span><span class="p">)</span>
<span class="lineno"> 98</span>                 <span class="p">.</span><span class="nx">datum</span><span class="p">(</span><span class="nx">topojson</span><span class="p">.</span><span class="nx">mesh</span><span class="p">(</span><span class="nx">data</span><span class="p">,</span> <span class="nx">data</span><span class="p">.</span><span class="nx">objects</span><span class="p">.</span><span class="nx">provinces</span><span class="p">,</span> <span class="nf">(a, b) -&gt;</span> 
<span class="lineno"> 99</span>                     <span class="nx">a</span> <span class="o">!=</span> <span class="nx">b</span> <span class="o">&amp;&amp;</span> <span class="nx">a</span><span class="p">.</span><span class="nx">properties</span><span class="p">.</span><span class="nx">pays</span> <span class="o">not</span> <span class="k">in</span> <span class="nx">otherCountries</span><span class="p">))</span>
<span class="lineno">100</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;d&quot;</span><span class="p">,</span> <span class="nx">path</span><span class="p">)</span>
<span class="lineno">101</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="s">&quot;province-boundary&quot;</span><span class="p">);</span>
<span class="lineno">102</span>         <span class="k">catch</span> <span class="nx">e</span>
<span class="lineno">103</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span> <span class="s">&quot;ERROR:93\nType: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">type</span><span class="si">}</span><span class="s">\nArgs: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">arguments</span><span class="si">}</span><span class="s">\nMessage: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">message</span><span class="si">}</span><span class="s">&quot;</span>
<span class="lineno">104</span>             <span class="k">return</span>
<span class="lineno">105</span> 
<span class="lineno">106</span> 
<span class="lineno">107</span>         <span class="c1">#but for the USA, just draw an outline</span>
<span class="lineno">108</span>         <span class="k">try</span>
<span class="lineno">109</span>             <span class="nx">svg</span><span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;path&quot;</span><span class="p">)</span>
<span class="lineno">110</span>                 <span class="p">.</span><span class="nx">datum</span><span class="p">(</span><span class="nx">topojson</span><span class="p">.</span><span class="nx">mesh</span><span class="p">(</span><span class="nx">data</span><span class="p">,</span> <span class="nx">data</span><span class="p">.</span><span class="nx">objects</span><span class="p">.</span><span class="nx">provinces</span><span class="p">,</span> <span class="nf">(a, b) -&gt;</span>
<span class="lineno">111</span>                     <span class="nx">a</span> <span class="o">!=</span> <span class="nx">b</span> <span class="o">&amp;&amp;</span> <span class="nx">a</span><span class="p">.</span><span class="nx">properties</span><span class="p">.</span><span class="nx">pays</span> <span class="k">in</span> <span class="nx">otherCountries</span><span class="p">))</span>
<span class="lineno">112</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;d&quot;</span><span class="p">,</span> <span class="nx">path</span><span class="p">)</span>
<span class="lineno">113</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="s">&quot;province-boundary USA&quot;</span><span class="p">);</span>
<span class="lineno">114</span>         <span class="k">catch</span> <span class="nx">e</span>
<span class="lineno">115</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span> <span class="s">&quot;ERROR:104\nType: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">type</span><span class="si">}</span><span class="s">\nArgs: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">arguments</span><span class="si">}</span><span class="s">\nMessage: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">message</span><span class="si">}</span><span class="s">&quot;</span>
<span class="lineno">116</span>             <span class="k">return</span>
<span class="lineno">117</span>                 
<span class="lineno">118</span>         
<span class="lineno">119</span> 
<span class="lineno">120</span>     <span class="nv">frontieresNationales = </span><span class="nf">(data) -&gt;</span>
<span class="lineno">121</span>         <span class="nv">otherCountries = </span><span class="p">[</span><span class="s">&quot;USA&quot;</span><span class="p">,</span> <span class="s">&quot;MEX&quot;</span><span class="p">,</span> <span class="s">&quot;CUB&quot;</span><span class="p">,</span> <span class="s">&quot;BLZ&quot;</span><span class="p">,</span> <span class="s">&quot;BHS&quot;</span><span class="p">]</span>
<span class="lineno">122</span>         
<span class="lineno">123</span>         <span class="c1">#but for the USA, draw an outline</span>
<span class="lineno">124</span>         <span class="k">try</span>
<span class="lineno">125</span>             <span class="nx">svg</span><span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;path&quot;</span><span class="p">)</span>
<span class="lineno">126</span>                 <span class="p">.</span><span class="nx">datum</span><span class="p">(</span><span class="nx">topojson</span><span class="p">.</span><span class="nx">mesh</span><span class="p">(</span><span class="nx">data</span><span class="p">,</span> <span class="nx">data</span><span class="p">.</span><span class="nx">objects</span><span class="p">.</span><span class="nx">countries</span><span class="p">,</span> <span class="nf">(a, b) -&gt;</span>
<span class="lineno">127</span>                     <span class="nx">a</span><span class="p">.</span><span class="nx">id</span> <span class="k">in</span> <span class="nx">otherCountries</span><span class="p">))</span>
<span class="lineno">128</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;d&quot;</span><span class="p">,</span> <span class="nx">path</span><span class="p">)</span>
<span class="lineno">129</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="s">&quot;outline USA&quot;</span><span class="p">);</span>
<span class="lineno">130</span>         <span class="k">catch</span> <span class="nx">e</span>
<span class="lineno">131</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span> <span class="s">&quot;ERROR:104\nType: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">type</span><span class="si">}</span><span class="s">\nArgs: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">arguments</span><span class="si">}</span><span class="s">\nMessage: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">message</span><span class="si">}</span><span class="s">&quot;</span>
<span class="lineno">132</span>             <span class="k">return</span>
<span class="lineno">133</span>         
<span class="lineno">134</span>         <span class="k">try</span>
<span class="lineno">135</span>             <span class="nx">svg</span><span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;path&quot;</span><span class="p">)</span>
<span class="lineno">136</span>                 <span class="p">.</span><span class="nx">datum</span><span class="p">(</span><span class="nx">topojson</span><span class="p">.</span><span class="nx">mesh</span><span class="p">(</span><span class="nx">data</span><span class="p">,</span> <span class="nx">data</span><span class="p">.</span><span class="nx">objects</span><span class="p">.</span><span class="nx">countries</span><span class="p">,</span> <span class="nf">(a, b) -&gt;</span>
<span class="lineno">137</span>                     <span class="nx">a</span><span class="p">.</span><span class="nx">id</span> <span class="o">==</span> <span class="s">&#39;CAN&#39;</span><span class="p">))</span>
<span class="lineno">138</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;d&quot;</span><span class="p">,</span> <span class="nx">path</span><span class="p">)</span>
<span class="lineno">139</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="s">&quot;outline CAN&quot;</span><span class="p">);</span>
<span class="lineno">140</span>         <span class="k">catch</span> <span class="nx">e</span>
<span class="lineno">141</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span> <span class="s">&quot;ERROR:104\nType: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">type</span><span class="si">}</span><span class="s">\nArgs: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">arguments</span><span class="si">}</span><span class="s">\nMessage: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">message</span><span class="si">}</span><span class="s">&quot;</span>
<span class="lineno">142</span>             <span class="k">return</span>
<span class="lineno">143</span>         
<span class="lineno">144</span>         
<span class="lineno">145</span>     <span class="nv">lacs = </span><span class="nf">(data) -&gt;</span>
<span class="lineno">146</span>         <span class="c1">#Add the country shapes</span>
<span class="lineno">147</span>         <span class="k">try</span>
<span class="lineno">148</span>             <span class="nx">svg</span><span class="p">.</span><span class="nx">selectAll</span><span class="p">(</span><span class="s">&quot;.lac&quot;</span><span class="p">)</span>
<span class="lineno">149</span>                 <span class="p">.</span><span class="nx">data</span><span class="p">(</span><span class="nx">topojson</span><span class="p">.</span><span class="nx">feature</span><span class="p">(</span><span class="nx">data</span><span class="p">,</span> <span class="nx">data</span><span class="p">.</span><span class="nx">objects</span><span class="p">.</span><span class="nx">lakes</span><span class="p">).</span><span class="nx">features</span><span class="p">)</span>
<span class="lineno">150</span>                 <span class="p">.</span><span class="nx">enter</span><span class="p">()</span>
<span class="lineno">151</span>                 <span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;path&quot;</span><span class="p">)</span>
<span class="lineno">152</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">153</span>                         <span class="s">&quot;lac&quot;</span><span class="p">)</span>
<span class="lineno">154</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;d&quot;</span><span class="p">,</span> <span class="nx">path</span><span class="p">)</span>
<span class="lineno">155</span>         <span class="k">catch</span> <span class="nx">e</span>
<span class="lineno">156</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span> <span class="s">&quot;ERROR:pays\nType: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">type</span><span class="si">}</span><span class="s">\nArgs: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">arguments</span><span class="si">}</span><span class="s">\nMessage: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">message</span><span class="si">}</span><span class="s">&quot;</span>
<span class="lineno">157</span>             <span class="k">return</span>
<span class="lineno">158</span>         
<span class="lineno">159</span>     <span class="nv">electionsCA = </span><span class="nf">(data) -&gt;</span>
<span class="lineno">160</span>         <span class="k">try</span>
<span class="lineno">161</span>             <span class="nx">svg</span><span class="p">.</span><span class="nx">selectAll</span><span class="p">(</span><span class="s">&quot;.district&quot;</span><span class="p">)</span>
<span class="lineno">162</span>                 <span class="p">.</span><span class="nx">data</span><span class="p">(</span><span class="nx">topojson</span><span class="p">.</span><span class="nx">feature</span><span class="p">(</span><span class="nx">data</span><span class="p">,</span> <span class="nx">data</span><span class="p">.</span><span class="nx">objects</span><span class="p">.</span><span class="nx">electionsCA</span><span class="p">).</span><span class="nx">features</span><span class="p">)</span>
<span class="lineno">163</span>                 <span class="p">.</span><span class="nx">enter</span><span class="p">()</span>
<span class="lineno">164</span>                 <span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;path&quot;</span><span class="p">)</span>
<span class="lineno">165</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">166</span>                         <span class="s">&quot;district d&quot;</span> <span class="o">+</span> <span class="nx">d</span><span class="p">.</span><span class="nx">id</span><span class="p">)</span>
<span class="lineno">167</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;name&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">168</span>                         <span class="nx">d</span><span class="p">.</span><span class="nx">properties</span><span class="p">.</span><span class="nx">name</span> <span class="o">+</span> <span class="s">&quot; &quot;</span> <span class="o">+</span> <span class="nx">d</span><span class="p">.</span><span class="nx">properties</span><span class="p">.</span><span class="nx">codeprov</span><span class="p">)</span>
<span class="lineno">169</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;d&quot;</span><span class="p">,</span> <span class="nx">path</span><span class="p">)</span>
<span class="lineno">170</span>         <span class="k">catch</span> <span class="nx">e</span>
<span class="lineno">171</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span> <span class="s">&quot;ERROR:123\nType: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">type</span><span class="si">}</span><span class="s">\nArgs: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">arguments</span><span class="si">}</span><span class="s">\nMessage: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">message</span><span class="si">}</span><span class="s">&quot;</span>
<span class="lineno">172</span>             <span class="k">return</span>
<span class="lineno">173</span>         
<span class="lineno">174</span>     <span class="nv">msg = </span><span class="nf">(message) -&gt;</span>
<span class="lineno">175</span>         <span class="c1"># Fonction utile qui affiche un message dans</span>
<span class="lineno">176</span>         <span class="c1"># la console et ajoute le même message sur la</span>
<span class="lineno">177</span>         <span class="c1"># page.</span>
<span class="lineno">178</span>         <span class="nx">console</span><span class="p">.</span><span class="nx">log</span> <span class="nx">message</span>
<span class="lineno">179</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#carte_container&#39;</span><span class="p">).</span><span class="nx">append</span> <span class="nx">message</span>
<span class="lineno">180</span>     
<span class="lineno">181</span>     
<span class="lineno">182</span> 
<span class="lineno">183</span> 
<span class="lineno">184</span>     <span class="c1"># Appel de démarage. </span>
<span class="lineno">185</span>     <span class="c1"># C&#39;est la première chose que le script fait quand</span>
<span class="lineno">186</span>     <span class="c1"># il est chargé. Son rôle est de charger le fichier </span>
<span class="lineno">187</span>     <span class="c1"># ca.json qui contient les données décrivant les</span>
<span class="lineno">188</span>     <span class="c1"># différents polygones.</span>
<span class="lineno">189</span>     <span class="nx">$</span><span class="p">.</span><span class="nx">get</span> <span class="s">&#39;/ca.json&#39;</span>
<span class="lineno">190</span>         <span class="p">.</span><span class="nx">error</span> <span class="nf">(jqXHR, textStatus, errorThrown) -&gt;</span> 
<span class="lineno">191</span>             <span class="nx">msg</span> <span class="s">&quot;AJAX Error: ${textStatus}.&quot;</span>
<span class="lineno">192</span>         <span class="p">.</span><span class="nx">success</span> <span class="nf">(data) -&gt;</span> 
<span class="lineno">193</span>             <span class="nx">arrierePlan</span> <span class="p">(</span><span class="nx">data</span><span class="p">)</span>
<span class="lineno">194</span>             <span class="nx">pays</span><span class="p">(</span><span class="nx">data</span><span class="p">)</span>
<span class="lineno">195</span>             <span class="nx">provinces</span><span class="p">(</span><span class="nx">data</span><span class="p">)</span>
<span class="lineno">196</span>             <span class="nx">frontieresNationales</span><span class="p">(</span><span class="nx">data</span><span class="p">)</span>
<span class="lineno">197</span>             <span class="nx">lacs</span><span class="p">(</span><span class="nx">data</span><span class="p">)</span>
<span class="lineno">198</span>             <span class="nx">electionsCA</span><span class="p">(</span><span class="nx">data</span><span class="p">)</span>
</pre></div>
</body>
</html>
