<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <style type="text/css">
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
pre { line-height: 125%; }
body .hll { background-color: #ffffcc }
body  { background: #ffffff; }
body .c { color: #888888 } /* Comment */
body .err { color: #FF0000; background-color: #FFAAAA } /* Error */
body .k { color: #008800; font-weight: bold } /* Keyword */
body .o { color: #333333 } /* Operator */
body .cm { color: #888888 } /* Comment.Multiline */
body .cp { color: #557799 } /* Comment.Preproc */
body .c1 { color: #888888 } /* Comment.Single */
body .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
body .gd { color: #A00000 } /* Generic.Deleted */
body .ge { font-style: italic } /* Generic.Emph */
body .gr { color: #FF0000 } /* Generic.Error */
body .gh { color: #000080; font-weight: bold } /* Generic.Heading */
body .gi { color: #00A000 } /* Generic.Inserted */
body .go { color: #888888 } /* Generic.Output */
body .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
body .gs { font-weight: bold } /* Generic.Strong */
body .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
body .gt { color: #0044DD } /* Generic.Traceback */
body .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
body .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
body .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
body .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
body .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
body .kt { color: #333399; font-weight: bold } /* Keyword.Type */
body .m { color: #6600EE; font-weight: bold } /* Literal.Number */
body .s { background-color: #fff0f0 } /* Literal.String */
body .na { color: #0000CC } /* Name.Attribute */
body .nb { color: #007020 } /* Name.Builtin */
body .nc { color: #BB0066; font-weight: bold } /* Name.Class */
body .no { color: #003366; font-weight: bold } /* Name.Constant */
body .nd { color: #555555; font-weight: bold } /* Name.Decorator */
body .ni { color: #880000; font-weight: bold } /* Name.Entity */
body .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
body .nf { color: #0066BB; font-weight: bold } /* Name.Function */
body .nl { color: #997700; font-weight: bold } /* Name.Label */
body .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
body .nt { color: #007700 } /* Name.Tag */
body .nv { color: #996633 } /* Name.Variable */
body .ow { color: #000000; font-weight: bold } /* Operator.Word */
body .w { color: #bbbbbb } /* Text.Whitespace */
body .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
body .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
body .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
body .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
body .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
body .sc { color: #0044DD } /* Literal.String.Char */
body .sd { color: #DD4422 } /* Literal.String.Doc */
body .s2 { background-color: #fff0f0 } /* Literal.String.Double */
body .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
body .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
body .si { background-color: #eeeeee } /* Literal.String.Interpol */
body .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
body .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
body .s1 { background-color: #fff0f0 } /* Literal.String.Single */
body .ss { color: #AA6600 } /* Literal.String.Symbol */
body .bp { color: #007020 } /* Name.Builtin.Pseudo */
body .vc { color: #336699 } /* Name.Variable.Class */
body .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
body .vi { color: #3333BB } /* Name.Variable.Instance */
body .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */

  </style>
</head>
<body>
<h2></h2>

<div class="highlight"><pre><span class="lineno">  1</span> <span class="c1">// Place all the styles related to the carteTopo controller here.</span>
<span class="lineno">  2</span> <span class="c1">// They will automatically be included in application.css.</span>
<span class="lineno">  3</span> <span class="c1">// You can use Sass (SCSS) here: http://sass-lang.com/</span>
<span class="lineno">  4</span> 
<span class="lineno">  5</span> <span class="nn">#map</span> <span class="p">{</span> 
<span class="lineno">  6</span>     <span class="na">height</span><span class="o">:</span> <span class="mi">400</span><span class="kt">px</span><span class="p">;</span> 
<span class="lineno">  7</span>     <span class="na">width</span><span class="o">:</span> <span class="mi">600</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">  8</span> <span class="p">}</span>
<span class="lineno">  9</span> 
<span class="lineno"> 10</span> 
<span class="lineno"> 11</span> 
<span class="lineno"> 12</span> <span class="nv">$bleu_mgrs</span><span class="o"> :</span> <span class="mh">#55BBFF</span><span class="p">;</span>
<span class="lineno"> 13</span> 
<span class="lineno"> 14</span> <span class="nn">#position</span> <span class="p">{</span>
<span class="lineno"> 15</span>     <span class="na">width</span><span class="o">:</span><span class="mi">3</span><span class="mf">.7</span><span class="kt">cm</span><span class="p">;</span>
<span class="lineno"> 16</span>     <span class="na">height</span><span class="o">:</span><span class="mi">2</span><span class="kt">cm</span><span class="p">;</span>
<span class="lineno"> 17</span>     <span class="na">border</span><span class="o">:</span> <span class="no">thin</span> <span class="no">solid</span> <span class="nv">$bleu_mgrs</span><span class="p">;</span>
<span class="lineno"> 18</span>     <span class="na">border-radius</span><span class="o">:</span> <span class="mi">10</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno"> 19</span>     <span class="na">color</span><span class="o">:</span> <span class="nv">$bleu_mgrs</span><span class="p">;</span>
<span class="lineno"> 20</span>     <span class="nc">.top</span> <span class="p">{</span>
<span class="lineno"> 21</span>         <span class="na">width</span><span class="o">:</span> <span class="mi">100</span><span class="kt">%</span><span class="p">;</span>
<span class="lineno"> 22</span>         <span class="na">height</span><span class="o">:</span> <span class="mi">1</span><span class="kt">cm</span><span class="p">;</span>
<span class="lineno"> 23</span>         <span class="na">padding</span><span class="o">:</span> <span class="mi">6</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno"> 24</span>         <span class="na">padding-top</span><span class="o">:</span> <span class="mi">8</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno"> 25</span>         <span class="na">font-size</span><span class="o">:</span> <span class="mi">130</span><span class="kt">%</span><span class="p">;</span>
<span class="lineno"> 26</span>         <span class="na">background-color</span><span class="o">:</span> <span class="nv">$bleu_mgrs</span><span class="p">;</span>
<span class="lineno"> 27</span>         <span class="nt">color</span><span class="nd">:white</span><span class="o">;</span>
<span class="lineno"> 28</span>         <span class="nt">border-radius</span><span class="nd">:</span> <span class="nt">5px</span> <span class="nt">5px</span> <span class="nt">0px</span> <span class="nt">0px</span><span class="o">;</span>
<span class="lineno"> 29</span>         
<span class="lineno"> 30</span>         <span class="nc">.title</span> <span class="p">{</span>
<span class="lineno"> 31</span>             <span class="na">margin-right</span><span class="o">:</span> <span class="mi">5</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno"> 32</span>             <span class="na">font-weight</span><span class="o">:</span> <span class="no">bold</span><span class="p">;</span>
<span class="lineno"> 33</span>         <span class="p">}</span>
<span class="lineno"> 34</span>     <span class="p">}</span>
<span class="lineno"> 35</span>     
<span class="lineno"> 36</span>     <span class="nc">.bottom</span> <span class="p">{</span>
<span class="lineno"> 37</span>         <span class="na">margin</span><span class="o">:</span> <span class="mi">8</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno"> 38</span>         <span class="na">margin-right</span><span class="o">:</span><span class="mi">12</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno"> 39</span>         <span class="na">text-align</span><span class="o">:</span> <span class="no">right</span><span class="p">;</span>
<span class="lineno"> 40</span>     <span class="p">}</span>
<span class="lineno"> 41</span> <span class="p">}</span>
<span class="lineno"> 42</span> 
<span class="lineno"> 43</span> <span class="nv">$qs</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">255</span><span class="o">,</span><span class="mi">127</span><span class="o">,</span><span class="mi">80</span><span class="o">,</span><span class="mi">1</span><span class="p">);</span>
<span class="lineno"> 44</span> <span class="nv">$caq</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">132</span><span class="o">,</span><span class="mi">112</span><span class="o">,</span><span class="mi">255</span><span class="o">,</span><span class="mi">1</span><span class="p">);</span>
<span class="lineno"> 45</span> <span class="nv">$plq</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">200</span><span class="o">,</span><span class="mi">0</span><span class="o">,</span><span class="mi">0</span><span class="o">,</span><span class="mi">1</span><span class="p">);</span>
<span class="lineno"> 46</span> <span class="nv">$pq</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">0</span><span class="o">,</span><span class="mi">0</span><span class="o">,</span><span class="mi">128</span><span class="o">,</span><span class="mi">1</span><span class="p">);</span>
<span class="lineno"> 47</span> <span class="nv">$on</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">8</span><span class="o">,</span><span class="mi">8</span><span class="o">,</span><span class="mi">255</span><span class="o">,</span> <span class="mi">1</span><span class="p">);</span>
<span class="lineno"> 48</span> <span class="nv">$vert</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">0</span><span class="o">,</span><span class="mi">128</span><span class="o">,</span><span class="mi">0</span><span class="o">,</span><span class="mi">1</span><span class="p">);</span>
<span class="lineno"> 49</span> <span class="nv">$trans</span><span class="o">:</span> <span class="mi">0</span><span class="mf">.3</span><span class="p">;</span>
<span class="lineno"> 50</span> <span class="nv">$pin_trans</span><span class="o">:</span> <span class="mi">0</span><span class="mf">.9</span><span class="p">;</span>
<span class="lineno"> 51</span> 
<span class="lineno"> 52</span> <span class="nc">.district.pq</span> <span class="p">{</span>
<span class="lineno"> 53</span>     <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$pq</span><span class="o">,</span> <span class="nv">$trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 54</span> <span class="p">}</span>
<span class="lineno"> 55</span> 
<span class="lineno"> 56</span> <span class="nc">.district.plq</span> <span class="p">{</span>
<span class="lineno"> 57</span>     <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$plq</span><span class="o">,</span> <span class="nv">$trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 58</span> <span class="p">}</span>
<span class="lineno"> 59</span> 
<span class="lineno"> 60</span> <span class="nc">.district.caq</span> <span class="p">{</span>
<span class="lineno"> 61</span>     <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$caq</span><span class="o">,</span> <span class="nv">$trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 62</span> <span class="p">}</span>
<span class="lineno"> 63</span> 
<span class="lineno"> 64</span> <span class="nc">.district.qs</span> <span class="p">{</span>
<span class="lineno"> 65</span>     <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$qs</span><span class="o">,</span> <span class="mi">0</span><span class="mf">.7</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 66</span> <span class="p">}</span>
<span class="lineno"> 67</span> 
<span class="lineno"> 68</span> <span class="nc">.district.on</span> <span class="p">{</span>
<span class="lineno"> 69</span>     <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$on</span><span class="o">,</span> <span class="nv">$trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 70</span> <span class="p">}</span>
<span class="lineno"> 71</span> 
<span class="lineno"> 72</span> <span class="nc">.district.vert</span> <span class="p">{</span>
<span class="lineno"> 73</span>     <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$vert</span><span class="o">,</span> <span class="nv">$trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 74</span> <span class="p">}</span>
<span class="lineno"> 75</span> <span class="nc">.pin.pq</span> <span class="p">{</span>
<span class="lineno"> 76</span>     <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$pq</span><span class="o">,</span> <span class="nv">$pin_trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 77</span> <span class="p">}</span>
<span class="lineno"> 78</span> 
<span class="lineno"> 79</span> <span class="nc">.pin.plq</span> <span class="p">{</span>
<span class="lineno"> 80</span>     <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$plq</span><span class="o">,</span> <span class="nv">$pin_trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 81</span> <span class="p">}</span>
<span class="lineno"> 82</span> 
<span class="lineno"> 83</span> <span class="nc">.pin.caq</span> <span class="p">{</span>
<span class="lineno"> 84</span>     <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$caq</span><span class="o">,</span> <span class="nv">$pin_trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 85</span> <span class="p">}</span>
<span class="lineno"> 86</span> 
<span class="lineno"> 87</span> <span class="nc">.pin.qs</span> <span class="p">{</span>
<span class="lineno"> 88</span>     <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$qs</span><span class="o">,</span> <span class="mi">1</span><span class="mf">.0</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 89</span> <span class="p">}</span>
<span class="lineno"> 90</span> 
<span class="lineno"> 91</span> <span class="nc">.pin.on</span> <span class="p">{</span>
<span class="lineno"> 92</span>     <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$on</span><span class="o">,</span> <span class="nv">$pin_trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 93</span> <span class="p">}</span>
<span class="lineno"> 94</span> 
<span class="lineno"> 95</span> <span class="nc">.pin.vert</span> <span class="p">{</span>
<span class="lineno"> 96</span>     <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$vert</span><span class="o">,</span> <span class="nv">$pin_trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 97</span> <span class="p">}</span>
<span class="lineno"> 98</span> 
<span class="lineno"> 99</span> 
<span class="lineno">100</span> 
<span class="lineno">101</span> <span class="nc">.province</span> <span class="p">{</span>
<span class="lineno">102</span>     <span class="nt">fill</span><span class="nd">:none</span><span class="o">;</span>
<span class="lineno">103</span> <span class="p">}</span>
<span class="lineno">104</span> 
<span class="lineno">105</span> <span class="nc">.province.CA-QC</span> <span class="p">{</span>
<span class="lineno">106</span>     <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">192</span><span class="o">,</span><span class="mi">192</span><span class="o">,</span><span class="mi">192</span><span class="o">,</span><span class="mi">0</span><span class="mf">.5</span><span class="p">);</span>
<span class="lineno">107</span>     <span class="na">stroke</span><span class="o">:</span> <span class="mh">#777</span><span class="p">;</span>
<span class="lineno">108</span>     <span class="na">stroke-linejoin</span><span class="o">:</span> <span class="n">round</span><span class="p">;</span>
<span class="lineno">109</span> <span class="p">}</span>
<span class="lineno">110</span> 
<span class="lineno">111</span> 
<span class="lineno">112</span> <span class="nc">.district</span> <span class="p">{</span>
<span class="lineno">113</span>     <span class="na">fill</span><span class="o">:</span> <span class="no">none</span><span class="p">;</span>
<span class="lineno">114</span>     <span class="na">stroke</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nb">yellow</span><span class="o">,</span> <span class="nv">$trans</span><span class="p">);</span>
<span class="lineno">115</span>     <span class="na">stroke-dasharray</span><span class="o">:</span><span class="mi">3</span><span class="o">,</span><span class="mi">2</span><span class="p">;</span>
<span class="lineno">116</span>     <span class="na">stroke-linejoin</span><span class="o">:</span> <span class="n">round</span><span class="p">;</span>
<span class="lineno">117</span> <span class="p">}</span>
</pre></div>
</body>
</html>
