<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <style type="text/css">
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
pre { line-height: 125%; }
body .hll { background-color: #ffffcc }
body  { background: #ffffff; }
body .c { color: #888888 } /* Comment */
body .err { color: #FF0000; background-color: #FFAAAA } /* Error */
body .k { color: #008800; font-weight: bold } /* Keyword */
body .o { color: #333333 } /* Operator */
body .cm { color: #888888 } /* Comment.Multiline */
body .cp { color: #557799 } /* Comment.Preproc */
body .c1 { color: #888888 } /* Comment.Single */
body .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
body .gd { color: #A00000 } /* Generic.Deleted */
body .ge { font-style: italic } /* Generic.Emph */
body .gr { color: #FF0000 } /* Generic.Error */
body .gh { color: #000080; font-weight: bold } /* Generic.Heading */
body .gi { color: #00A000 } /* Generic.Inserted */
body .go { color: #888888 } /* Generic.Output */
body .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
body .gs { font-weight: bold } /* Generic.Strong */
body .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
body .gt { color: #0044DD } /* Generic.Traceback */
body .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
body .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
body .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
body .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
body .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
body .kt { color: #333399; font-weight: bold } /* Keyword.Type */
body .m { color: #6600EE; font-weight: bold } /* Literal.Number */
body .s { background-color: #fff0f0 } /* Literal.String */
body .na { color: #0000CC } /* Name.Attribute */
body .nb { color: #007020 } /* Name.Builtin */
body .nc { color: #BB0066; font-weight: bold } /* Name.Class */
body .no { color: #003366; font-weight: bold } /* Name.Constant */
body .nd { color: #555555; font-weight: bold } /* Name.Decorator */
body .ni { color: #880000; font-weight: bold } /* Name.Entity */
body .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
body .nf { color: #0066BB; font-weight: bold } /* Name.Function */
body .nl { color: #997700; font-weight: bold } /* Name.Label */
body .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
body .nt { color: #007700 } /* Name.Tag */
body .nv { color: #996633 } /* Name.Variable */
body .ow { color: #000000; font-weight: bold } /* Operator.Word */
body .w { color: #bbbbbb } /* Text.Whitespace */
body .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
body .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
body .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
body .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
body .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
body .sc { color: #0044DD } /* Literal.String.Char */
body .sd { color: #DD4422 } /* Literal.String.Doc */
body .s2 { background-color: #fff0f0 } /* Literal.String.Double */
body .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
body .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
body .si { background-color: #eeeeee } /* Literal.String.Interpol */
body .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
body .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
body .s1 { background-color: #fff0f0 } /* Literal.String.Single */
body .ss { color: #AA6600 } /* Literal.String.Symbol */
body .bp { color: #007020 } /* Name.Builtin.Pseudo */
body .vc { color: #336699 } /* Name.Variable.Class */
body .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
body .vi { color: #3333BB } /* Name.Variable.Instance */
body .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */

  </style>
</head>
<body>
<h2></h2>

<div class="highlight"><pre><span class="lineno">  1</span> <span class="c1"># Place all the behaviors and hooks related to the matching controller here.</span>
<span class="lineno">  2</span> <span class="c1"># All this logic will automatically be available in application.js.</span>
<span class="lineno">  3</span> <span class="c1"># You can use CoffeeScript in this file: http://coffeescript.org/</span>
<span class="lineno">  4</span> <span class="c1">#</span>
<span class="lineno">  5</span> 
<span class="lineno">  6</span> <span class="nx">$</span> <span class="nf">-&gt;</span>
<span class="lineno">  7</span>     <span class="nv">ts = </span><span class="p">()</span> <span class="nf">-&gt;</span>
<span class="lineno">  8</span>         <span class="nx">moment</span><span class="p">().</span><span class="nx">format</span><span class="p">(</span><span class="s">&quot;ss.SSS&quot;</span><span class="p">)</span>
<span class="lineno">  9</span> 
<span class="lineno"> 10</span>     <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> Projet carte topo&quot;</span><span class="p">)</span>
<span class="lineno"> 11</span>     <span class="nx">$</span><span class="p">(</span><span class="s">&#39;body&#39;</span><span class="p">).</span><span class="nx">addClass</span><span class="p">(</span><span class="s">&#39;carte_topo&#39;</span><span class="p">)</span>
<span class="lineno"> 12</span>     
<span class="lineno"> 13</span>     <span class="nv">uniqueId = </span><span class="s">&quot;A8506231-215E-406A-B12D-EEEE97D7573A&quot;</span>
<span class="lineno"> 14</span>     <span class="nv">uniqueId2 = </span><span class="s">&quot;A8506231-215E-406A-B12D-EEEE97D7573A_resultats&quot;</span>
<span class="lineno"> 15</span>     
<span class="lineno"> 16</span>     <span class="nv">utmProjectionData = </span><span class="s">&#39;+proj=utm +zone=18 +ellps=GRS80 +units=m +no_defs&#39;</span>
<span class="lineno"> 17</span>     <span class="nv">utm = </span><span class="kc">null</span>
<span class="lineno"> 18</span>     <span class="nv">utm_res = </span><span class="kc">null</span>
<span class="lineno"> 19</span>     
<span class="lineno"> 20</span>     <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> utmProjectionData: </span><span class="si">#{</span><span class="nx">utmProjectionData</span> <span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno"> 21</span>     
<span class="lineno"> 22</span>     <span class="k">try</span>
<span class="lineno"> 23</span>         <span class="nv">utm = </span><span class="nx">proj4</span><span class="p">(</span><span class="nx">utmProjectionData</span><span class="p">)</span> 
<span class="lineno"> 24</span>         <span class="nv">utm_res = </span><span class="nx">proj4</span><span class="p">(</span><span class="nx">utm</span><span class="p">).</span><span class="nx">forward</span><span class="p">([</span><span class="o">-</span><span class="mf">73.551111</span><span class="p">,</span> <span class="mf">45.522222</span><span class="p">])</span>
<span class="lineno"> 25</span>         <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> UTM: </span><span class="si">#{</span><span class="nx">utm_res</span><span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno"> 26</span>         
<span class="lineno"> 27</span>         <span class="nv">dep = </span><span class="o">-</span><span class="mf">360.0</span>
<span class="lineno"> 28</span>         <span class="nv">pointSWutm = </span><span class="p">[</span><span class="mf">579064.81681</span><span class="p">,</span>  <span class="mf">5005567.0</span><span class="o">-</span><span class="nx">dep</span><span class="p">]</span>
<span class="lineno"> 29</span>         <span class="nv">pointNEutm = </span><span class="p">[</span><span class="mf">682075.92803</span><span class="p">,</span>  <span class="mf">5070213.0</span><span class="o">-</span><span class="nx">dep</span><span class="p">]</span>
<span class="lineno"> 30</span>         
<span class="lineno"> 31</span>         <span class="nv">pointSW = </span><span class="nx">proj4</span><span class="p">(</span><span class="nx">utm</span><span class="p">).</span><span class="nx">inverse</span><span class="p">(</span><span class="nx">pointSWutm</span><span class="p">)</span>
<span class="lineno"> 32</span>         <span class="nv">pointNE = </span><span class="nx">proj4</span><span class="p">(</span><span class="nx">utm</span><span class="p">).</span><span class="nx">inverse</span><span class="p">(</span><span class="nx">pointNEutm</span><span class="p">)</span>
<span class="lineno"> 33</span>         
<span class="lineno"> 34</span>         <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> SW: </span><span class="si">#{</span><span class="nx">pointSW</span><span class="p">[</span><span class="mi">0</span><span class="p">].</span><span class="nx">toFixed</span><span class="p">(</span><span class="mi">3</span><span class="p">)</span><span class="si">}</span><span class="s"> </span><span class="si">#{</span><span class="nx">pointSW</span><span class="p">[</span><span class="mi">1</span><span class="p">].</span><span class="nx">toFixed</span><span class="p">(</span><span class="mi">3</span><span class="p">)</span><span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno"> 35</span>         <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> NE: </span><span class="si">#{</span><span class="nx">pointNE</span><span class="p">[</span><span class="mi">0</span><span class="p">].</span><span class="nx">toFixed</span><span class="p">(</span><span class="mi">3</span><span class="p">)</span><span class="si">}</span><span class="s"> </span><span class="si">#{</span><span class="nx">pointNE</span><span class="p">[</span><span class="mi">1</span><span class="p">].</span><span class="nx">toFixed</span><span class="p">(</span><span class="mi">3</span><span class="p">)</span><span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno"> 36</span>         
<span class="lineno"> 37</span>     <span class="k">catch</span> <span class="nx">e</span>
<span class="lineno"> 38</span>         <span class="nx">console</span><span class="p">.</span><span class="nx">error</span><span class="p">(</span><span class="s">&quot;proj4 init returned error: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">message</span><span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno"> 39</span>     
<span class="lineno"> 40</span>     <span class="k">try</span>
<span class="lineno"> 41</span>         <span class="nv">mr = </span><span class="nx">mgrs</span><span class="p">.</span><span class="nx">forward</span><span class="p">([</span><span class="o">-</span><span class="mf">73.551111111</span><span class="p">,</span> <span class="mf">45.522222222</span><span class="p">],</span><span class="mi">3</span><span class="p">)</span>
<span class="lineno"> 42</span>         <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> </span><span class="si">#{</span><span class="nx">mr</span><span class="p">[</span><span class="mi">0</span><span class="p">..</span><span class="mi">2</span><span class="p">]</span><span class="si">}</span><span class="s"> </span><span class="si">#{</span><span class="nx">mr</span><span class="p">[</span><span class="mi">3</span><span class="p">..</span><span class="mi">4</span><span class="p">]</span><span class="si">}</span><span class="s"> </span><span class="si">#{</span><span class="nx">mr</span><span class="p">[</span><span class="mi">5</span><span class="p">..</span><span class="mi">7</span><span class="p">]</span><span class="si">}</span><span class="s"> </span><span class="si">#{</span><span class="nx">mr</span><span class="p">[</span><span class="mi">8</span><span class="p">..</span><span class="mi">10</span><span class="p">]</span><span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno"> 43</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#position .top .zone&#39;</span><span class="p">).</span><span class="nx">text</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">mr</span><span class="p">[</span><span class="mi">0</span><span class="p">..</span><span class="mi">2</span><span class="p">]</span><span class="si">}</span><span class="s"> </span><span class="si">#{</span><span class="nx">mr</span><span class="p">[</span><span class="mi">3</span><span class="p">..</span><span class="mi">4</span><span class="p">]</span><span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno"> 44</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#position .bottom&#39;</span><span class="p">).</span><span class="nx">text</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">mr</span><span class="p">[</span><span class="mi">5</span><span class="p">..</span><span class="mi">7</span><span class="p">]</span><span class="si">}</span><span class="s"> </span><span class="si">#{</span><span class="nx">mr</span><span class="p">[</span><span class="mi">8</span><span class="p">..</span><span class="mi">10</span><span class="p">]</span><span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno"> 45</span>     <span class="k">catch</span> <span class="nx">e</span>
<span class="lineno"> 46</span>         <span class="nx">console</span><span class="p">.</span><span class="nx">error</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> Error while getting mgrs conversion: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">message</span><span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno"> 47</span>         
<span class="lineno"> 48</span>     <span class="nv">image_url = </span><span class="s">&quot;/31H_250K.jpeg&quot;</span>
<span class="lineno"> 49</span>     <span class="nv">imageBounds = </span><span class="nx">L</span><span class="p">.</span><span class="nx">latLngBounds</span><span class="p">([[</span><span class="nx">pointSW</span><span class="p">[</span><span class="mi">1</span><span class="p">],</span><span class="nx">pointSW</span><span class="p">[</span><span class="mi">0</span><span class="p">]],</span> <span class="p">[</span><span class="nx">pointNE</span><span class="p">[</span><span class="mi">1</span><span class="p">],</span><span class="nx">pointNE</span><span class="p">[</span><span class="mi">0</span><span class="p">]]])</span>
<span class="lineno"> 50</span>     
<span class="lineno"> 51</span>     <span class="nv">map = </span><span class="k">new</span> <span class="nx">L</span><span class="p">.</span><span class="nx">Map</span><span class="p">(</span><span class="s">&quot;map&quot;</span><span class="p">,</span> <span class="p">{</span>
<span class="lineno"> 52</span>             <span class="nv">center: </span><span class="p">[</span><span class="mf">45.53</span><span class="p">,</span> <span class="o">-</span><span class="mf">73.5</span><span class="p">],</span> 
<span class="lineno"> 53</span>             <span class="nv">zoom: </span><span class="mi">10</span><span class="p">,</span>
<span class="lineno"> 54</span>             <span class="nx">minZoom</span><span class="o">:</span><span class="mi">10</span><span class="p">,</span>
<span class="lineno"> 55</span>             <span class="nx">maxZoom</span><span class="o">:</span><span class="mi">10</span><span class="p">,</span>
<span class="lineno"> 56</span>             <span class="nx">zoomControl</span><span class="o">:</span><span class="kc">false</span><span class="p">})</span>
<span class="lineno"> 57</span>                 <span class="c1">#.addLayer(new L.TileLayer(&quot;http://{s}.tile.osm.org/{z}/{x}/{y}.png&quot;,</span>
<span class="lineno"> 58</span>                 <span class="c1">#           {   attribution: &quot;&amp;copy; &lt;a href=\&quot;http://osm.org/copyright\&quot;&gt;OpenStreetMap&lt;/a&gt; contributors &quot; +</span>
<span class="lineno"> 59</span>                 <span class="c1">#           &quot;| &amp;copy &lt;a href=\&quot;http://www.electionsquebec.qc.ca\&quot;&gt;Le Directeur général des élections du Québec&quot;}))</span>
<span class="lineno"> 60</span>     <span class="c1">#.fitBounds(imageBounds)</span>
<span class="lineno"> 61</span>     <span class="k">try</span>
<span class="lineno"> 62</span>         <span class="nv">overlay = </span><span class="nx">L</span><span class="p">.</span><span class="nx">imageOverlay</span><span class="p">(</span><span class="nx">image_url</span> <span class="p">,</span> <span class="nx">imageBounds</span><span class="p">)</span>
<span class="lineno"> 63</span>             <span class="p">.</span><span class="nx">addTo</span><span class="p">(</span><span class="nx">map</span><span class="p">)</span>
<span class="lineno"> 64</span>     <span class="k">catch</span> <span class="nx">e</span>
<span class="lineno"> 65</span>         <span class="nx">console</span><span class="p">.</span><span class="nx">error</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> EXCEPTION while adding image to map: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">message</span><span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno"> 66</span>         
<span class="lineno"> 67</span>     <span class="nx">map</span><span class="p">.</span><span class="nx">dragging</span><span class="p">.</span><span class="nx">disable</span><span class="p">();</span>
<span class="lineno"> 68</span>     <span class="nx">map</span><span class="p">.</span><span class="nx">touchZoom</span><span class="p">.</span><span class="nx">disable</span><span class="p">();</span>
<span class="lineno"> 69</span>     <span class="nx">map</span><span class="p">.</span><span class="nx">doubleClickZoom</span><span class="p">.</span><span class="nx">disable</span><span class="p">();</span>
<span class="lineno"> 70</span>     <span class="nx">map</span><span class="p">.</span><span class="nx">scrollWheelZoom</span><span class="p">.</span><span class="nx">disable</span><span class="p">();</span>
<span class="lineno"> 71</span>     <span class="nx">map</span><span class="p">.</span><span class="nx">boxZoom</span><span class="p">.</span><span class="nx">disable</span><span class="p">();</span>
<span class="lineno"> 72</span>     <span class="nx">map</span><span class="p">.</span><span class="nx">keyboard</span><span class="p">.</span><span class="nx">disable</span><span class="p">();</span>
<span class="lineno"> 73</span>         
<span class="lineno"> 74</span>     <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> Map creation completed, adding D3 layer&quot;</span><span class="p">)</span>
<span class="lineno"> 75</span>     
<span class="lineno"> 76</span>     <span class="k">try</span>
<span class="lineno"> 77</span>         <span class="c1">#create the overlay d3 layer</span>
<span class="lineno"> 78</span>         <span class="nv">svg = </span><span class="nx">d3</span><span class="p">.</span><span class="nx">select</span><span class="p">(</span><span class="nx">map</span><span class="p">.</span><span class="nx">getPanes</span><span class="p">().</span><span class="nx">overlayPane</span><span class="p">).</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;svg&quot;</span><span class="p">)</span>
<span class="lineno"> 79</span>         <span class="nv">g = </span><span class="nx">svg</span><span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;g&quot;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="s">&quot;leaflet-zoom-hide&quot;</span><span class="p">)</span>
<span class="lineno"> 80</span>     <span class="k">catch</span> <span class="nx">e</span>
<span class="lineno"> 81</span>         <span class="nx">console</span><span class="p">.</span><span class="nx">error</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> EXCEPTION while creating svg/g: </span><span class="si">#{</span><span class="nx">e</span><span class="p">.</span><span class="nx">message</span><span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno"> 82</span>         
<span class="lineno"> 83</span>     <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> d3 layer created. About to load data&quot;</span><span class="p">)</span>
<span class="lineno"> 84</span> 
<span class="lineno"> 85</span>     <span class="nv">drawConstituenciesHasCompleted = </span><span class="kc">false</span>
<span class="lineno"> 86</span>     <span class="c1">#utility functions</span>
<span class="lineno"> 87</span>     <span class="nv">projectPoint = </span><span class="nf">(x, y) -&gt;</span>
<span class="lineno"> 88</span>         <span class="nv">point = </span><span class="nx">map</span><span class="p">.</span><span class="nx">latLngToLayerPoint</span><span class="p">(</span><span class="k">new</span> <span class="nx">L</span><span class="p">.</span><span class="nx">LatLng</span><span class="p">(</span><span class="nx">y</span><span class="p">,</span> <span class="nx">x</span><span class="p">))</span>
<span class="lineno"> 89</span>         <span class="k">this</span><span class="p">.</span><span class="nx">stream</span><span class="p">.</span><span class="nx">point</span><span class="p">(</span><span class="nx">point</span><span class="p">.</span><span class="nx">x</span><span class="p">,</span> <span class="nx">point</span><span class="p">.</span><span class="nx">y</span><span class="p">)</span>
<span class="lineno"> 90</span> 
<span class="lineno"> 91</span>     
<span class="lineno"> 92</span>     
<span class="lineno"> 93</span>     <span class="c1">#Get the overlay data used to draw constituencies lines</span>
<span class="lineno"> 94</span> 
<span class="lineno"> 95</span>     <span class="nv">drawConstituencies = </span><span class="nf">(data) -&gt;</span>  
<span class="lineno"> 96</span>         <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> data loaded, building the districts&quot;</span><span class="p">)</span>
<span class="lineno"> 97</span>         
<span class="lineno"> 98</span>         <span class="c1">##We work only with this portion of the file.</span>
<span class="lineno"> 99</span>         <span class="nv">geojsondata = </span><span class="nx">topojson</span><span class="p">.</span><span class="nx">feature</span><span class="p">(</span><span class="nx">data</span><span class="p">,</span> <span class="nx">data</span><span class="p">.</span><span class="nx">objects</span><span class="p">.</span><span class="nx">electionsQC</span><span class="p">)</span>
<span class="lineno">100</span>         
<span class="lineno">101</span>         <span class="c1">## The reset() function redraw the map and update the path of every</span>
<span class="lineno">102</span>         <span class="c1">## district area. It is called when zooming in and out.</span>
<span class="lineno">103</span>         <span class="nv">reset = </span><span class="p">()</span> <span class="nf">-&gt;</span>
<span class="lineno">104</span>             <span class="c1">##Reset the corners of the svg </span>
<span class="lineno">105</span>             <span class="nv">bounds = </span><span class="nx">path</span><span class="p">.</span><span class="nx">bounds</span><span class="p">(</span><span class="nx">geojsondata</span><span class="p">)</span>
<span class="lineno">106</span>             <span class="nv">topLeft = </span><span class="nx">bounds</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span>
<span class="lineno">107</span>             <span class="nv">bottomRight = </span><span class="nx">bounds</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span>
<span class="lineno">108</span>             <span class="nx">svg</span><span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;width&quot;</span><span class="p">,</span> <span class="nx">bottomRight</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span> <span class="o">-</span> <span class="nx">topLeft</span><span class="p">[</span><span class="mi">0</span><span class="p">])</span>
<span class="lineno">109</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;height&quot;</span><span class="p">,</span> <span class="nx">bottomRight</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span> <span class="o">-</span> <span class="nx">topLeft</span><span class="p">[</span><span class="mi">1</span><span class="p">])</span>
<span class="lineno">110</span>                 <span class="p">.</span><span class="nx">style</span><span class="p">(</span><span class="s">&quot;left&quot;</span><span class="p">,</span> <span class="nx">topLeft</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span> <span class="o">+</span> <span class="s">&quot;px&quot;</span><span class="p">)</span>
<span class="lineno">111</span>                 <span class="p">.</span><span class="nx">style</span><span class="p">(</span><span class="s">&quot;top&quot;</span><span class="p">,</span> <span class="nx">topLeft</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span> <span class="o">+</span> <span class="s">&quot;px&quot;</span><span class="p">)</span>
<span class="lineno">112</span>             <span class="nx">g</span><span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;transform&quot;</span><span class="p">,</span> <span class="s">&quot;translate(&quot;</span> <span class="o">+</span> <span class="o">-</span><span class="nx">topLeft</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span> <span class="o">+</span> <span class="s">&quot;,&quot;</span> <span class="o">+</span> <span class="o">-</span><span class="nx">topLeft</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span> <span class="o">+</span> <span class="s">&quot;)&quot;</span><span class="p">)</span>
<span class="lineno">113</span>             
<span class="lineno">114</span>             <span class="c1">## Redraw the distrist borders using a new zoomed projection</span>
<span class="lineno">115</span>             <span class="nx">feature</span><span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;d&quot;</span><span class="p">,</span> <span class="nx">path</span><span class="p">)</span>
<span class="lineno">116</span>             
<span class="lineno">117</span>             <span class="k">if</span> <span class="p">(</span><span class="nx">cercles</span> <span class="o">!=</span> <span class="kc">null</span><span class="p">)</span>
<span class="lineno">118</span>                 <span class="nx">cercles</span>
<span class="lineno">119</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;transform&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">120</span>                         <span class="nv">centroid = </span><span class="nx">map</span><span class="p">.</span><span class="nx">latLngToLayerPoint</span><span class="p">(</span><span class="nx">d</span><span class="p">.</span><span class="nx">latLng</span><span class="p">)</span>
<span class="lineno">121</span>                         <span class="s">&quot;translate(</span><span class="si">#{</span><span class="nx">centroid</span><span class="p">.</span><span class="nx">x</span><span class="si">}</span><span class="s">, </span><span class="si">#{</span><span class="nx">centroid</span><span class="p">.</span><span class="nx">y</span><span class="si">}</span><span class="s">)&quot;</span><span class="p">)</span>
<span class="lineno">122</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;visibility&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">123</span>                         <span class="nv">rep = </span><span class="s">&quot;novalue&quot;</span>
<span class="lineno">124</span>                         <span class="k">if</span> <span class="nx">path</span><span class="p">.</span><span class="nx">area</span><span class="p">(</span><span class="nx">d</span><span class="p">)</span><span class="o">&lt;</span><span class="mf">500.0</span> 
<span class="lineno">125</span>                             <span class="nv">rep = </span><span class="s">&quot;hidden&quot;</span>
<span class="lineno">126</span>                         <span class="k">else</span>
<span class="lineno">127</span>                             <span class="nv">rep = </span><span class="s">&quot;inherit&quot;</span>
<span class="lineno">128</span>                             
<span class="lineno">129</span>                         <span class="c1">#console.log(&quot;#{d.properties.name} area: #{path.area(d)}  ––  #{rep}&quot;)</span>
<span class="lineno">130</span>                         <span class="nx">rep</span><span class="p">)</span>
<span class="lineno">131</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;district_area&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">132</span>                         <span class="nx">path</span><span class="p">.</span><span class="nx">area</span><span class="p">(</span><span class="nx">d</span><span class="p">))</span>
<span class="lineno">133</span>         
<span class="lineno">134</span>         
<span class="lineno">135</span>         
<span class="lineno">136</span>         <span class="c1">#setup the transformation mecanism</span>
<span class="lineno">137</span>         <span class="nv">transform = </span><span class="nx">d3</span><span class="p">.</span><span class="nx">geo</span><span class="p">.</span><span class="nx">transform</span><span class="p">({</span><span class="nv">point: </span><span class="nx">projectPoint</span><span class="p">})</span>
<span class="lineno">138</span>         <span class="nv">path = </span><span class="nx">d3</span><span class="p">.</span><span class="nx">geo</span><span class="p">.</span><span class="nx">path</span><span class="p">().</span><span class="nx">projection</span><span class="p">(</span><span class="nx">transform</span><span class="p">)</span>
<span class="lineno">139</span>         
<span class="lineno">140</span>         <span class="c1"># Add the district to the map</span>
<span class="lineno">141</span>         <span class="nv">feature = </span><span class="nx">g</span><span class="p">.</span><span class="nx">selectAll</span><span class="p">(</span><span class="s">&quot;.district&quot;</span><span class="p">)</span>
<span class="lineno">142</span>             <span class="p">.</span><span class="nx">data</span><span class="p">(</span><span class="nx">geojsondata</span><span class="p">.</span><span class="nx">features</span><span class="p">)</span>
<span class="lineno">143</span>             <span class="p">.</span><span class="nx">enter</span><span class="p">()</span>
<span class="lineno">144</span>             <span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;path&quot;</span><span class="p">)</span>
<span class="lineno">145</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;id&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">146</span>                     <span class="nx">d</span><span class="p">.</span><span class="nx">id</span><span class="p">)</span>
<span class="lineno">147</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">148</span>                     <span class="s">&quot;district d&quot;</span> <span class="o">+</span> <span class="nx">d</span><span class="p">.</span><span class="nx">id</span><span class="p">)</span>
<span class="lineno">149</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;name&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">150</span>                     <span class="nx">d</span><span class="p">.</span><span class="nx">properties</span><span class="p">.</span><span class="nx">name</span> <span class="o">+</span> <span class="s">&quot; QC&quot;</span><span class="p">)</span>
<span class="lineno">151</span>                     
<span class="lineno">152</span>         <span class="c1"># And the dot</span>
<span class="lineno">153</span>         <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> pinning with 2nd...&quot;</span><span class="p">)</span>
<span class="lineno">154</span>         <span class="nv">cercles = </span><span class="nx">g</span><span class="p">.</span><span class="nx">selectAll</span><span class="p">(</span><span class="s">&quot;circle.pin&quot;</span><span class="p">)</span>
<span class="lineno">155</span>             <span class="p">.</span><span class="nx">data</span><span class="p">(</span><span class="nx">geojsondata</span><span class="p">.</span><span class="nx">features</span><span class="p">)</span>
<span class="lineno">156</span>             <span class="p">.</span><span class="nx">enter</span><span class="p">()</span>
<span class="lineno">157</span>             <span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;circle&quot;</span><span class="p">)</span>
<span class="lineno">158</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;id&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">159</span>                     <span class="s">&quot;c&quot;</span> <span class="o">+</span> <span class="nx">d</span><span class="p">.</span><span class="nx">id</span><span class="p">)</span>
<span class="lineno">160</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;name&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">161</span>                     <span class="nx">d</span><span class="p">.</span><span class="nx">properties</span><span class="p">.</span><span class="nx">name</span><span class="p">)</span>
<span class="lineno">162</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;district_area&quot;</span><span class="p">,</span> <span class="s">&quot;nil&quot;</span><span class="p">)</span>
<span class="lineno">163</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="s">&quot;pin&quot;</span><span class="p">)</span>
<span class="lineno">164</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;transform&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">165</span>                     <span class="nv">centroid = </span><span class="nx">path</span><span class="p">.</span><span class="nx">centroid</span><span class="p">(</span><span class="nx">d</span><span class="p">)</span>
<span class="lineno">166</span>                     <span class="nv">d.latLng = </span><span class="nx">map</span><span class="p">.</span><span class="nx">layerPointToLatLng</span><span class="p">(</span><span class="nx">centroid</span> <span class="p">)</span>
<span class="lineno">167</span>                     <span class="s">&quot;translate(</span><span class="si">#{</span><span class="nx">centroid</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span><span class="si">}</span><span class="s">, </span><span class="si">#{</span><span class="nx">centroid</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span><span class="si">}</span><span class="s">)&quot;</span><span class="p">)</span>
<span class="lineno">168</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;r&quot;</span><span class="p">,</span> <span class="s">&quot;5&quot;</span><span class="p">)</span>
<span class="lineno">169</span>         
<span class="lineno">170</span>                 
<span class="lineno">171</span>         <span class="c1">#make sure when the map is zoomed, the reset is called, and</span>
<span class="lineno">172</span>         <span class="c1">#call reset anayway to complete the district drawing process        </span>
<span class="lineno">173</span>         <span class="nx">map</span><span class="p">.</span><span class="nx">on</span><span class="p">(</span><span class="s">&quot;viewreset&quot;</span><span class="p">,</span> <span class="nx">reset</span><span class="p">);</span>
<span class="lineno">174</span>         <span class="nx">reset</span><span class="p">();</span>
<span class="lineno">175</span>         
<span class="lineno">176</span> 
<span class="lineno">177</span>         <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> Constituencies drawing completed!&quot;</span><span class="p">)</span>
<span class="lineno">178</span>         <span class="nv">drawConstituenciesHasCompleted = </span><span class="kc">true</span>
<span class="lineno">179</span> 
<span class="lineno">180</span> 
<span class="lineno">181</span> 
<span class="lineno">182</span>     
<span class="lineno">183</span>     <span class="nv">displayResults = </span><span class="nf">(elections2014) -&gt;</span>
<span class="lineno">184</span>         
<span class="lineno">185</span>         <span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nx">drawConstituenciesHasCompleted</span><span class="p">)</span>
<span class="lineno">186</span>             <span class="nx">setTimeout</span> <span class="p">(</span> <span class="nf">-&gt;</span>
<span class="lineno">187</span>                 <span class="nx">displayResults</span><span class="p">(</span><span class="nx">elections2014</span><span class="p">)</span>
<span class="lineno">188</span>             <span class="p">),</span> <span class="mi">2500</span>
<span class="lineno">189</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> posponing result display... base map not ready&quot;</span><span class="p">)</span>
<span class="lineno">190</span>             <span class="k">return</span>
<span class="lineno">191</span>         
<span class="lineno">192</span>         <span class="nv">circonscriptions = </span><span class="nx">elections2014</span><span class="p">.</span><span class="nx">circonscriptions</span>
<span class="lineno">193</span>         <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> circonscriptions loaded (</span><span class="si">#{</span><span class="nx">circonscriptions</span><span class="p">.</span><span class="nx">length</span><span class="si">}</span><span class="s">)&quot;</span><span class="p">)</span>
<span class="lineno">194</span>         <span class="k">for</span> <span class="nx">circonscription</span><span class="p">,</span> <span class="nx">i</span> <span class="k">in</span> <span class="nx">circonscriptions</span> 
<span class="lineno">195</span>             <span class="nv">numero = </span><span class="nx">circonscription</span><span class="p">.</span><span class="nx">numeroCirconscription</span>
<span class="lineno">196</span>             <span class="nv">candidats = </span><span class="nx">circonscription</span><span class="p">.</span><span class="nx">candidats</span>
<span class="lineno">197</span>             <span class="nv">partiElu = </span><span class="nx">candidats</span><span class="p">[</span><span class="mi">0</span><span class="p">].</span><span class="nx">numeroPartiPolitique</span>
<span class="lineno">198</span>             <span class="nv">partiSecond = </span><span class="nx">candidats</span><span class="p">[</span><span class="mi">1</span><span class="p">].</span><span class="nx">numeroPartiPolitique</span>
<span class="lineno">199</span>             <span class="nv">classeParti = </span><span class="s">&quot;&quot;</span>
<span class="lineno">200</span>             
<span class="lineno">201</span>             <span class="k">if</span> <span class="nx">partiElu</span> <span class="o">&gt;</span> <span class="mi">0</span>
<span class="lineno">202</span>                 <span class="k">switch</span> <span class="nx">partiElu</span>
<span class="lineno">203</span>                     <span class="k">when</span> <span class="mi">6</span> <span class="k">then</span> <span class="nv">classeParti = </span><span class="s">&quot;plq&quot;</span>
<span class="lineno">204</span>                     <span class="k">when</span> <span class="mi">8</span> <span class="k">then</span> <span class="nv">classeParti = </span><span class="s">&quot;pq&quot;</span>
<span class="lineno">205</span>                     <span class="k">when</span> <span class="mi">11</span> <span class="k">then</span> <span class="nv">classeParti = </span><span class="s">&quot;qs&quot;</span>
<span class="lineno">206</span>                     <span class="k">when</span> <span class="mi">27</span> <span class="k">then</span> <span class="nv">classeParti = </span><span class="s">&quot;caq&quot;</span>
<span class="lineno">207</span>                     <span class="k">else</span> <span class="nv">classeParti = </span><span class="s">&quot;autreParti&quot;</span>
<span class="lineno">208</span>                 <span class="nv">repere = </span><span class="s">&quot;path\#</span><span class="si">#{</span><span class="nx">numero</span><span class="si">}</span><span class="s">&quot;</span>
<span class="lineno">209</span>                 <span class="c1">#console.log(&quot;Assigning #{classeParti} to #{repere} - #{circonscription.nomCirconscription}&quot;)</span>
<span class="lineno">210</span>                 <span class="k">try</span> 
<span class="lineno">211</span>                     <span class="nx">$</span><span class="p">(</span><span class="nx">repere</span><span class="p">)[</span><span class="mi">0</span><span class="p">]</span>
<span class="lineno">212</span>                         <span class="p">.</span><span class="nx">setAttribute</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="s">&quot;district d</span><span class="si">#{</span><span class="nx">numero</span><span class="si">}</span><span class="s"> elu </span><span class="si">#{</span><span class="nx">classeParti</span><span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno">213</span>                 <span class="k">catch</span> <span class="nx">e</span>
<span class="lineno">214</span>                     <span class="nx">console</span><span class="p">.</span><span class="nx">error</span><span class="p">(</span><span class="s">&quot;EXCEPTION jQuery parti gagnant </span><span class="si">#{</span><span class="nx">repere</span><span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno">215</span> 
<span class="lineno">216</span>             <span class="k">if</span> <span class="nx">partiSecond</span> <span class="o">&gt;</span> <span class="mi">0</span>
<span class="lineno">217</span>                 <span class="k">switch</span> <span class="nx">partiSecond</span> 
<span class="lineno">218</span>                     <span class="k">when</span> <span class="mi">6</span> <span class="k">then</span> <span class="nv">classeParti = </span><span class="s">&quot;plq&quot;</span>
<span class="lineno">219</span>                     <span class="k">when</span> <span class="mi">8</span> <span class="k">then</span> <span class="nv">classeParti = </span><span class="s">&quot;pq&quot;</span>
<span class="lineno">220</span>                     <span class="k">when</span> <span class="mi">10</span> <span class="k">then</span> <span class="nv">classeParti = </span><span class="s">&quot;vert&quot;</span>
<span class="lineno">221</span>                     <span class="k">when</span> <span class="mi">11</span> <span class="k">then</span> <span class="nv">classeParti = </span><span class="s">&quot;qs&quot;</span>
<span class="lineno">222</span>                     <span class="k">when</span> <span class="mi">26</span> <span class="k">then</span> <span class="nv">classeParti = </span><span class="s">&quot;on&quot;</span>
<span class="lineno">223</span>                     <span class="k">when</span> <span class="mi">27</span> <span class="k">then</span> <span class="nv">classeParti = </span><span class="s">&quot;caq&quot;</span>
<span class="lineno">224</span>                     <span class="k">else</span> <span class="nv">classeParti = </span><span class="s">&quot;autreParti&quot;</span>
<span class="lineno">225</span>                 <span class="nv">repere = </span><span class="s">&quot;circle\#c</span><span class="si">#{</span><span class="nx">numero</span><span class="si">}</span><span class="s">&quot;</span>
<span class="lineno">226</span>                 <span class="c1">#console.log(&quot;Assigning pin #{classeParti} to #{repere} - #{circonscription.nomCirconscription}&quot;)</span>
<span class="lineno">227</span>                 <span class="k">try</span>
<span class="lineno">228</span>                     <span class="nx">$</span><span class="p">(</span><span class="nx">repere</span><span class="p">)[</span><span class="mi">0</span><span class="p">]</span>
<span class="lineno">229</span>                         <span class="p">.</span><span class="nx">setAttribute</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="s">&quot;pin d</span><span class="si">#{</span><span class="nx">numero</span><span class="si">}</span><span class="s"> second </span><span class="si">#{</span><span class="nx">classeParti</span><span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno">230</span>                 <span class="k">catch</span> <span class="nx">e</span>
<span class="lineno">231</span>                     <span class="nx">console</span><span class="p">.</span><span class="nx">error</span><span class="p">(</span><span class="s">&quot;EXCEPTION jQuery parti 2nd </span><span class="si">#{</span><span class="nx">repere</span><span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno">232</span>         
<span class="lineno">233</span>         <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> all items coloured accordint results&quot;</span><span class="p">)</span>
<span class="lineno">234</span>     
<span class="lineno">235</span> 
<span class="lineno">236</span>         
<span class="lineno">237</span> 
<span class="lineno">238</span>     
<span class="lineno">239</span>     
<span class="lineno">240</span> 
<span class="lineno">241</span>     <span class="c1">#start here</span>
<span class="lineno">242</span>     
<span class="lineno">243</span>     <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> starting&quot;</span><span class="p">)</span>
<span class="lineno">244</span>     <span class="nx">d3</span><span class="p">.</span><span class="nx">json</span> <span class="s">&quot;/ca.json&quot;</span><span class="p">,</span> <span class="nf">(error, data) -&gt;</span>
<span class="lineno">245</span>         <span class="k">if</span> <span class="p">(</span><span class="nx">error</span><span class="p">)</span>
<span class="lineno">246</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> error loading data </span><span class="si">#{</span><span class="nx">error</span><span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno">247</span>         <span class="k">else</span>
<span class="lineno">248</span>             <span class="c1">#save(data)</span>
<span class="lineno">249</span>             <span class="nx">drawConstituencies</span><span class="p">(</span><span class="nx">data</span><span class="p">)</span>
<span class="lineno">250</span>                 
<span class="lineno">251</span>     
<span class="lineno">252</span>     <span class="c1">#Load the last election result data</span>
<span class="lineno">253</span>     <span class="c1">#and set the area color (using CSS)</span>
<span class="lineno">254</span>     <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> loading results from server &quot;</span><span class="p">)</span>
<span class="lineno">255</span>     <span class="nx">d3</span><span class="p">.</span><span class="nx">json</span> <span class="s">&quot;/resultats.json&quot;</span><span class="p">,</span> <span class="nf">(error, elections2014) -&gt;</span>
<span class="lineno">256</span>         <span class="k">if</span> <span class="nx">error</span> 
<span class="lineno">257</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;Unable to load /resultats.json </span><span class="si">#{</span><span class="nx">error</span><span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno">258</span>             <span class="k">return</span>
<span class="lineno">259</span>         <span class="k">else</span>
<span class="lineno">260</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> /resultats.json finished loading results&quot;</span><span class="p">)</span>
<span class="lineno">261</span>             <span class="c1">#saveResults(elections2014)</span>
<span class="lineno">262</span>             
<span class="lineno">263</span>             <span class="nx">displayResults</span><span class="p">(</span><span class="nx">elections2014</span><span class="p">)</span>
<span class="lineno">264</span>                 
<span class="lineno">265</span>     <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> that&#39;s all folks!&quot;</span><span class="p">)</span>
<span class="lineno">266</span>                 
<span class="lineno">267</span> 
<span class="lineno">268</span>     
<span class="lineno">269</span>     
<span class="lineno">270</span>     
<span class="lineno">271</span>     
</pre></div>
</body>
</html>
