<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <style type="text/css">
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
pre { line-height: 125%; }
body .hll { background-color: #ffffcc }
body  { background: #ffffff; }
body .c { color: #888888 } /* Comment */
body .err { color: #FF0000; background-color: #FFAAAA } /* Error */
body .k { color: #008800; font-weight: bold } /* Keyword */
body .o { color: #333333 } /* Operator */
body .cm { color: #888888 } /* Comment.Multiline */
body .cp { color: #557799 } /* Comment.Preproc */
body .c1 { color: #888888 } /* Comment.Single */
body .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
body .gd { color: #A00000 } /* Generic.Deleted */
body .ge { font-style: italic } /* Generic.Emph */
body .gr { color: #FF0000 } /* Generic.Error */
body .gh { color: #000080; font-weight: bold } /* Generic.Heading */
body .gi { color: #00A000 } /* Generic.Inserted */
body .go { color: #888888 } /* Generic.Output */
body .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
body .gs { font-weight: bold } /* Generic.Strong */
body .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
body .gt { color: #0044DD } /* Generic.Traceback */
body .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
body .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
body .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
body .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
body .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
body .kt { color: #333399; font-weight: bold } /* Keyword.Type */
body .m { color: #6600EE; font-weight: bold } /* Literal.Number */
body .s { background-color: #fff0f0 } /* Literal.String */
body .na { color: #0000CC } /* Name.Attribute */
body .nb { color: #007020 } /* Name.Builtin */
body .nc { color: #BB0066; font-weight: bold } /* Name.Class */
body .no { color: #003366; font-weight: bold } /* Name.Constant */
body .nd { color: #555555; font-weight: bold } /* Name.Decorator */
body .ni { color: #880000; font-weight: bold } /* Name.Entity */
body .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
body .nf { color: #0066BB; font-weight: bold } /* Name.Function */
body .nl { color: #997700; font-weight: bold } /* Name.Label */
body .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
body .nt { color: #007700 } /* Name.Tag */
body .nv { color: #996633 } /* Name.Variable */
body .ow { color: #000000; font-weight: bold } /* Operator.Word */
body .w { color: #bbbbbb } /* Text.Whitespace */
body .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
body .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
body .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
body .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
body .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
body .sc { color: #0044DD } /* Literal.String.Char */
body .sd { color: #DD4422 } /* Literal.String.Doc */
body .s2 { background-color: #fff0f0 } /* Literal.String.Double */
body .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
body .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
body .si { background-color: #eeeeee } /* Literal.String.Interpol */
body .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
body .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
body .s1 { background-color: #fff0f0 } /* Literal.String.Single */
body .ss { color: #AA6600 } /* Literal.String.Symbol */
body .bp { color: #007020 } /* Name.Builtin.Pseudo */
body .vc { color: #336699 } /* Name.Variable.Class */
body .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
body .vi { color: #3333BB } /* Name.Variable.Instance */
body .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */

  </style>
</head>
<body>
<h2></h2>

<div class="highlight"><pre><span class="lineno"> 1</span> <span class="p">-</span> <span class="n">provide</span><span class="p">(</span><span class="ss">:title</span><span class="p">,</span> <span class="s1">&#39;Carte Topographique&#39;</span><span class="p">)</span>
<span class="lineno"> 2</span> <span class="nt">%h2</span>
<span class="lineno"> 3</span>     Atelier programmation SVG
<span class="lineno"> 4</span> 
<span class="lineno"> 5</span> &lt;!--[if lt IE 9]&gt;&lt;!--&gt;
<span class="lineno"> 6</span> <span class="nf">#testNoSvg</span>
<span class="lineno"> 7</span>     Your browser does not support SVG.
<span class="lineno"> 8</span>     Please upgrade to a more modern browser.
<span class="lineno"> 9</span> &lt;!--&lt;![endif]--&gt;    
<span class="lineno">10</span> <span class="nc">.container-fluid</span><span class="nf">#testSvg</span>
<span class="lineno">11</span>     <span class="nc">.row</span>
<span class="lineno">12</span>         <span class="nc">.col-md-12</span>
<span class="lineno">13</span>             <span class="nt">%p</span>
<span class="lineno">14</span>                 Ici j&#39;utilise un fichier jpg statique représentant une carte topograhique
<span class="lineno">15</span>                 fournie par le Gouvernement du Canada (Ressources naturelles Canada –
<span class="lineno">16</span>                 © Sa Majesté La Reine du Chef du Canada - avec permission.)
<span class="lineno">17</span>                 
<span class="lineno">18</span>                 Comme je n&#39;ai pas accès au service de tuiles (Mapbox, Openstreetview etc.) 
<span class="lineno">19</span>                 pour me fournir des données en dehors de la zone observée, j&#39;ai désactivé les
<span class="lineno">20</span>                 fonctions de zoom et de déplacement de la carte.
<span class="lineno">21</span>                 
<span class="lineno">22</span>     <span class="nc">.row</span>
<span class="lineno">23</span>         <span class="nc">.col-md-12</span>
<span class="lineno">24</span>             <span class="nt">%P</span><span class="nf">#map</span>
<span class="lineno">25</span>             
<span class="lineno">26</span>     <span class="nc">.row</span>
<span class="lineno">27</span>         <span class="nc">.col-sm-3</span>
<span class="lineno">28</span>             <span class="nf">#position</span>
<span class="lineno">29</span>                 <span class="nc">.top</span>
<span class="lineno">30</span>                     <span class="nt">%span</span><span class="p">{</span><span class="ss">:class</span><span class="o">=&gt;</span><span class="s1">&#39;title&#39;</span><span class="p">}</span> MGRS
<span class="lineno">31</span>                     <span class="nt">%span</span><span class="p">{</span><span class="ss">:class</span><span class="o">=&gt;</span><span class="s1">&#39;zone&#39;</span><span class="p">}</span>18T XR 
<span class="lineno">32</span>                 <span class="nc">.bottom</span>
<span class="lineno">33</span>                     123 456
<span class="lineno">34</span>         <span class="nc">.col-sm-4</span>
<span class="lineno">35</span>             45°31&#39;23&quot; N — 73°32&#39;55&quot; O
<span class="lineno">36</span>             <span class="nt">%br</span><span class="p">/</span>
<span class="lineno">37</span>             Montréal QC
<span class="lineno">38</span>             <span class="nt">%br</span><span class="p">/</span>
<span class="lineno">39</span>             Rue Papineau — Rue Sainte-Catherine         
<span class="lineno">40</span> 
<span class="lineno">41</span>     <span class="nc">.row</span>
<span class="lineno">42</span>         <span class="nc">.col-md-12</span>
<span class="lineno">43</span>             <span class="p">-</span> <span class="n">gencode_helper</span>
<span class="lineno">44</span>             
<span class="lineno">45</span> <span class="p">=</span> <span class="n">javascript_include_tag</span> <span class="s2">&quot;proj4&quot;</span>
<span class="lineno">46</span> <span class="p">=</span> <span class="n">javascript_include_tag</span> <span class="s2">&quot;mgrs&quot;</span>
<span class="lineno">47</span> 
<span class="lineno">48</span> <span class="c">//End of the haml page</span>
</pre></div>
</body>
</html>
