<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <style type="text/css">
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
pre { line-height: 125%; }
body .hll { background-color: #ffffcc }
body  { background: #ffffff; }
body .c { color: #888888 } /* Comment */
body .err { color: #FF0000; background-color: #FFAAAA } /* Error */
body .k { color: #008800; font-weight: bold } /* Keyword */
body .o { color: #333333 } /* Operator */
body .cm { color: #888888 } /* Comment.Multiline */
body .cp { color: #557799 } /* Comment.Preproc */
body .c1 { color: #888888 } /* Comment.Single */
body .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
body .gd { color: #A00000 } /* Generic.Deleted */
body .ge { font-style: italic } /* Generic.Emph */
body .gr { color: #FF0000 } /* Generic.Error */
body .gh { color: #000080; font-weight: bold } /* Generic.Heading */
body .gi { color: #00A000 } /* Generic.Inserted */
body .go { color: #888888 } /* Generic.Output */
body .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
body .gs { font-weight: bold } /* Generic.Strong */
body .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
body .gt { color: #0044DD } /* Generic.Traceback */
body .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
body .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
body .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
body .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
body .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
body .kt { color: #333399; font-weight: bold } /* Keyword.Type */
body .m { color: #6600EE; font-weight: bold } /* Literal.Number */
body .s { background-color: #fff0f0 } /* Literal.String */
body .na { color: #0000CC } /* Name.Attribute */
body .nb { color: #007020 } /* Name.Builtin */
body .nc { color: #BB0066; font-weight: bold } /* Name.Class */
body .no { color: #003366; font-weight: bold } /* Name.Constant */
body .nd { color: #555555; font-weight: bold } /* Name.Decorator */
body .ni { color: #880000; font-weight: bold } /* Name.Entity */
body .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
body .nf { color: #0066BB; font-weight: bold } /* Name.Function */
body .nl { color: #997700; font-weight: bold } /* Name.Label */
body .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
body .nt { color: #007700 } /* Name.Tag */
body .nv { color: #996633 } /* Name.Variable */
body .ow { color: #000000; font-weight: bold } /* Operator.Word */
body .w { color: #bbbbbb } /* Text.Whitespace */
body .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
body .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
body .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
body .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
body .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
body .sc { color: #0044DD } /* Literal.String.Char */
body .sd { color: #DD4422 } /* Literal.String.Doc */
body .s2 { background-color: #fff0f0 } /* Literal.String.Double */
body .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
body .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
body .si { background-color: #eeeeee } /* Literal.String.Interpol */
body .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
body .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
body .s1 { background-color: #fff0f0 } /* Literal.String.Single */
body .ss { color: #AA6600 } /* Literal.String.Symbol */
body .bp { color: #007020 } /* Name.Builtin.Pseudo */
body .vc { color: #336699 } /* Name.Variable.Class */
body .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
body .vi { color: #3333BB } /* Name.Variable.Instance */
body .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */

  </style>
</head>
<body>
<h2></h2>

<div class="highlight"><pre><span class="lineno">  1</span> <span class="c1">#</span>
<span class="lineno">  2</span> <span class="c1"># Place all the behaviors and hooks related to the matching controller here.</span>
<span class="lineno">  3</span> <span class="c1"># All this logic will automatically be available in application.js.</span>
<span class="lineno">  4</span> <span class="c1"># You can use CoffeeScript in this file: http://coffeescript.org/</span>
<span class="lineno">  5</span> <span class="nx">$</span> <span class="nf">-&gt;</span>
<span class="lineno">  6</span>     <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;Lévis ...&quot;</span><span class="p">)</span>
<span class="lineno">  7</span>     <span class="nx">$</span><span class="p">(</span><span class="s">&#39;body&#39;</span><span class="p">).</span><span class="nx">addClass</span><span class="p">(</span><span class="s">&#39;levisjs_loaded&#39;</span><span class="p">)</span>
<span class="lineno">  8</span>     
<span class="lineno">  9</span>     <span class="c1">#Carte de la circonscription en la divisant</span>
<span class="lineno"> 10</span>     <span class="c1">#par section de vote (en date du 2014-04-07)</span>
<span class="lineno"> 11</span>     <span class="c1">#Source: DGEQ http://www.electionsquebec.qc.ca/documents/zip/sections%20de-vote-elections-2014-shapefile.zip</span>
<span class="lineno"> 12</span>     
<span class="lineno"> 13</span>     <span class="cm">###</span>
<span class="lineno"> 14</span> <span class="cm">    Note:   Ce fichier zip comprend un répertoire de plusieurs </span>
<span class="lineno"> 15</span> <span class="cm">            fichiers et le fichier *.shp à lui </span>
<span class="lineno"> 16</span> <span class="cm">            seul occupe pas moins de 44Mo. En utilisant les </span>
<span class="lineno"> 17</span> <span class="cm">            outils GDAL (ogr2org) je transforme cet </span>
<span class="lineno"> 18</span> <span class="cm">            ensemble de fichiers en un fichier GeoJSON puis </span>
<span class="lineno"> 19</span> <span class="cm">            topoJSON en faisant l&#39;extraction des données</span>
<span class="lineno"> 20</span> <span class="cm">            concernant uniquemet la circonscription de Lévis </span>
<span class="lineno"> 21</span> <span class="cm">            (code 663 selon le DGEQ)</span>
<span class="lineno"> 22</span> <span class="cm">    </span>
<span class="lineno"> 23</span> <span class="cm">            Comme le fichier est encodé en utilisant le vieux </span>
<span class="lineno"> 24</span> <span class="cm">            format ISO-8859-1 (Latin1), il est important</span>
<span class="lineno"> 25</span> <span class="cm">            de le réencoder en utilisant le standard Unicode (UTF8). </span>
<span class="lineno"> 26</span> <span class="cm">            Pour ce faire, il faut indiquer que</span>
<span class="lineno"> 27</span> <span class="cm">            la source (Sections\ de\ Vote\ Elections\ 2014_04_07.shp) </span>
<span class="lineno"> 28</span> <span class="cm">            est encodée ISO-8859-1:</span>
<span class="lineno"> 29</span> <span class="cm">    </span>
<span class="lineno"> 30</span> <span class="cm">            export SHAPE_ENCODING=&quot;ISO-8859-1&quot;</span>
<span class="lineno"> 31</span> <span class="cm">    </span>
<span class="lineno"> 32</span> <span class="cm">            Ensuite on fait tourner l&#39;utilitaire ogr2ogr pour </span>
<span class="lineno"> 33</span> <span class="cm">            extraire les données, les réencoder en format</span>
<span class="lineno"> 34</span> <span class="cm">            UTF8 et sauvegarder le tout en format GeoJSON</span>
<span class="lineno"> 35</span> <span class="cm">    </span>
<span class="lineno"> 36</span> <span class="cm">            ESRI: 4326 http://spatialreference.org/ref/epsg/wgs-84/</span>
<span class="lineno"> 37</span> <span class="cm">            ogr2ogr: http://www.gdal.org/ogr2ogr.html</span>
<span class="lineno"> 38</span> <span class="cm">    </span>
<span class="lineno"> 39</span> <span class="cm">            ogr2ogr -f GeoJSON -where &quot;CO_CEP = &#39;663&#39;&quot; \</span>
<span class="lineno"> 40</span> <span class="cm">                -t_srs EPSG:4326 Levis.json \</span>
<span class="lineno"> 41</span> <span class="cm">                Sections\ de\ Vote\ Elections\ 2014_04_07.shp \</span>
<span class="lineno"> 42</span> <span class="cm">                -lco ENCODING=UTF-8</span>
<span class="lineno"> 43</span> <span class="cm">    </span>
<span class="lineno"> 44</span> <span class="cm">            Enfin, la commande: ogrinfo -al -geom=summary Levis.json | less</span>
<span class="lineno"> 45</span> <span class="cm">            permet de jeter un coup d&#39;oeil au fichier créé est constater:</span>
<span class="lineno"> 46</span> <span class="cm">    </span>
<span class="lineno"> 47</span> <span class="cm">            1-  Que les caractères accentuées on été ré-encodés en </span>
<span class="lineno"> 48</span> <span class="cm">                UTF-8 est sont lisibles (Lévis)</span>
<span class="lineno"> 49</span> <span class="cm">            2-  Les références utilisent des longitudes et latitudes </span>
<span class="lineno"> 50</span> <span class="cm">                (le -t_srs EPSG:4326 en est reponsable)</span>
<span class="lineno"> 51</span> <span class="cm">            3-  Seuls les données de Lévis sont dans ce </span>
<span class="lineno"> 52</span> <span class="cm">                fichier (-where &quot;CO_CEP=&#39;663&#39;&quot;)</span>
<span class="lineno"> 53</span> <span class="cm">    </span>
<span class="lineno"> 54</span> <span class="cm">            N&#39;oubliez pas de mettre l&#39;option -geom=summary (ou -geom=no) </span>
<span class="lineno"> 55</span> <span class="cm">            si ne voulez pas être submergéE par les données géométriques </span>
<span class="lineno"> 56</span> <span class="cm">            (qui sont très abondantes mais pas vraiment lisibles par </span>
<span class="lineno"> 57</span> <span class="cm">            un humain).</span>
<span class="lineno"> 58</span> <span class="cm">    </span>
<span class="lineno"> 59</span> <span class="cm">            Le fichier Levis.json pèse maintenant 288Ko (au lieu les 46Mo </span>
<span class="lineno"> 60</span> <span class="cm">            à l&#39;origine), mais il y a moyen de faire mieux. N&#39;oublions pas </span>
<span class="lineno"> 61</span> <span class="cm">            que ce fichier va transiter sur Internet et son temps de </span>
<span class="lineno"> 62</span> <span class="cm">            transmission s&#39;ajoutera au temps que prendra Javascript </span>
<span class="lineno"> 63</span> <span class="cm">            pour dessiner la carte.</span>
<span class="lineno"> 64</span> <span class="cm">    </span>
<span class="lineno"> 65</span> <span class="cm">            J&#39;aimerais cependant avoir les limites des circonscriptions </span>
<span class="lineno"> 66</span> <span class="cm">            voisines. Mon but est d&#39;avoir les limites des différentes </span>
<span class="lineno"> 67</span> <span class="cm">            circonscriptions qui entourent Lévis et à l&#39;intérieur de Lévis</span>
<span class="lineno"> 68</span> <span class="cm">            avoir les limites de chaque section de vote.</span>
<span class="lineno"> 69</span> <span class="cm">    </span>
<span class="lineno"> 70</span> <span class="cm">            L&#39;ensemble des limites des circonscriptions est disponibles </span>
<span class="lineno"> 71</span> <span class="cm">            sur le site du DGEQ ici:</span>
<span class="lineno"> 72</span> <span class="cm">    </span>
<span class="lineno"> 73</span> <span class="cm">            http://www.electionsquebec.qc.ca/documents/zip/circonscriptions-electorales-2011-shapefile-v2.zip</span>
<span class="lineno"> 74</span> <span class="cm">    </span>
<span class="lineno"> 75</span> <span class="cm">            Encore une fois, il convient de convertir les </span>
<span class="lineno"> 76</span> <span class="cm">            données qui à l&#39;origine utilisent l&#39;encodage</span>
<span class="lineno"> 77</span> <span class="cm">            ISO-8859-1 (Latin1) vers l&#39;Unicode (UTF-8). De plus, </span>
<span class="lineno"> 78</span> <span class="cm">            je n&#39;ai pas besoin des limites de toutes</span>
<span class="lineno"> 79</span> <span class="cm">            les circonscriptions du Québec, seulement les </span>
<span class="lineno"> 80</span> <span class="cm">            circonscriptions voisines de Lévis. </span>
<span class="lineno"> 81</span> <span class="cm">    </span>
<span class="lineno"> 82</span> <span class="cm">            ogr2ogr -f GeoJSON  \</span>
<span class="lineno"> 83</span> <span class="cm">                    -t_srs EPSG:4326 \</span>
<span class="lineno"> 84</span> <span class="cm">                    -clipdst -72.172 46.34 -70.172 47.34 \</span>
<span class="lineno"> 85</span> <span class="cm">                    -overwrite \</span>
<span class="lineno"> 86</span> <span class="cm">                    ../electionsQC2.json carte.shp \</span>
<span class="lineno"> 87</span> <span class="cm">                    -lco ENCODING=UTF-8 </span>
<span class="lineno"> 88</span> <span class="cm">    </span>
<span class="lineno"> 89</span> <span class="cm">            Note: Cette commande produit une erreur (exception) </span>
<span class="lineno"> 90</span> <span class="cm">            et est incapable de rendre la circonscription de </span>
<span class="lineno"> 91</span> <span class="cm">            Chute-de-la-Chaudière. Pour pallier à ce problème</span>
<span class="lineno"> 92</span> <span class="cm">            j&#39;ai remplacé le &quot;-clipdst ...&quot; par &quot;-where CO_CEP in (...)&quot;, le</span>
<span class="lineno"> 93</span> <span class="cm">            ... étant la liste des circonscriptions qui doivent être</span>
<span class="lineno"> 94</span> <span class="cm">            incluses dans le fichier final. 24 au total.</span>
<span class="lineno"> 95</span> <span class="cm">    </span>
<span class="lineno"> 96</span> <span class="cm">    </span>
<span class="lineno"> 97</span> <span class="cm">    </span>
<span class="lineno"> 98</span> <span class="cm">            Et nous terminons avec topojson pour combiner à la fois les </span>
<span class="lineno"> 99</span> <span class="cm">            limites des circonscriptions de la région et les limites </span>
<span class="lineno">100</span> <span class="cm">            des sections de vote dans Lévis:</span>
<span class="lineno">101</span> <span class="cm">    </span>
<span class="lineno">102</span> <span class="cm">            topojson    -o ~/Documents/Development/myapp/public/levis.json  \</span>
<span class="lineno">103</span> <span class="cm">                        -q 1e6 \</span>
<span class="lineno">104</span> <span class="cm">                        --id-property CO_CEP,NO_SV \</span>
<span class="lineno">105</span> <span class="cm">                        --properties name=NM_CEP \</span>
<span class="lineno">106</span> <span class="cm">                        --shapefile-encoding utf8 \</span>
<span class="lineno">107</span> <span class="cm">                        --  electionsQC2.json Levis.json</span>
<span class="lineno">108</span> <span class="cm">    </span>
<span class="lineno">109</span> <span class="cm">            où</span>
<span class="lineno">110</span> <span class="cm">            -o              nom du fichier de destination</span>
<span class="lineno">111</span> <span class="cm">            -q              quand tourner les coins ronds</span>
<span class="lineno">112</span> <span class="cm">            --id-property   Quel élément servira de id</span>
<span class="lineno">113</span> <span class="cm">            --properties    Les propriétés à conserver </span>
<span class="lineno">114</span> <span class="cm">                            (NM_CEP deviendra &#39;name&#39;)</span>
<span class="lineno">115</span> <span class="cm">            --              fichiers devant être combinés</span>
<span class="lineno">116</span> <span class="cm">    ###</span>
<span class="lineno">117</span>     
<span class="lineno">118</span>     <span class="c1">#Variables globales</span>
<span class="lineno">119</span>     <span class="nv">svg = </span><span class="kc">null</span>              <span class="c1">#l&#39;élément svg qui servira de contenant</span>
<span class="lineno">120</span>     <span class="nv">path = </span><span class="kc">null</span>             <span class="c1">#contiendra l&#39;object servant à assurer </span>
<span class="lineno">121</span>                             <span class="c1"># une bonne projection</span>
<span class="lineno">122</span>     <span class="nv">map = </span><span class="kc">null</span>              <span class="c1">#l&#39;objet qui contiendra la carte</span>
<span class="lineno">123</span>     <span class="nv">feature = </span><span class="kc">null</span>          <span class="c1">#les tracés des circonscriptions</span>
<span class="lineno">124</span>     <span class="nv">sections = </span><span class="kc">null</span>         <span class="c1">#les tracés des sections</span>
<span class="lineno">125</span>     <span class="nv">numSecs = </span><span class="kc">null</span>          <span class="c1">#les noms des circonscriptons</span>
<span class="lineno">126</span> 
<span class="lineno">127</span>     <span class="c1">##Fonctions utilitaires</span>
<span class="lineno">128</span>     
<span class="lineno">129</span>     <span class="c1">#Utilisé pour transformer les coordonnés d&#39;un point</span>
<span class="lineno">130</span>     <span class="c1">#de Lat/Long au système de coordonné local</span>
<span class="lineno">131</span>     <span class="nv">projectPoint = </span><span class="nf">(x, y) -&gt;</span>
<span class="lineno">132</span>         <span class="nv">point = </span><span class="nx">map</span><span class="p">.</span><span class="nx">latLngToLayerPoint</span><span class="p">(</span><span class="k">new</span> <span class="nx">L</span><span class="p">.</span><span class="nx">LatLng</span><span class="p">(</span><span class="nx">y</span><span class="p">,</span> <span class="nx">x</span><span class="p">))</span>
<span class="lineno">133</span>         <span class="k">this</span><span class="p">.</span><span class="nx">stream</span><span class="p">.</span><span class="nx">point</span><span class="p">(</span><span class="nx">point</span><span class="p">.</span><span class="nx">x</span><span class="p">,</span> <span class="nx">point</span><span class="p">.</span><span class="nx">y</span><span class="p">)</span>
<span class="lineno">134</span> 
<span class="lineno">135</span>     <span class="c1">#Sert à imprimer les secondes et millisecondes (timestamp)</span>
<span class="lineno">136</span>     <span class="c1">#pour vérifier les performances d&#39;exécution (pour du débug)</span>
<span class="lineno">137</span>     <span class="nv">ts = </span><span class="p">()</span> <span class="nf">-&gt;</span>
<span class="lineno">138</span>         <span class="nx">moment</span><span class="p">().</span><span class="nx">format</span><span class="p">(</span><span class="s">&quot;ss.SSS&quot;</span><span class="p">)</span>
<span class="lineno">139</span>         
<span class="lineno">140</span>     <span class="c1">#Créer la carte en arrière plan en utilisant OpenStreetMap.</span>
<span class="lineno">141</span>     <span class="nv">map = </span><span class="k">new</span> <span class="nx">L</span><span class="p">.</span><span class="nx">Map</span><span class="p">(</span><span class="s">&quot;map&quot;</span><span class="p">,</span> <span class="p">{</span><span class="nv">center: </span><span class="p">[</span><span class="mf">46.78</span><span class="p">,</span> <span class="o">-</span><span class="mf">71.172</span><span class="p">],</span> <span class="nv">zoom: </span><span class="mi">12</span><span class="p">})</span>
<span class="lineno">142</span>         <span class="p">.</span><span class="nx">addLayer</span><span class="p">(</span><span class="k">new</span> <span class="nx">L</span><span class="p">.</span><span class="nx">TileLayer</span><span class="p">(</span><span class="s">&quot;http://{s}.tile.osm.org/{z}/{x}/{y}.png&quot;</span><span class="p">,</span>
<span class="lineno">143</span>             <span class="p">{</span>   <span class="nv">attribution: </span><span class="s">&quot;&amp;copy; Les contributeurs d&#39;&lt;a href=\&quot;http://osm.org/copyright\&quot;&gt;OpenStreetMap&lt;/a&gt;  &quot;</span> <span class="o">+</span>
<span class="lineno">144</span>                 <span class="s">&quot;| &amp;copy &lt;a href=\&quot;http://www.electionsquebec.qc.ca\&quot;&gt;Le Directeur général des élections du Québec&lt;/a&gt;&quot;</span><span class="p">}))</span>
<span class="lineno">145</span>     
<span class="lineno">146</span>     <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> Carte Leaflet crée.&quot;</span><span class="p">)</span>
<span class="lineno">147</span>     
<span class="lineno">148</span> 
<span class="lineno">149</span>     <span class="c1">#Créer la sur-impression avec les données cartographique du DGEQ</span>
<span class="lineno">150</span>     <span class="nv">svg = </span><span class="nx">d3</span><span class="p">.</span><span class="nx">select</span><span class="p">(</span><span class="nx">map</span><span class="p">.</span><span class="nx">getPanes</span><span class="p">().</span><span class="nx">overlayPane</span><span class="p">).</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;svg&quot;</span><span class="p">)</span>
<span class="lineno">151</span>     <span class="nv">g = </span><span class="nx">svg</span><span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;g&quot;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="s">&quot;leaflet-zoom-hide&quot;</span><span class="p">)</span>
<span class="lineno">152</span>         
<span class="lineno">153</span>     <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> Couche d3 créé. Chargement des donnés&quot;</span><span class="p">)</span>
<span class="lineno">154</span>     
<span class="lineno">155</span>     <span class="c1">#Get the overlay data used to draw constituencies lines</span>
<span class="lineno">156</span>     <span class="nx">d3</span><span class="p">.</span><span class="nx">json</span> <span class="s">&quot;/levis.json&quot;</span><span class="p">,</span> <span class="nf">(error, data) -&gt;</span>
<span class="lineno">157</span>         <span class="k">if</span> <span class="p">(</span><span class="nx">error</span><span class="p">)</span>
<span class="lineno">158</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> error loading data </span><span class="si">#{</span><span class="nx">error</span><span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno">159</span>             <span class="nx">alert</span><span class="p">(</span><span class="s">&quot;Probème de réception des fichiers de contours&quot;</span><span class="p">)</span>
<span class="lineno">160</span>             <span class="k">return</span>
<span class="lineno">161</span>         <span class="k">else</span>
<span class="lineno">162</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> levis.json (sections de vote - tracé des limites) reçu. &quot;</span><span class="p">)</span>
<span class="lineno">163</span>             
<span class="lineno">164</span>             <span class="c1">#Les circonscriptions voisines de Lévis</span>
<span class="lineno">165</span>             <span class="nv">voisines = </span><span class="nx">topojson</span><span class="p">.</span><span class="nx">feature</span><span class="p">(</span><span class="nx">data</span><span class="p">,</span> <span class="nx">data</span><span class="p">.</span><span class="nx">objects</span><span class="p">.</span><span class="nx">electionsQC2</span><span class="p">)</span>
<span class="lineno">166</span> 
<span class="lineno">167</span>             <span class="c1">#Les sections de vote dans Lévis</span>
<span class="lineno">168</span>             <span class="nv">levis = </span><span class="nx">topojson</span><span class="p">.</span><span class="nx">feature</span><span class="p">(</span><span class="nx">data</span><span class="p">,</span> <span class="nx">data</span><span class="p">.</span><span class="nx">objects</span><span class="p">.</span><span class="nx">Levis</span><span class="p">)</span>
<span class="lineno">169</span>             
<span class="lineno">170</span>             <span class="nv">reset = </span><span class="p">()</span> <span class="nf">-&gt;</span>
<span class="lineno">171</span>                 <span class="c1">##Chaque fois que l&#39;usagerE zoom, il faut recalculer</span>
<span class="lineno">172</span>                 <span class="c1">##les positions relatives de chaque élément en surimposition</span>
<span class="lineno">173</span>                 <span class="c1">##pour bien les positionner sur la carte.</span>
<span class="lineno">174</span>                 
<span class="lineno">175</span>                 
<span class="lineno">176</span>                 <span class="c1">##Reset the corners of the svg </span>
<span class="lineno">177</span>                 <span class="nv">bounds = </span><span class="nx">path</span><span class="p">.</span><span class="nx">bounds</span><span class="p">(</span><span class="nx">voisines</span><span class="p">)</span>
<span class="lineno">178</span>                 <span class="nv">topLeft = </span><span class="nx">bounds</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span>
<span class="lineno">179</span>                 <span class="nv">bottomRight = </span><span class="nx">bounds</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span>
<span class="lineno">180</span>                 <span class="nx">svg</span><span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;width&quot;</span><span class="p">,</span> <span class="nx">bottomRight</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span> <span class="o">-</span> <span class="nx">topLeft</span><span class="p">[</span><span class="mi">0</span><span class="p">])</span>
<span class="lineno">181</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;height&quot;</span><span class="p">,</span> <span class="nx">bottomRight</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span> <span class="o">-</span> <span class="nx">topLeft</span><span class="p">[</span><span class="mi">1</span><span class="p">])</span>
<span class="lineno">182</span>                     <span class="p">.</span><span class="nx">style</span><span class="p">(</span><span class="s">&quot;left&quot;</span><span class="p">,</span> <span class="nx">topLeft</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span> <span class="o">+</span> <span class="s">&quot;px&quot;</span><span class="p">)</span>
<span class="lineno">183</span>                     <span class="p">.</span><span class="nx">style</span><span class="p">(</span><span class="s">&quot;top&quot;</span><span class="p">,</span> <span class="nx">topLeft</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span> <span class="o">+</span> <span class="s">&quot;px&quot;</span><span class="p">)</span>
<span class="lineno">184</span>                 <span class="nx">g</span><span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;transform&quot;</span><span class="p">,</span> <span class="s">&quot;translate(&quot;</span> <span class="o">+</span> <span class="o">-</span><span class="nx">topLeft</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span> <span class="o">+</span> <span class="s">&quot;,&quot;</span> <span class="o">+</span> <span class="o">-</span><span class="nx">topLeft</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span> <span class="o">+</span> <span class="s">&quot;)&quot;</span><span class="p">)</span>
<span class="lineno">185</span>             
<span class="lineno">186</span>                 <span class="c1">## Redraw the distrist borders using a new zoomed projection</span>
<span class="lineno">187</span>                 <span class="nx">feature</span><span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;d&quot;</span><span class="p">,</span> <span class="nx">path</span><span class="p">)</span>
<span class="lineno">188</span>                 <span class="nx">sections</span><span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;d&quot;</span><span class="p">,</span> <span class="nx">path</span><span class="p">)</span>
<span class="lineno">189</span>             
<span class="lineno">190</span>                 <span class="c1">#Les noms des circonscriptons doivent être positionnées</span>
<span class="lineno">191</span>                 <span class="c1">#j&#39;en profite pour montrer/cacher ou changer la taille du</span>
<span class="lineno">192</span>                 <span class="c1">#caractère pour ne pas nuire à la visibilité</span>
<span class="lineno">193</span>                 <span class="k">if</span> <span class="p">(</span><span class="nx">noms</span> <span class="o">!=</span> <span class="kc">null</span><span class="p">)</span>
<span class="lineno">194</span>                     <span class="nx">noms</span>
<span class="lineno">195</span>                         <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;transform&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">196</span>                             <span class="c1">#Je trouve le centroid de la circonscription</span>
<span class="lineno">197</span>                             <span class="c1">#(lon,lat) et je transforme ce point dans le</span>
<span class="lineno">198</span>                             <span class="c1">#système de coordonnées du moment (qui varie selon</span>
<span class="lineno">199</span>                             <span class="c1">#le zoom)</span>
<span class="lineno">200</span>                             <span class="nv">centroid = </span><span class="nx">map</span><span class="p">.</span><span class="nx">latLngToLayerPoint</span><span class="p">(</span><span class="nx">d</span><span class="p">.</span><span class="nx">latLng</span><span class="p">)</span>
<span class="lineno">201</span>                             <span class="s">&quot;translate(</span><span class="si">#{</span><span class="nx">centroid</span><span class="p">.</span><span class="nx">x</span><span class="si">}</span><span class="s">, </span><span class="si">#{</span><span class="nx">centroid</span><span class="p">.</span><span class="nx">y</span><span class="si">}</span><span class="s">)&quot;</span><span class="p">)</span>
<span class="lineno">202</span>                         <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;visibility&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">203</span>                             <span class="c1">#Je vérifie la surface (area) de la circonscription</span>
<span class="lineno">204</span>                             <span class="c1">#selon le zoom du moment. Si la valeur passe en dessous</span>
<span class="lineno">205</span>                             <span class="c1">#d&#39;un certaine valeur, ja cache le nom de la circonscription</span>
<span class="lineno">206</span>                             <span class="nv">rep = </span><span class="s">&quot;novalue&quot;</span>
<span class="lineno">207</span>                             <span class="k">if</span> <span class="nx">path</span><span class="p">.</span><span class="nx">area</span><span class="p">(</span><span class="nx">d</span><span class="p">)</span><span class="o">&lt;</span><span class="mf">3000.0</span> 
<span class="lineno">208</span>                                 <span class="nv">rep = </span><span class="s">&quot;hidden&quot;</span>
<span class="lineno">209</span>                             <span class="k">else</span>
<span class="lineno">210</span>                                 <span class="c1">#Ici je n&#39;indiue pas &quot;visible&quot; parce que</span>
<span class="lineno">211</span>                                 <span class="c1">#toute la couche est masquée pendant certaines</span>
<span class="lineno">212</span>                                 <span class="c1">#operations. En utilisant &#39;inherit&#39;, si la couche</span>
<span class="lineno">213</span>                                 <span class="c1">#est visible, le nom de la circonscription le sera</span>
<span class="lineno">214</span>                                 <span class="c1">#aussi mais si la couche n&#39;est pas visible, le</span>
<span class="lineno">215</span>                                 <span class="c1">#nom de la circonscription en fera de même</span>
<span class="lineno">216</span>                                 <span class="nv">rep = </span><span class="s">&quot;inherit&quot;</span>
<span class="lineno">217</span>                             
<span class="lineno">218</span>                             <span class="c1">#console.log(&quot;#{d.properties.name} area: #{path.area(d)}  ––  #{rep}&quot;)</span>
<span class="lineno">219</span>                             <span class="nx">rep</span><span class="p">)</span>
<span class="lineno">220</span> 
<span class="lineno">221</span>                         <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;district_area&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">222</span>                             <span class="nx">path</span><span class="p">.</span><span class="nx">area</span><span class="p">(</span><span class="nx">d</span><span class="p">))</span>
<span class="lineno">223</span> 
<span class="lineno">224</span>                         <span class="p">.</span><span class="nx">style</span><span class="p">(</span><span class="s">&quot;font-size&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">225</span>                             <span class="c1">#ici aussi j&#39;utilise le surface de la circonscription</span>
<span class="lineno">226</span>                             <span class="c1">#dans le contexte du zoom pour déterminer la taille des</span>
<span class="lineno">227</span>                             <span class="c1">#caractères</span>
<span class="lineno">228</span>                             <span class="nv">rep = </span><span class="s">&quot;3pt&quot;</span>
<span class="lineno">229</span>                             <span class="k">if</span> <span class="nx">path</span><span class="p">.</span><span class="nx">area</span><span class="p">(</span><span class="nx">d</span><span class="p">)</span> <span class="o">&gt;=</span> <span class="mf">13000.0</span>
<span class="lineno">230</span>                                 <span class="nv">rep = </span><span class="s">&quot;18pt&quot;</span>
<span class="lineno">231</span>                             <span class="k">else</span> <span class="k">if</span> <span class="nx">path</span><span class="p">.</span><span class="nx">area</span><span class="p">(</span><span class="nx">d</span><span class="p">)</span><span class="o">&gt;</span><span class="mf">8000.0</span>
<span class="lineno">232</span>                                 <span class="nv">rep = </span><span class="s">&quot;12pt&quot;</span>
<span class="lineno">233</span>                             <span class="k">else</span>
<span class="lineno">234</span>                                 <span class="nv">rep = </span><span class="s">&quot;6pt&quot;</span>
<span class="lineno">235</span>                             
<span class="lineno">236</span>                             <span class="nx">rep</span><span class="p">)</span>
<span class="lineno">237</span>                             
<span class="lineno">238</span>                 <span class="c1">#Meme chose pour les numéros de sections avec cependant</span>
<span class="lineno">239</span>                 <span class="c1">#d&#39;autres valeurs pour déterminer la visibilité ou la taille</span>
<span class="lineno">240</span>                 <span class="c1">#des caractères</span>
<span class="lineno">241</span>                 <span class="k">if</span> <span class="p">(</span><span class="nx">numSecs</span> <span class="o">!=</span> <span class="kc">null</span><span class="p">)</span>
<span class="lineno">242</span>                     <span class="nx">numSecs</span>
<span class="lineno">243</span>                         <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;transform&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">244</span>                             <span class="nv">centroid = </span><span class="nx">map</span><span class="p">.</span><span class="nx">latLngToLayerPoint</span><span class="p">(</span><span class="nx">d</span><span class="p">.</span><span class="nx">latLng</span><span class="p">)</span>
<span class="lineno">245</span>                             <span class="s">&quot;translate(</span><span class="si">#{</span><span class="nx">centroid</span><span class="p">.</span><span class="nx">x</span><span class="si">}</span><span class="s">, </span><span class="si">#{</span><span class="nx">centroid</span><span class="p">.</span><span class="nx">y</span><span class="si">}</span><span class="s">)&quot;</span><span class="p">)</span>
<span class="lineno">246</span>                         <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;visibility&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">247</span>                             <span class="nv">rep = </span><span class="s">&quot;novalue&quot;</span>
<span class="lineno">248</span>                             <span class="k">if</span> <span class="nx">path</span><span class="p">.</span><span class="nx">area</span><span class="p">(</span><span class="nx">d</span><span class="p">)</span><span class="o">&lt;</span><span class="mf">1000.0</span> 
<span class="lineno">249</span>                                 <span class="nv">rep = </span><span class="s">&quot;hidden&quot;</span>
<span class="lineno">250</span>                             <span class="k">else</span>
<span class="lineno">251</span>                                 <span class="nv">rep = </span><span class="s">&quot;inherit&quot;</span>
<span class="lineno">252</span>                             
<span class="lineno">253</span>                             <span class="c1">#console.log(&quot;#{d.properties.name} area: #{path.area(d)}  ––  #{rep}&quot;)</span>
<span class="lineno">254</span>                             <span class="nx">rep</span><span class="p">)</span>
<span class="lineno">255</span>                         <span class="p">.</span><span class="nx">style</span><span class="p">(</span><span class="s">&quot;font-size&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">256</span>                             <span class="nv">rep = </span><span class="s">&quot;3pt&quot;</span>
<span class="lineno">257</span>                             <span class="k">if</span> <span class="nx">path</span><span class="p">.</span><span class="nx">area</span><span class="p">(</span><span class="nx">d</span><span class="p">)</span> <span class="o">&gt;=</span> <span class="mf">6000.0</span>
<span class="lineno">258</span>                                 <span class="nv">rep = </span><span class="s">&quot;9pt&quot;</span>
<span class="lineno">259</span>                             <span class="k">else</span> <span class="k">if</span> <span class="nx">path</span><span class="p">.</span><span class="nx">area</span><span class="p">(</span><span class="nx">d</span><span class="p">)</span><span class="o">&gt;</span><span class="mf">3000.0</span>
<span class="lineno">260</span>                                 <span class="nv">rep = </span><span class="s">&quot;6pt&quot;</span>
<span class="lineno">261</span>                             <span class="k">else</span>
<span class="lineno">262</span>                                 <span class="nv">rep = </span><span class="s">&quot;4pt&quot;</span>
<span class="lineno">263</span>                             
<span class="lineno">264</span>                             <span class="nx">rep</span><span class="p">)</span>
<span class="lineno">265</span>                         
<span class="lineno">266</span>                             
<span class="lineno">267</span>                             
<span class="lineno">268</span>             <span class="c1">#setup the transformation mecanism</span>
<span class="lineno">269</span>             <span class="nv">transform = </span><span class="nx">d3</span><span class="p">.</span><span class="nx">geo</span><span class="p">.</span><span class="nx">transform</span><span class="p">({</span><span class="nv">point: </span><span class="nx">projectPoint</span><span class="p">})</span>
<span class="lineno">270</span>             <span class="nv">path = </span><span class="nx">d3</span><span class="p">.</span><span class="nx">geo</span><span class="p">.</span><span class="nx">path</span><span class="p">().</span><span class="nx">projection</span><span class="p">(</span><span class="nx">transform</span><span class="p">)</span>
<span class="lineno">271</span>             
<span class="lineno">272</span>             <span class="c1"># J&#39;ajoute les limites des circonscriptions</span>
<span class="lineno">273</span>             <span class="nv">feature = </span><span class="nx">g</span><span class="p">.</span><span class="nx">selectAll</span><span class="p">(</span><span class="s">&quot;.district&quot;</span><span class="p">)</span>
<span class="lineno">274</span>                 <span class="p">.</span><span class="nx">data</span><span class="p">(</span><span class="nx">voisines</span><span class="p">.</span><span class="nx">features</span><span class="p">)</span>
<span class="lineno">275</span>                 <span class="p">.</span><span class="nx">enter</span><span class="p">()</span>
<span class="lineno">276</span>                 <span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;path&quot;</span><span class="p">)</span>
<span class="lineno">277</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;id&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">278</span>                         <span class="nx">d</span><span class="p">.</span><span class="nx">id</span><span class="p">)</span>
<span class="lineno">279</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">280</span>                         <span class="s">&quot;district d&quot;</span> <span class="o">+</span> <span class="nx">d</span><span class="p">.</span><span class="nx">id</span><span class="p">)</span>
<span class="lineno">281</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;name&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">282</span>                         <span class="nx">d</span><span class="p">.</span><span class="nx">properties</span><span class="p">.</span><span class="nx">name</span> <span class="o">+</span> <span class="s">&quot; QC&quot;</span><span class="p">)</span>
<span class="lineno">283</span>                         
<span class="lineno">284</span> 
<span class="lineno">285</span> 
<span class="lineno">286</span>             <span class="c1"># Dans Lévis, je trace les limites des sections de vote</span>
<span class="lineno">287</span>             <span class="nv">sections = </span><span class="nx">g</span><span class="p">.</span><span class="nx">selectAll</span><span class="p">(</span><span class="s">&quot;.section&quot;</span><span class="p">)</span>
<span class="lineno">288</span>                 <span class="p">.</span><span class="nx">data</span><span class="p">(</span><span class="nx">levis</span><span class="p">.</span><span class="nx">features</span><span class="p">)</span>
<span class="lineno">289</span>                 <span class="p">.</span><span class="nx">enter</span><span class="p">()</span>
<span class="lineno">290</span>                 <span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;path&quot;</span><span class="p">)</span>
<span class="lineno">291</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">292</span>                         <span class="s">&quot;section s&quot;</span> <span class="o">+</span> <span class="nx">d</span><span class="p">.</span><span class="nx">id</span><span class="p">)</span>
<span class="lineno">293</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;id&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">294</span>                         <span class="s">&quot;s&quot;</span> <span class="o">+</span> <span class="nx">d</span><span class="p">.</span><span class="nx">id</span><span class="p">)</span>
<span class="lineno">295</span>                         
<span class="lineno">296</span>             
<span class="lineno">297</span>             <span class="c1">#Le nom des circonscriptions</span>
<span class="lineno">298</span>             <span class="nv">noms = </span><span class="nx">g</span><span class="p">.</span><span class="nx">selectAll</span><span class="p">(</span><span class="s">&quot;text.nom&quot;</span><span class="p">)</span>
<span class="lineno">299</span>                         <span class="p">.</span><span class="nx">data</span><span class="p">(</span><span class="nx">voisines</span><span class="p">.</span><span class="nx">features</span><span class="p">)</span>
<span class="lineno">300</span>                         <span class="p">.</span><span class="nx">enter</span><span class="p">()</span>
<span class="lineno">301</span>                         <span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;text&quot;</span><span class="p">)</span>
<span class="lineno">302</span>                             <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;id&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">303</span>                                 <span class="s">&quot;n&quot;</span> <span class="o">+</span> <span class="nx">d</span><span class="p">.</span><span class="nx">id</span><span class="p">)</span>
<span class="lineno">304</span>                             <span class="p">.</span><span class="nx">text</span><span class="p">(</span><span class="nf">(d) -&gt;</span>
<span class="lineno">305</span>                                 <span class="nx">d</span><span class="p">.</span><span class="nx">properties</span><span class="p">.</span><span class="nx">name</span><span class="p">)</span>
<span class="lineno">306</span>                             <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;district_area&quot;</span><span class="p">,</span> <span class="s">&quot;nil&quot;</span><span class="p">)</span>
<span class="lineno">307</span>                             <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="s">&quot;nom&quot;</span><span class="p">)</span>
<span class="lineno">308</span>                             <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;text-anchor&quot;</span><span class="p">,</span> <span class="s">&quot;middle&quot;</span><span class="p">)</span>
<span class="lineno">309</span>                             <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;transform&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">310</span>                                 <span class="nv">centroid = </span><span class="nx">path</span><span class="p">.</span><span class="nx">centroid</span><span class="p">(</span><span class="nx">d</span><span class="p">)</span>
<span class="lineno">311</span>                                 <span class="nv">d.latLng = </span><span class="nx">map</span><span class="p">.</span><span class="nx">layerPointToLatLng</span><span class="p">(</span><span class="nx">centroid</span> <span class="p">)</span>
<span class="lineno">312</span>                                 <span class="s">&quot;translate(</span><span class="si">#{</span><span class="nx">centroid</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span><span class="si">}</span><span class="s">, </span><span class="si">#{</span><span class="nx">centroid</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span><span class="si">}</span><span class="s">)&quot;</span><span class="p">)</span>
<span class="lineno">313</span>                                 
<span class="lineno">314</span> 
<span class="lineno">315</span>             <span class="c1">#Dans Lévis, les numéros de section</span>
<span class="lineno">316</span>             <span class="nv">numSecs = </span><span class="nx">g</span><span class="p">.</span><span class="nx">selectAll</span><span class="p">(</span><span class="s">&quot;text.numSec&quot;</span><span class="p">)</span>
<span class="lineno">317</span>                             <span class="p">.</span><span class="nx">data</span><span class="p">(</span><span class="nx">levis</span><span class="p">.</span><span class="nx">features</span><span class="p">)</span>
<span class="lineno">318</span>                             <span class="p">.</span><span class="nx">enter</span><span class="p">()</span>
<span class="lineno">319</span>                             <span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;text&quot;</span><span class="p">)</span>
<span class="lineno">320</span>                                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;id&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">321</span>                                     <span class="s">&quot;sn&quot;</span> <span class="o">+</span> <span class="nx">d</span><span class="p">.</span><span class="nx">id</span><span class="p">)</span>
<span class="lineno">322</span>                                 <span class="p">.</span><span class="nx">text</span><span class="p">(</span><span class="nf">(d) -&gt;</span>
<span class="lineno">323</span>                                     <span class="nx">d</span><span class="p">.</span><span class="nx">id</span><span class="p">)</span>
<span class="lineno">324</span>                                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="s">&quot;numSec&quot;</span><span class="p">)</span>
<span class="lineno">325</span>                                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;text-anchor&quot;</span><span class="p">,</span> <span class="s">&quot;middle&quot;</span><span class="p">)</span>
<span class="lineno">326</span>                                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;transform&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">327</span>                                     <span class="nv">centroid = </span><span class="nx">path</span><span class="p">.</span><span class="nx">centroid</span><span class="p">(</span><span class="nx">d</span><span class="p">)</span>
<span class="lineno">328</span>                                     <span class="nv">d.latLng = </span><span class="nx">map</span><span class="p">.</span><span class="nx">layerPointToLatLng</span><span class="p">(</span><span class="nx">centroid</span> <span class="p">)</span>
<span class="lineno">329</span>                                     <span class="s">&quot;translate(</span><span class="si">#{</span><span class="nx">centroid</span><span class="p">[</span><span class="mi">0</span><span class="p">]</span><span class="si">}</span><span class="s">, </span><span class="si">#{</span><span class="nx">centroid</span><span class="p">[</span><span class="mi">1</span><span class="p">]</span><span class="si">}</span><span class="s">)&quot;</span><span class="p">)</span>
<span class="lineno">330</span>             
<span class="lineno">331</span>             <span class="c1">#make sure when the map is zoomed, the reset is called, and</span>
<span class="lineno">332</span>             <span class="c1">#call reset anayway to complete the district drawing process        </span>
<span class="lineno">333</span>             <span class="nx">map</span><span class="p">.</span><span class="nx">on</span><span class="p">(</span><span class="s">&quot;viewreset&quot;</span><span class="p">,</span> <span class="nx">reset</span><span class="p">);</span>
<span class="lineno">334</span>             <span class="nx">reset</span><span class="p">();</span>
<span class="lineno">335</span>         
<span class="lineno">336</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> Constituencies drawing completed!&quot;</span><span class="p">)</span>
<span class="lineno">337</span> 
<span class="lineno">338</span>             <span class="c1">##Chargement des résultats</span>
<span class="lineno">339</span>             
<span class="lineno">340</span>             <span class="c1">##Pour les voisines</span>
<span class="lineno">341</span>             <span class="nx">d3</span><span class="p">.</span><span class="nx">json</span> <span class="s">&quot;/resultats.json&quot;</span><span class="p">,</span> <span class="nf">(error, elections2014) -&gt;</span>
<span class="lineno">342</span>                 <span class="k">if</span> <span class="nx">error</span> 
<span class="lineno">343</span>                     <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> Unable to load /resultats.json </span><span class="si">#{</span><span class="nx">error</span><span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno">344</span>                     <span class="nx">alert</span><span class="p">(</span><span class="s">&#39;Incapable de charger /resulats.json&#39;</span><span class="p">)</span>
<span class="lineno">345</span>                     <span class="k">return</span>
<span class="lineno">346</span>                 <span class="k">else</span>
<span class="lineno">347</span>                     <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> Resultats QC reçus&quot;</span><span class="p">)</span>
<span class="lineno">348</span>                     <span class="nv">circonscriptions = </span><span class="nx">elections2014</span><span class="p">.</span><span class="nx">circonscriptions</span>
<span class="lineno">349</span>                     <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> circonscriptions loaded (</span><span class="si">#{</span><span class="nx">circonscriptions</span><span class="p">.</span><span class="nx">length</span><span class="si">}</span><span class="s">)&quot;</span><span class="p">)</span>
<span class="lineno">350</span>                     <span class="k">for</span> <span class="nx">circonscription</span><span class="p">,</span> <span class="nx">i</span> <span class="k">in</span> <span class="nx">circonscriptions</span> 
<span class="lineno">351</span>                         <span class="nv">numero = </span><span class="nx">circonscription</span><span class="p">.</span><span class="nx">numeroCirconscription</span>
<span class="lineno">352</span>                         <span class="c1">#On ne veut pas d&#39;attribution d&#39;unE gagnantE dans Lévis</span>
<span class="lineno">353</span>                         <span class="c1">#puiqu&#39;il s&#39;agit de la circonscription qui affichera les résultats</span>
<span class="lineno">354</span>                         <span class="c1">#section de vote par section de vote.</span>
<span class="lineno">355</span>                         <span class="k">if</span> <span class="p">(</span><span class="nx">numero</span> <span class="o">==</span> <span class="mi">663</span><span class="p">)</span>
<span class="lineno">356</span>                             <span class="k">continue</span>
<span class="lineno">357</span>                         <span class="nv">candidats = </span><span class="nx">circonscription</span><span class="p">.</span><span class="nx">candidats</span>
<span class="lineno">358</span>                         <span class="nv">partiElu = </span><span class="nx">candidats</span><span class="p">[</span><span class="mi">0</span><span class="p">].</span><span class="nx">numeroPartiPolitique</span>
<span class="lineno">359</span>                         <span class="nv">partiSecond = </span><span class="nx">candidats</span><span class="p">[</span><span class="mi">1</span><span class="p">].</span><span class="nx">numeroPartiPolitique</span>
<span class="lineno">360</span>                         <span class="nv">classeParti = </span><span class="s">&quot;&quot;</span>
<span class="lineno">361</span>             
<span class="lineno">362</span>                         <span class="k">if</span> <span class="nx">partiElu</span> <span class="o">&gt;</span> <span class="mi">0</span>
<span class="lineno">363</span>                             <span class="k">switch</span> <span class="nx">partiElu</span>
<span class="lineno">364</span>                                 <span class="k">when</span> <span class="mi">6</span> <span class="k">then</span> <span class="nv">classeParti = </span><span class="s">&quot;plq&quot;</span>
<span class="lineno">365</span>                                 <span class="k">when</span> <span class="mi">8</span> <span class="k">then</span> <span class="nv">classeParti = </span><span class="s">&quot;pq&quot;</span>
<span class="lineno">366</span>                                 <span class="k">when</span> <span class="mi">11</span> <span class="k">then</span> <span class="nv">classeParti = </span><span class="s">&quot;qs&quot;</span>
<span class="lineno">367</span>                                 <span class="k">when</span> <span class="mi">27</span> <span class="k">then</span> <span class="nv">classeParti = </span><span class="s">&quot;caq&quot;</span>
<span class="lineno">368</span>                                 <span class="k">else</span> <span class="nv">classeParti = </span><span class="s">&quot;autreParti&quot;</span>
<span class="lineno">369</span>                             <span class="nv">repere = </span><span class="s">&quot;path\#</span><span class="si">#{</span><span class="nx">numero</span><span class="si">}</span><span class="s">&quot;</span>
<span class="lineno">370</span>                             <span class="c1">#console.log(&quot;  &gt;&gt;&gt; Assigning #{classeParti} to #{repere} - #{circonscription.nomCirconscription}&quot;)</span>
<span class="lineno">371</span>                             <span class="k">if</span> <span class="p">(</span><span class="nx">$</span><span class="p">(</span><span class="nx">repere</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="nx">$</span><span class="p">(</span><span class="nx">repere</span><span class="p">)[</span><span class="mi">0</span><span class="p">])</span>
<span class="lineno">372</span>                                 <span class="nx">$</span><span class="p">(</span><span class="nx">repere</span><span class="p">)[</span><span class="mi">0</span><span class="p">]</span>
<span class="lineno">373</span>                                     <span class="p">.</span><span class="nx">setAttribute</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="s">&quot;district d</span><span class="si">#{</span><span class="nx">numero</span><span class="si">}</span><span class="s"> elu </span><span class="si">#{</span><span class="nx">classeParti</span><span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno">374</span> 
<span class="lineno">375</span>                     <span class="c1">#Charger les résultats bureau par bureau lors</span>
<span class="lineno">376</span>                     <span class="c1">#des élections du 2014-04-07.</span>
<span class="lineno">377</span>                     <span class="c1">#Source: DGEQ http://www.electionsquebec.qc.ca/documents/zip/resultats-section-vote/2014-04-07.zip</span>
<span class="lineno">378</span>     
<span class="lineno">379</span>                     <span class="nv">dsv = </span><span class="nx">d3</span><span class="p">.</span><span class="nx">dsv</span><span class="p">(</span><span class="s">&quot;;&quot;</span><span class="p">,</span> <span class="s">&quot;text/plain&quot;</span><span class="p">);</span>
<span class="lineno">380</span>                     <span class="nx">dsv</span> <span class="s">&quot;/Levis.csv&quot;</span><span class="p">,</span> <span class="nf">(error, levis2014) -&gt;</span>
<span class="lineno">381</span>                         <span class="k">if</span> <span class="nx">error</span> 
<span class="lineno">382</span>                             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> Unable to load /resultats.json </span><span class="si">#{</span><span class="nx">error</span><span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno">383</span>                             <span class="nx">alert</span><span class="p">(</span><span class="s">&quot;Réception des données impossibles. Vérifiez la console pour plus de détails&quot;</span><span class="p">)</span>
<span class="lineno">384</span>                             <span class="k">return</span>
<span class="lineno">385</span>                         <span class="k">else</span>
<span class="lineno">386</span>                             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;</span><span class="si">#{</span><span class="nx">ts</span><span class="p">()</span><span class="si">}</span><span class="s"> Resultats Lévis reçus&quot;</span><span class="p">)</span>
<span class="lineno">387</span>                             <span class="k">for</span> <span class="nx">section</span><span class="p">,</span><span class="nx">i</span> <span class="k">in</span> <span class="nx">levis2014</span>
<span class="lineno">388</span>                                 <span class="nv">sv = </span><span class="nx">section</span><span class="p">[</span><span class="s">&#39;S.V.&#39;</span><span class="p">]</span>
<span class="lineno">389</span>                                 <span class="nv">onPiq = </span><span class="nx">section</span><span class="p">[</span><span class="s">&#39;Belley Nicolas O.N. - P.I.Q.&#39;</span><span class="p">]</span>
<span class="lineno">390</span>                                 <span class="nv">pun = </span><span class="nx">section</span><span class="p">[</span><span class="s">&#39;Biron Paul P.U.N.&#39;</span><span class="p">]</span>
<span class="lineno">391</span>                                 <span class="nv">qs = </span><span class="nx">section</span><span class="p">[</span><span class="s">&#39;Bonnier Viger Yv Q.S.&#39;</span><span class="p">]</span>
<span class="lineno">392</span>                                 <span class="nv">caq = </span><span class="nx">section</span><span class="p">[</span><span class="s">&#39;Dubé Christian C.A.Q.-É.F.L.&#39;</span><span class="p">]</span>
<span class="lineno">393</span>                                 <span class="nv">pq = </span><span class="nx">section</span><span class="p">[</span><span class="s">&#39;Girard Sylvie P.Q.&#39;</span><span class="p">]</span>
<span class="lineno">394</span>                                 <span class="nv">eapPcq = </span><span class="nx">section</span><span class="p">[</span><span class="s">&#39;Roy Sébastien É.A.P. - P.C.Q.&#39;</span><span class="p">]</span>
<span class="lineno">395</span>                                 <span class="nv">plq = </span><span class="nx">section</span><span class="p">[</span><span class="s">&#39;Turmel Simon P.L.Q./Q.L.P.&#39;</span><span class="p">]</span>
<span class="lineno">396</span>                         
<span class="lineno">397</span>                                 <span class="c1">#Certaines sections de votes ont été subdivisées parce que le</span>
<span class="lineno">398</span>                                 <span class="c1">#nombre d&#39;électeurTRICEs dépassait 300. Si le résultat parle de</span>
<span class="lineno">399</span>                                 <span class="c1">#secA et secB, sur la carte, il n&#39;y a qu&#39;une seule section &#39;sec&#39;</span>
<span class="lineno">400</span>                                 <span class="c1">#il convient donc d&#39;additionner les deux résultats pour pouvoir</span>
<span class="lineno">401</span>                                 <span class="c1">#avoir un affichage satisfaisant.</span>
<span class="lineno">402</span>                                 <span class="k">if</span> <span class="p">(</span><span class="nx">sv</span> <span class="k">in</span> <span class="p">[</span><span class="s">&#39;37A&#39;</span><span class="p">,</span> <span class="s">&#39;41A&#39;</span><span class="p">,</span> <span class="s">&#39;54A&#39;</span><span class="p">,</span> <span class="s">&#39;114A&#39;</span><span class="p">,</span> <span class="s">&#39;127A&#39;</span><span class="p">])</span>
<span class="lineno">403</span>                                     <span class="nv">sv = </span><span class="nx">sv</span><span class="p">.</span><span class="nx">split</span><span class="p">(</span><span class="s">&#39;A&#39;</span><span class="p">)[</span><span class="mi">0</span><span class="p">]</span>
<span class="lineno">404</span>                             
<span class="lineno">405</span>                                     <span class="nx">onPiq</span> <span class="o">+=</span> <span class="nx">levis2014</span><span class="p">[</span><span class="nx">i</span><span class="o">+</span><span class="mi">1</span><span class="p">][</span><span class="s">&#39;Belley Nicolas O.N. - P.I.Q.&#39;</span><span class="p">]</span>
<span class="lineno">406</span>                                     <span class="nx">pun</span> <span class="o">+=</span> <span class="nx">levis2014</span><span class="p">[</span><span class="nx">i</span><span class="o">+</span><span class="mi">1</span><span class="p">][</span><span class="s">&#39;Biron Paul P.U.N.&#39;</span><span class="p">]</span>
<span class="lineno">407</span>                                     <span class="nx">qs</span> <span class="o">+=</span> <span class="nx">levis2014</span><span class="p">[</span><span class="nx">i</span><span class="o">+</span><span class="mi">1</span><span class="p">][</span><span class="s">&#39;Bonnier Viger Yv Q.S.&#39;</span><span class="p">]</span>
<span class="lineno">408</span>                                     <span class="nx">caq</span> <span class="o">+=</span> <span class="nx">levis2014</span><span class="p">[</span><span class="nx">i</span><span class="o">+</span><span class="mi">1</span><span class="p">][</span><span class="s">&#39;Dubé Christian C.A.Q.-É.F.L.&#39;</span><span class="p">]</span>
<span class="lineno">409</span>                                     <span class="nx">pq</span> <span class="o">+=</span> <span class="nx">levis2014</span><span class="p">[</span><span class="nx">i</span><span class="o">+</span><span class="mi">1</span><span class="p">][</span><span class="s">&#39;Girard Sylvie P.Q.&#39;</span><span class="p">]</span>
<span class="lineno">410</span>                                     <span class="nx">eapPcq</span> <span class="o">+=</span> <span class="nx">levis2014</span><span class="p">[</span><span class="nx">i</span><span class="o">+</span><span class="mi">1</span><span class="p">][</span><span class="s">&#39;Roy Sébastien É.A.P. - P.C.Q.&#39;</span><span class="p">]</span>
<span class="lineno">411</span>                                     <span class="nx">plq</span> <span class="o">+=</span> <span class="nx">levis2014</span><span class="p">[</span><span class="nx">i</span><span class="o">+</span><span class="mi">1</span><span class="p">][</span><span class="s">&#39;Turmel Simon P.L.Q./Q.L.P.&#39;</span><span class="p">]</span>
<span class="lineno">412</span>                         
<span class="lineno">413</span>                                 <span class="nv">partiGagnant = </span><span class="s">&quot;SO&quot;</span>
<span class="lineno">414</span>                                 <span class="nv">voteMaj = </span><span class="mi">0</span>
<span class="lineno">415</span>                         
<span class="lineno">416</span>                                 <span class="k">if</span> <span class="nx">onPiq</span> <span class="o">&gt;</span> <span class="nx">voteMaj</span>
<span class="lineno">417</span>                                     <span class="nv">voteMaj = </span><span class="nx">onPiq</span>
<span class="lineno">418</span>                                     <span class="nv">partiGagnant = </span><span class="s">&quot;on&quot;</span>
<span class="lineno">419</span>                                 <span class="k">if</span> <span class="nx">pun</span> <span class="o">&gt;</span> <span class="nx">voteMaj</span>
<span class="lineno">420</span>                                     <span class="nv">voteMaj = </span><span class="nx">pun</span>
<span class="lineno">421</span>                                     <span class="nv">partiGagnant = </span><span class="s">&quot;pun&quot;</span>
<span class="lineno">422</span>                                 <span class="k">if</span> <span class="nx">qs</span> <span class="o">&gt;</span> <span class="nx">voteMaj</span>
<span class="lineno">423</span>                                     <span class="nv">voteMaj = </span><span class="nx">qs</span>
<span class="lineno">424</span>                                     <span class="nv">partiGagnant = </span><span class="s">&quot;qs&quot;</span>
<span class="lineno">425</span>                                 <span class="k">if</span> <span class="nx">caq</span> <span class="o">&gt;</span> <span class="nx">voteMaj</span>
<span class="lineno">426</span>                                     <span class="nv">voteMaj = </span><span class="nx">caq</span>
<span class="lineno">427</span>                                     <span class="nv">partiGagnant = </span><span class="s">&quot;caq&quot;</span>
<span class="lineno">428</span>                                 <span class="k">if</span> <span class="nx">pq</span> <span class="o">&gt;</span> <span class="nx">voteMaj</span>
<span class="lineno">429</span>                                     <span class="nv">voteMaj = </span><span class="nx">pq</span>
<span class="lineno">430</span>                                     <span class="nv">partiGagnant = </span><span class="s">&quot;pq&quot;</span>
<span class="lineno">431</span>                                 <span class="k">if</span> <span class="nx">eapPcq</span> <span class="o">&gt;</span> <span class="nx">voteMaj</span>
<span class="lineno">432</span>                                     <span class="nv">voteMaj = </span><span class="nx">eapPcq</span>
<span class="lineno">433</span>                                     <span class="nv">partiGagnant = </span><span class="s">&quot;pcq&quot;</span>
<span class="lineno">434</span>                                 <span class="k">if</span> <span class="nx">plq</span> <span class="o">&gt;</span> <span class="nx">voteMaj</span>
<span class="lineno">435</span>                                     <span class="nv">voteMaj = </span><span class="nx">plq</span>
<span class="lineno">436</span>                                     <span class="nv">partiGagnant = </span><span class="s">&quot;plq&quot;</span>
<span class="lineno">437</span>                             
<span class="lineno">438</span>                                 <span class="nv">repere = </span><span class="s">&quot;path\#s</span><span class="si">#{</span><span class="nx">sv</span><span class="si">}</span><span class="s">&quot;</span>
<span class="lineno">439</span>                                 <span class="k">if</span> <span class="p">(</span><span class="nx">$</span><span class="p">(</span><span class="nx">repere</span><span class="p">)</span> <span class="o">&amp;&amp;</span> <span class="nx">$</span><span class="p">(</span><span class="nx">repere</span><span class="p">)[</span><span class="mi">0</span><span class="p">])</span>
<span class="lineno">440</span>                                     <span class="nx">$</span><span class="p">(</span><span class="nx">repere</span><span class="p">)[</span><span class="mi">0</span><span class="p">]</span>
<span class="lineno">441</span>                                         <span class="p">.</span><span class="nx">setAttribute</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="s">&quot;section s</span><span class="si">#{</span><span class="nx">sv</span><span class="si">}</span><span class="s"> gagnant </span><span class="si">#{</span><span class="nx">partiGagnant</span><span class="si">}</span><span class="s">&quot;</span><span class="p">)</span>
<span class="lineno">442</span>                         
<span class="lineno">443</span>                                             
<span class="lineno">444</span>     
</pre></div>
</body>
</html>
