<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <style type="text/css">
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
pre { line-height: 125%; }
body .hll { background-color: #ffffcc }
body  { background: #ffffff; }
body .c { color: #888888 } /* Comment */
body .err { color: #FF0000; background-color: #FFAAAA } /* Error */
body .k { color: #008800; font-weight: bold } /* Keyword */
body .o { color: #333333 } /* Operator */
body .cm { color: #888888 } /* Comment.Multiline */
body .cp { color: #557799 } /* Comment.Preproc */
body .c1 { color: #888888 } /* Comment.Single */
body .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
body .gd { color: #A00000 } /* Generic.Deleted */
body .ge { font-style: italic } /* Generic.Emph */
body .gr { color: #FF0000 } /* Generic.Error */
body .gh { color: #000080; font-weight: bold } /* Generic.Heading */
body .gi { color: #00A000 } /* Generic.Inserted */
body .go { color: #888888 } /* Generic.Output */
body .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
body .gs { font-weight: bold } /* Generic.Strong */
body .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
body .gt { color: #0044DD } /* Generic.Traceback */
body .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
body .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
body .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
body .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
body .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
body .kt { color: #333399; font-weight: bold } /* Keyword.Type */
body .m { color: #6600EE; font-weight: bold } /* Literal.Number */
body .s { background-color: #fff0f0 } /* Literal.String */
body .na { color: #0000CC } /* Name.Attribute */
body .nb { color: #007020 } /* Name.Builtin */
body .nc { color: #BB0066; font-weight: bold } /* Name.Class */
body .no { color: #003366; font-weight: bold } /* Name.Constant */
body .nd { color: #555555; font-weight: bold } /* Name.Decorator */
body .ni { color: #880000; font-weight: bold } /* Name.Entity */
body .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
body .nf { color: #0066BB; font-weight: bold } /* Name.Function */
body .nl { color: #997700; font-weight: bold } /* Name.Label */
body .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
body .nt { color: #007700 } /* Name.Tag */
body .nv { color: #996633 } /* Name.Variable */
body .ow { color: #000000; font-weight: bold } /* Operator.Word */
body .w { color: #bbbbbb } /* Text.Whitespace */
body .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
body .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
body .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
body .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
body .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
body .sc { color: #0044DD } /* Literal.String.Char */
body .sd { color: #DD4422 } /* Literal.String.Doc */
body .s2 { background-color: #fff0f0 } /* Literal.String.Double */
body .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
body .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
body .si { background-color: #eeeeee } /* Literal.String.Interpol */
body .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
body .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
body .s1 { background-color: #fff0f0 } /* Literal.String.Single */
body .ss { color: #AA6600 } /* Literal.String.Symbol */
body .bp { color: #007020 } /* Name.Builtin.Pseudo */
body .vc { color: #336699 } /* Name.Variable.Class */
body .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
body .vi { color: #3333BB } /* Name.Variable.Instance */
body .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */

  </style>
</head>
<body>
<h2></h2>

<div class="highlight"><pre><span class="lineno">  1</span> <span class="c1">// Place all the styles related to the levis controller here.</span>
<span class="lineno">  2</span> <span class="c1">// They will automatically be included in application.css.</span>
<span class="lineno">  3</span> <span class="c1">// You can use Sass (SCSS) here: http://sass-lang.com/</span>
<span class="lineno">  4</span> <span class="c1">// Place all the styles related to the rails3 controller here.</span>
<span class="lineno">  5</span> <span class="c1">// They will automatically be included in application.css.</span>
<span class="lineno">  6</span> <span class="c1">// You can use Sass (SCSS) here: http://sass-lang.com/</span>
<span class="lineno">  7</span> <span class="nn">#map</span> <span class="p">{</span> 
<span class="lineno">  8</span>     <span class="na">height</span><span class="o">:</span> <span class="mi">550</span><span class="kt">px</span><span class="p">;</span> 
<span class="lineno">  9</span>     <span class="na">width</span><span class="o">:</span> <span class="mi">810</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno"> 10</span> <span class="p">}</span>
<span class="lineno"> 11</span> 
<span class="lineno"> 12</span> <span class="c1">// Place all the styles related to the levis controller here.</span>
<span class="lineno"> 13</span> <span class="c1">// They will automatically be included in application.css.</span>
<span class="lineno"> 14</span> <span class="c1">// You can use Sass (SCSS) here: http://sass-lang.com/</span>
<span class="lineno"> 15</span> 
<span class="lineno"> 16</span> <span class="c1">//Couleurs associées à chaque parti</span>
<span class="lineno"> 17</span> <span class="nv">$qs</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">255</span><span class="o">,</span><span class="mi">127</span><span class="o">,</span><span class="mi">80</span><span class="o">,</span><span class="mi">1</span><span class="p">);</span>
<span class="lineno"> 18</span> <span class="nv">$caq</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">132</span><span class="o">,</span><span class="mi">112</span><span class="o">,</span><span class="mi">255</span><span class="o">,</span><span class="mi">1</span><span class="p">);</span>
<span class="lineno"> 19</span> <span class="nv">$plq</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">255</span><span class="o">,</span><span class="mi">0</span><span class="o">,</span><span class="mi">0</span><span class="o">,</span><span class="mi">1</span><span class="p">);</span>
<span class="lineno"> 20</span> <span class="nv">$pq</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">0</span><span class="o">,</span><span class="mi">0</span><span class="o">,</span><span class="mi">128</span><span class="o">,</span><span class="mi">1</span><span class="p">);</span>
<span class="lineno"> 21</span> <span class="nv">$on</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">8</span><span class="o">,</span><span class="mi">8</span><span class="o">,</span><span class="mi">255</span><span class="o">,</span> <span class="mi">1</span><span class="p">);</span>
<span class="lineno"> 22</span> <span class="nv">$vert</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">0</span><span class="o">,</span><span class="mi">128</span><span class="o">,</span><span class="mi">0</span><span class="o">,</span><span class="mi">1</span><span class="p">);</span>
<span class="lineno"> 23</span> 
<span class="lineno"> 24</span> <span class="c1">//Transparenes (circonscriptions et sections)</span>
<span class="lineno"> 25</span> <span class="nv">$trans</span><span class="o">:</span> <span class="mi">0</span><span class="mf">.3</span><span class="p">;</span>
<span class="lineno"> 26</span> <span class="nv">$pin_trans</span><span class="o">:</span> <span class="mi">0</span><span class="mf">.9</span><span class="p">;</span>
<span class="lineno"> 27</span> <span class="nv">$sec_trans</span><span class="o">:</span> <span class="mi">0</span><span class="mf">.5</span><span class="p">;</span>
<span class="lineno"> 28</span> 
<span class="lineno"> 29</span> <span class="c1">//Couleurs de pour les circonscriptions</span>
<span class="lineno"> 30</span> 
<span class="lineno"> 31</span> 
<span class="lineno"> 32</span> 
<span class="lineno"> 33</span> 
<span class="lineno"> 34</span> 
<span class="lineno"> 35</span> <span class="nc">.district</span> <span class="p">{</span>
<span class="lineno"> 36</span>     <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">192</span><span class="o">,</span><span class="mi">192</span><span class="o">,</span><span class="mi">192</span><span class="o">,</span><span class="mi">0</span><span class="mf">.5</span><span class="p">);</span>
<span class="lineno"> 37</span>     <span class="nt">stroke</span><span class="nd">:black</span><span class="o">;</span>
<span class="lineno"> 38</span>     <span class="nt">stroke-dasharray</span><span class="nd">:3</span><span class="o">,</span><span class="nt">2</span><span class="o">;</span>
<span class="lineno"> 39</span>     <span class="nt">stroke-linejoin</span><span class="nd">:</span> <span class="nt">round</span><span class="o">;</span>
<span class="lineno"> 40</span>     
<span class="lineno"> 41</span>     <span class="o">//</span><span class="nt">Pas</span> <span class="nt">de</span> <span class="nt">couleur</span> <span class="nt">de</span> <span class="nt">fond</span> <span class="nt">pour</span> <span class="nt">L</span><span class="err">é</span><span class="nt">vis</span>
<span class="lineno"> 42</span>     <span class="o">//</span><span class="nt">La</span> <span class="nt">coloration</span> <span class="nt">dans</span> <span class="nt">L</span><span class="err">é</span><span class="nt">vis</span> <span class="nt">viendra</span> <span class="nt">avec</span>
<span class="lineno"> 43</span>     <span class="o">//</span><span class="nt">les</span> <span class="nt">sections</span><span class="nc">.</span>
<span class="lineno"> 44</span>     <span class="k">&amp;</span><span class="nc">.d663</span> <span class="p">{</span>
<span class="lineno"> 45</span>         <span class="nt">fill</span><span class="nd">:none</span><span class="o">;</span>
<span class="lineno"> 46</span>     <span class="p">}</span>
<span class="lineno"> 47</span>     
<span class="lineno"> 48</span>     <span class="c1">//Pour les autres, on colore selon le parti gagnant</span>
<span class="lineno"> 49</span>     <span class="k">&amp;</span><span class="nc">.pq</span> <span class="p">{</span>
<span class="lineno"> 50</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$pq</span><span class="o">,</span> <span class="nv">$trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 51</span>     <span class="p">}</span>
<span class="lineno"> 52</span> 
<span class="lineno"> 53</span>     <span class="k">&amp;</span><span class="nc">.plq</span> <span class="p">{</span>
<span class="lineno"> 54</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$plq</span><span class="o">,</span> <span class="nv">$trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 55</span>     <span class="p">}</span>
<span class="lineno"> 56</span> 
<span class="lineno"> 57</span>     <span class="k">&amp;</span><span class="nc">.caq</span> <span class="p">{</span>
<span class="lineno"> 58</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$caq</span><span class="o">,</span> <span class="nv">$trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 59</span>     <span class="p">}</span>
<span class="lineno"> 60</span> 
<span class="lineno"> 61</span>     <span class="k">&amp;</span><span class="nc">.qs</span> <span class="p">{</span>
<span class="lineno"> 62</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$qs</span><span class="o">,</span> <span class="mi">0</span><span class="mf">.3</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 63</span>     <span class="p">}</span>
<span class="lineno"> 64</span> 
<span class="lineno"> 65</span>     <span class="k">&amp;</span><span class="nc">.on</span> <span class="p">{</span>
<span class="lineno"> 66</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$on</span><span class="o">,</span> <span class="nv">$trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 67</span>     <span class="p">}</span>
<span class="lineno"> 68</span> 
<span class="lineno"> 69</span>     <span class="k">&amp;</span><span class="nc">.vert</span> <span class="p">{</span>
<span class="lineno"> 70</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$vert</span><span class="o">,</span> <span class="nv">$trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 71</span>     <span class="p">}</span>
<span class="lineno"> 72</span>     
<span class="lineno"> 73</span> <span class="p">}</span>
<span class="lineno"> 74</span> 
<span class="lineno"> 75</span> <span class="nc">.section</span> <span class="p">{</span>
<span class="lineno"> 76</span>     <span class="na">fill</span><span class="o">:</span> <span class="no">none</span><span class="p">;</span>
<span class="lineno"> 77</span>     <span class="nt">stroke</span><span class="nd">:rgba</span><span class="o">(</span><span class="nt">128</span><span class="o">,</span><span class="nt">128</span><span class="o">,</span><span class="nt">128</span><span class="o">,</span><span class="nt">0</span><span class="nc">.75</span><span class="o">);</span>
<span class="lineno"> 78</span>     <span class="nt">stroke-dasharray</span><span class="nd">:2</span><span class="o">,</span><span class="nt">1</span><span class="o">;</span>
<span class="lineno"> 79</span>     <span class="nt">stroke-linejoin</span><span class="nd">:</span> <span class="nt">round</span><span class="o">;</span>
<span class="lineno"> 80</span>     
<span class="lineno"> 81</span>     <span class="k">&amp;</span><span class="nc">.pq</span> <span class="p">{</span>
<span class="lineno"> 82</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$pq</span><span class="o">,</span> <span class="nv">$sec_trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 83</span>     <span class="p">}</span>
<span class="lineno"> 84</span> 
<span class="lineno"> 85</span>     <span class="k">&amp;</span><span class="nc">.plq</span> <span class="p">{</span>
<span class="lineno"> 86</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$plq</span><span class="o">,</span> <span class="nv">$sec_trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 87</span>     <span class="p">}</span>
<span class="lineno"> 88</span> 
<span class="lineno"> 89</span>     <span class="k">&amp;</span><span class="nc">.caq</span> <span class="p">{</span>
<span class="lineno"> 90</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$caq</span><span class="o">,</span> <span class="nv">$sec_trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 91</span>     <span class="p">}</span>
<span class="lineno"> 92</span> 
<span class="lineno"> 93</span>     <span class="k">&amp;</span><span class="nc">.qs</span> <span class="p">{</span>
<span class="lineno"> 94</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$qs</span><span class="o">,</span> <span class="nv">$sec_trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 95</span>     <span class="p">}</span>
<span class="lineno"> 96</span> 
<span class="lineno"> 97</span>     <span class="k">&amp;</span><span class="nc">.on</span> <span class="p">{</span>
<span class="lineno"> 98</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$on</span><span class="o">,</span> <span class="nv">$sec_trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno"> 99</span>     <span class="p">}</span>
<span class="lineno">100</span> 
<span class="lineno">101</span>     <span class="k">&amp;</span><span class="nc">.vert</span> <span class="p">{</span>
<span class="lineno">102</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$vert</span><span class="o">,</span> <span class="nv">$sec_trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno">103</span>     <span class="p">}</span>
<span class="lineno">104</span> 
<span class="lineno">105</span>     <span class="k">&amp;</span><span class="nc">.pcq</span> <span class="p">{</span>
<span class="lineno">106</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">64</span><span class="o">,</span> <span class="mi">0</span><span class="o">,</span> <span class="mi">64</span><span class="o">,</span> <span class="nv">$sec_trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno">107</span>     <span class="p">}</span>
<span class="lineno">108</span> 
<span class="lineno">109</span>     <span class="k">&amp;</span><span class="nc">.SO</span> <span class="p">{</span>
<span class="lineno">110</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nb">black</span><span class="o">,</span> <span class="nv">$sec_trans</span><span class="p">);</span>
<span class="lineno">111</span>     <span class="p">}</span>
<span class="lineno">112</span>     
<span class="lineno">113</span> <span class="p">}</span>
<span class="lineno">114</span> 
<span class="lineno">115</span> <span class="nt">text</span><span class="nc">.nom</span> <span class="p">{</span>
<span class="lineno">116</span>     <span class="na">fill</span><span class="o">:</span> <span class="nb">red</span><span class="p">;</span>
<span class="lineno">117</span>     <span class="na">font-size</span><span class="o">:</span><span class="mi">18</span><span class="kt">pt</span><span class="p">;</span>
<span class="lineno">118</span>     
<span class="lineno">119</span>     <span class="c1">//Pour Lévis, je n&#39;affiche pas le nom</span>
<span class="lineno">120</span>     <span class="k">&amp;</span><span class="nn">#n663</span> <span class="p">{</span>
<span class="lineno">121</span>         <span class="na">fill</span><span class="o">:</span> <span class="no">none</span><span class="p">;</span>
<span class="lineno">122</span>     <span class="p">}</span>
<span class="lineno">123</span> <span class="p">}</span>
<span class="lineno">124</span> 
<span class="lineno">125</span> <span class="nc">.keyBox</span> <span class="p">{</span>
<span class="lineno">126</span>     <span class="na">border</span><span class="o">:</span> <span class="no">thin</span> <span class="no">solid</span> <span class="nb">black</span><span class="p">;</span>
<span class="lineno">127</span>     <span class="na">padding</span><span class="o">:</span><span class="mi">5</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">128</span>     <span class="na">margin-bottom</span><span class="o">:</span><span class="mi">10</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">129</span>     
<span class="lineno">130</span>     <span class="nc">.keyElement</span> <span class="p">{</span>
<span class="lineno">131</span>         <span class="na">margin-top</span><span class="o">:</span> <span class="mi">3</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">132</span>         <span class="nc">.couleur</span> <span class="p">{</span>
<span class="lineno">133</span>             <span class="na">height</span><span class="o">:</span> <span class="mi">5</span><span class="kt">mm</span><span class="p">;</span>
<span class="lineno">134</span>             <span class="na">width</span><span class="o">:</span> <span class="mi">5</span><span class="kt">mm</span><span class="p">;</span>
<span class="lineno">135</span>             <span class="na">border</span><span class="o">:</span> <span class="no">thin</span> <span class="no">solid</span> <span class="nb">black</span><span class="p">;</span>
<span class="lineno">136</span>             <span class="na">margin-left</span><span class="o">:</span> <span class="mi">5</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">137</span>             <span class="na">margin-right</span><span class="o">:</span> <span class="mi">7</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">138</span>         
<span class="lineno">139</span>             <span class="k">&amp;</span><span class="nc">.plq</span> <span class="p">{</span>
<span class="lineno">140</span>                 <span class="na">background-color</span><span class="o">:</span> <span class="nv">$plq</span><span class="p">;</span>
<span class="lineno">141</span>             <span class="p">}</span>
<span class="lineno">142</span>             <span class="k">&amp;</span><span class="nc">.pq</span> <span class="p">{</span>
<span class="lineno">143</span>                 <span class="na">background-color</span><span class="o">:</span><span class="nv">$pq</span><span class="p">;</span>
<span class="lineno">144</span>             <span class="p">}</span>
<span class="lineno">145</span>             <span class="k">&amp;</span><span class="nc">.caq</span> <span class="p">{</span>
<span class="lineno">146</span>                 <span class="na">background-color</span><span class="o">:</span> <span class="nv">$caq</span><span class="p">;</span>
<span class="lineno">147</span>             <span class="p">}</span>
<span class="lineno">148</span>             <span class="k">&amp;</span><span class="nc">.qs</span> <span class="p">{</span>
<span class="lineno">149</span>                 <span class="na">background-color</span><span class="o">:</span> <span class="nv">$qs</span><span class="p">;</span>
<span class="lineno">150</span>             <span class="p">}</span>
<span class="lineno">151</span>         <span class="p">}</span>
<span class="lineno">152</span> 
<span class="lineno">153</span>     <span class="p">}</span>
<span class="lineno">154</span> <span class="p">}</span>
</pre></div>
</body>
</html>
