<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <style type="text/css">
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
pre { line-height: 125%; }
body .hll { background-color: #ffffcc }
body  { background: #ffffff; }
body .c { color: #888888 } /* Comment */
body .err { color: #FF0000; background-color: #FFAAAA } /* Error */
body .k { color: #008800; font-weight: bold } /* Keyword */
body .o { color: #333333 } /* Operator */
body .cm { color: #888888 } /* Comment.Multiline */
body .cp { color: #557799 } /* Comment.Preproc */
body .c1 { color: #888888 } /* Comment.Single */
body .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
body .gd { color: #A00000 } /* Generic.Deleted */
body .ge { font-style: italic } /* Generic.Emph */
body .gr { color: #FF0000 } /* Generic.Error */
body .gh { color: #000080; font-weight: bold } /* Generic.Heading */
body .gi { color: #00A000 } /* Generic.Inserted */
body .go { color: #888888 } /* Generic.Output */
body .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
body .gs { font-weight: bold } /* Generic.Strong */
body .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
body .gt { color: #0044DD } /* Generic.Traceback */
body .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
body .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
body .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
body .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
body .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
body .kt { color: #333399; font-weight: bold } /* Keyword.Type */
body .m { color: #6600EE; font-weight: bold } /* Literal.Number */
body .s { background-color: #fff0f0 } /* Literal.String */
body .na { color: #0000CC } /* Name.Attribute */
body .nb { color: #007020 } /* Name.Builtin */
body .nc { color: #BB0066; font-weight: bold } /* Name.Class */
body .no { color: #003366; font-weight: bold } /* Name.Constant */
body .nd { color: #555555; font-weight: bold } /* Name.Decorator */
body .ni { color: #880000; font-weight: bold } /* Name.Entity */
body .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
body .nf { color: #0066BB; font-weight: bold } /* Name.Function */
body .nl { color: #997700; font-weight: bold } /* Name.Label */
body .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
body .nt { color: #007700 } /* Name.Tag */
body .nv { color: #996633 } /* Name.Variable */
body .ow { color: #000000; font-weight: bold } /* Operator.Word */
body .w { color: #bbbbbb } /* Text.Whitespace */
body .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
body .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
body .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
body .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
body .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
body .sc { color: #0044DD } /* Literal.String.Char */
body .sd { color: #DD4422 } /* Literal.String.Doc */
body .s2 { background-color: #fff0f0 } /* Literal.String.Double */
body .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
body .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
body .si { background-color: #eeeeee } /* Literal.String.Interpol */
body .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
body .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
body .s1 { background-color: #fff0f0 } /* Literal.String.Single */
body .ss { color: #AA6600 } /* Literal.String.Symbol */
body .bp { color: #007020 } /* Name.Builtin.Pseudo */
body .vc { color: #336699 } /* Name.Variable.Class */
body .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
body .vi { color: #3333BB } /* Name.Variable.Instance */
body .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */

  </style>
</head>
<body>
<h2></h2>

<div class="highlight"><pre><span class="lineno"> 1</span> <span class="p">-</span> <span class="n">provide</span><span class="p">(</span><span class="ss">:title</span><span class="p">,</span> <span class="s1">&#39;Lévis&#39;</span><span class="p">)</span>
<span class="lineno"> 2</span> <span class="p">=</span> <span class="n">stylesheet_link_tag</span> <span class="n">params</span><span class="o">[</span><span class="ss">:controller</span><span class="o">]</span>
<span class="lineno"> 3</span> <span class="nt">%h2</span>
<span class="lineno"> 4</span>     Atelier programmation SVG
<span class="lineno"> 5</span>     
<span class="lineno"> 6</span> <span class="nt">%h3</span>
<span class="lineno"> 7</span>     Analyse des résultats dans Lévis
<span class="lineno"> 8</span>     
<span class="lineno"> 9</span> <span class="nc">.container-fluid</span>
<span class="lineno">10</span>     <span class="nc">.row</span>
<span class="lineno">11</span>         <span class="nc">.col-md-12</span>
<span class="lineno">12</span>             Outre le fond de carte fourni par openstreetmap, quatre (4) fichiers sont utilisés:
<span class="lineno">13</span>             
<span class="lineno">14</span>             <span class="nt">%ul</span>
<span class="lineno">15</span>                 <span class="nt">%li</span> 
<span class="lineno">16</span>                     Un fichier topoJSON décrivant les contours des circonscriptions 
<span class="lineno">17</span>                     électorales dans la région de Québec
<span class="lineno">18</span>                     
<span class="lineno">19</span>                 <span class="nt">%li</span>
<span class="lineno">20</span>                     Un fichier topoJSON décrivant les contours des sections de vote dans Lévis
<span class="lineno">21</span>                     
<span class="lineno">22</span>                 <span class="nt">%li</span>
<span class="lineno">23</span>                     Les résultats, circonscription par circonscription des élections du 2014-04-07
<span class="lineno">24</span>                     
<span class="lineno">25</span>                 <span class="nt">%li</span>
<span class="lineno">26</span>                     Les résultats (fichier csv), section de vote par section de vote, dans Lévis
<span class="lineno">27</span>             
<span class="lineno">28</span>     <span class="nc">.row</span>
<span class="lineno">29</span>         <span class="nc">.col-md-9</span>
<span class="lineno">30</span>             <span class="nt">%p</span><span class="nf">#map</span>
<span class="lineno">31</span>         <span class="nc">.col-md-3</span>
<span class="lineno">32</span>             <span class="nc">.keyBox</span>
<span class="lineno">33</span>                 <span class="nc">.keyElement</span>
<span class="lineno">34</span>                     <span class="nc">.pull-left.couleur.plq</span> &amp;nbsp;
<span class="lineno">35</span>                     Parti Libéral du Québec
<span class="lineno">36</span>                 <span class="nc">.keyElement</span>
<span class="lineno">37</span>                     <span class="nc">.pull-left.couleur.pq</span> &amp;nbsp;
<span class="lineno">38</span>                     Parti Québécois
<span class="lineno">39</span>                 <span class="nc">.keyElement</span>
<span class="lineno">40</span>                     <span class="nc">.pull-left.couleur.caq</span> &amp;nbsp;
<span class="lineno">41</span>                     Coallition Avenir-Québec
<span class="lineno">42</span>                 <span class="nc">.keyElement</span>
<span class="lineno">43</span>                     <span class="nc">.pull-left.couleur.qs</span> &amp;nbsp;
<span class="lineno">44</span>                     Québec solidaire
<span class="lineno">45</span>                     
<span class="lineno">46</span>             <span class="nt">%p</span>
<span class="lineno">47</span>                 Cette exemple utilise les données suivantes:
<span class="lineno">48</span>                 
<span class="lineno">49</span>             <span class="nt">%ol</span>
<span class="lineno">50</span>                 <span class="nt">%li</span> Carte de base d&#39;openstreetmap.org
<span class="lineno">51</span>                 <span class="nt">%li</span> Tracé des circonstriptions du DGEQ
<span class="lineno">52</span>                 <span class="nt">%li</span> Tracé des sections de vote dans Lévis (DGEQ)
<span class="lineno">53</span>                 <span class="nt">%li</span> Résultats par circonscriptions élections 2014-04-07 (DGEQ)
<span class="lineno">54</span>                 <span class="nt">%li</span> Résultats section de vote par section de vote dans Lévis (DGEQ)
<span class="lineno">55</span>                 
<span class="lineno">56</span>             <span class="nt">%p</span>
<span class="lineno">57</span>                 Notons que les noms de circonscriptions voisines ainsi que les numéros
<span class="lineno">58</span>                 de section de vote dans Lévis apparaissent ou non selon le zoom. De plus
<span class="lineno">59</span>                 la taille du texte est choisie de façon à ne pas trop encombrer la carte et
<span class="lineno">60</span>                 ce toujours selon le niveau de zoom choisi.
<span class="lineno">61</span>     <span class="nc">.row</span>
<span class="lineno">62</span>         <span class="nt">%col-md-12</span>
<span class="lineno">63</span>             <span class="p">-</span> <span class="n">gencode_helper</span>
</pre></div>
</body>
</html>
