<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <style type="text/css">
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
pre { line-height: 125%; }
body .hll { background-color: #ffffcc }
body  { background: #ffffff; }
body .c { color: #888888 } /* Comment */
body .err { color: #FF0000; background-color: #FFAAAA } /* Error */
body .k { color: #008800; font-weight: bold } /* Keyword */
body .o { color: #333333 } /* Operator */
body .cm { color: #888888 } /* Comment.Multiline */
body .cp { color: #557799 } /* Comment.Preproc */
body .c1 { color: #888888 } /* Comment.Single */
body .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
body .gd { color: #A00000 } /* Generic.Deleted */
body .ge { font-style: italic } /* Generic.Emph */
body .gr { color: #FF0000 } /* Generic.Error */
body .gh { color: #000080; font-weight: bold } /* Generic.Heading */
body .gi { color: #00A000 } /* Generic.Inserted */
body .go { color: #888888 } /* Generic.Output */
body .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
body .gs { font-weight: bold } /* Generic.Strong */
body .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
body .gt { color: #0044DD } /* Generic.Traceback */
body .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
body .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
body .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
body .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
body .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
body .kt { color: #333399; font-weight: bold } /* Keyword.Type */
body .m { color: #6600EE; font-weight: bold } /* Literal.Number */
body .s { background-color: #fff0f0 } /* Literal.String */
body .na { color: #0000CC } /* Name.Attribute */
body .nb { color: #007020 } /* Name.Builtin */
body .nc { color: #BB0066; font-weight: bold } /* Name.Class */
body .no { color: #003366; font-weight: bold } /* Name.Constant */
body .nd { color: #555555; font-weight: bold } /* Name.Decorator */
body .ni { color: #880000; font-weight: bold } /* Name.Entity */
body .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
body .nf { color: #0066BB; font-weight: bold } /* Name.Function */
body .nl { color: #997700; font-weight: bold } /* Name.Label */
body .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
body .nt { color: #007700 } /* Name.Tag */
body .nv { color: #996633 } /* Name.Variable */
body .ow { color: #000000; font-weight: bold } /* Operator.Word */
body .w { color: #bbbbbb } /* Text.Whitespace */
body .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
body .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
body .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
body .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
body .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
body .sc { color: #0044DD } /* Literal.String.Char */
body .sd { color: #DD4422 } /* Literal.String.Doc */
body .s2 { background-color: #fff0f0 } /* Literal.String.Double */
body .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
body .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
body .si { background-color: #eeeeee } /* Literal.String.Interpol */
body .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
body .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
body .s1 { background-color: #fff0f0 } /* Literal.String.Single */
body .ss { color: #AA6600 } /* Literal.String.Symbol */
body .bp { color: #007020 } /* Name.Builtin.Pseudo */
body .vc { color: #336699 } /* Name.Variable.Class */
body .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
body .vi { color: #3333BB } /* Name.Variable.Instance */
body .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */

  </style>
</head>
<body>
<h2></h2>

<div class="highlight"><pre><span class="lineno">  1</span> <span class="c1"># Place all the behaviors and hooks related to the matching controller here.</span>
<span class="lineno">  2</span> <span class="c1"># All this logic will automatically be available in application.js.</span>
<span class="lineno">  3</span> <span class="c1"># You can use CoffeeScript in this file: http://coffeescript.org/</span>
<span class="lineno">  4</span> 
<span class="lineno">  5</span> <span class="nx">$</span> <span class="nf">-&gt;</span>
<span class="lineno">  6</span>     <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&#39;montreal.js loaded&#39;</span><span class="p">)</span>
<span class="lineno">  7</span>     
<span class="lineno">  8</span>     <span class="nx">arrName</span> <span class="o">=</span><span class="s">&#39;#plateau&#39;</span>
<span class="lineno">  9</span>     <span class="c1">#btngroup handler</span>
<span class="lineno"> 10</span>     <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#radio&#39;</span><span class="p">).</span><span class="nx">buttonset</span><span class="p">()</span>
<span class="lineno"> 11</span>         
<span class="lineno"> 12</span>     <span class="nx">$</span><span class="p">(</span><span class="s">&quot;input&quot;</span><span class="p">).</span><span class="nx">change</span> <span class="nf">(event)-&gt;</span>
<span class="lineno"> 13</span>         <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&#39;change  &#39;</span> <span class="o">+</span> <span class="nx">event</span><span class="p">.</span><span class="nx">target</span><span class="p">.</span><span class="nx">id</span><span class="p">)</span>
<span class="lineno"> 14</span>         <span class="nv">arrName = </span><span class="nx">event</span><span class="p">.</span><span class="nx">target</span><span class="p">.</span><span class="nx">id</span>
<span class="lineno"> 15</span>                 
<span class="lineno"> 16</span>     <span class="c1">#called by the slider each time its value changes</span>
<span class="lineno"> 17</span>     <span class="nv">changeSize = </span><span class="nf">(name, newSize) -&gt;</span>
<span class="lineno"> 18</span>         
<span class="lineno"> 19</span>         <span class="nv">ns = </span><span class="s">&quot;http://www.w3.org/2000/svg&quot;</span>
<span class="lineno"> 20</span>         
<span class="lineno"> 21</span>         <span class="nv">g = </span><span class="nx">$</span><span class="p">(</span><span class="nx">name</span><span class="p">)[</span><span class="mi">0</span><span class="p">]</span>
<span class="lineno"> 22</span>         <span class="k">if</span> <span class="nx">g</span><span class="p">.</span><span class="nx">nodeName</span> <span class="o">==</span> <span class="s">&quot;path&quot;</span>
<span class="lineno"> 23</span>             <span class="nv">parent = </span><span class="nx">g</span><span class="p">.</span><span class="nx">parentNode</span>
<span class="lineno"> 24</span>             <span class="nx">parent</span><span class="p">.</span><span class="nx">removeChild</span><span class="p">(</span><span class="nx">g</span><span class="p">)</span>
<span class="lineno"> 25</span>             <span class="nv">g2 = </span><span class="nb">document</span><span class="p">.</span><span class="nx">createElementNS</span><span class="p">(</span><span class="nx">ns</span><span class="p">,</span> <span class="s">&#39;g&#39;</span><span class="p">);</span>
<span class="lineno"> 26</span>             <span class="nx">g2</span><span class="p">.</span><span class="nx">insertBefore</span><span class="p">(</span><span class="nx">g</span><span class="p">,</span><span class="kc">null</span><span class="p">)</span>
<span class="lineno"> 27</span>             <span class="nx">parent</span><span class="p">.</span><span class="nx">insertBefore</span><span class="p">(</span><span class="nx">g2</span><span class="p">,</span><span class="kc">null</span><span class="p">)</span>
<span class="lineno"> 28</span>             <span class="nv">tempId = </span><span class="nx">g</span><span class="p">.</span><span class="nx">getAttribute</span><span class="p">(</span><span class="s">&#39;id&#39;</span><span class="p">)</span>
<span class="lineno"> 29</span>             <span class="nx">g</span><span class="p">.</span><span class="nx">setAttribute</span><span class="p">(</span><span class="s">&#39;id&#39;</span><span class="p">,</span> <span class="kc">null</span><span class="p">)</span>
<span class="lineno"> 30</span>             <span class="nx">g2</span><span class="p">.</span><span class="nx">setAttribute</span><span class="p">(</span><span class="s">&#39;id&#39;</span><span class="p">,</span> <span class="nx">tempId</span><span class="p">)</span>
<span class="lineno"> 31</span>             <span class="nv">g = </span><span class="nx">g2</span>  
<span class="lineno"> 32</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;path inserted in an enclosing g element &quot;</span> <span class="o">+</span> <span class="nx">g2</span><span class="p">.</span><span class="nx">getAttribute</span><span class="p">(</span><span class="s">&#39;id&#39;</span><span class="p">))</span>                     
<span class="lineno"> 33</span>         <span class="nv">rect = </span><span class="nx">g</span><span class="p">.</span><span class="nx">getBBox</span><span class="p">()</span>
<span class="lineno"> 34</span>         <span class="nv">w = </span><span class="nx">rect</span><span class="p">.</span><span class="nx">width</span><span class="p">;</span>
<span class="lineno"> 35</span>         <span class="nv">h = </span><span class="nx">rect</span><span class="p">.</span><span class="nx">height</span><span class="p">;</span>
<span class="lineno"> 36</span>         <span class="nv">x = </span><span class="nx">rect</span><span class="p">.</span><span class="nx">x</span><span class="p">;</span>
<span class="lineno"> 37</span>         <span class="nv">y = </span><span class="nx">rect</span><span class="p">.</span><span class="nx">y</span><span class="p">;</span>
<span class="lineno"> 38</span>         
<span class="lineno"> 39</span>         <span class="c1">##Recolor</span>
<span class="lineno"> 40</span>         <span class="nx">$</span><span class="p">(</span><span class="nx">name</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;style&#39;</span><span class="p">,</span> <span class="s">&#39;fill: blue&#39;</span><span class="p">)</span>
<span class="lineno"> 41</span>         <span class="nx">$</span><span class="p">(</span><span class="nx">name</span> <span class="o">+</span> <span class="s">&quot; path&quot;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;style&#39;</span><span class="p">,</span> <span class="s">&#39;fill: blue&#39;</span><span class="p">)</span>
<span class="lineno"> 42</span>         
<span class="lineno"> 43</span>         <span class="c1">#create a colored semi-transparent background</span>
<span class="lineno"> 44</span>         <span class="c1"># Check if the first node is not already an enclosing rect</span>
<span class="lineno"> 45</span>         <span class="nv">rect = </span><span class="nx">g</span><span class="p">.</span><span class="nx">firstChild</span>
<span class="lineno"> 46</span>         <span class="k">if</span> <span class="nx">rect</span><span class="p">.</span><span class="nx">nodeName</span> <span class="o">==</span> <span class="s">&#39;rect&#39;</span>
<span class="lineno"> 47</span>             <span class="k">if</span> <span class="nx">newSize</span> <span class="o">&lt;=</span> <span class="mi">1</span>
<span class="lineno"> 48</span>                 <span class="nx">g</span><span class="p">.</span><span class="nx">removeChild</span><span class="p">(</span><span class="nx">rect</span><span class="p">)</span>
<span class="lineno"> 49</span>                 <span class="nx">$</span><span class="p">(</span><span class="nx">name</span> <span class="o">+</span> <span class="s">&#39; path&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;style&#39;</span><span class="p">,</span> <span class="s">&#39;stroke:0&#39;</span><span class="p">)</span>
<span class="lineno"> 50</span>             <span class="k">if</span> <span class="nx">newSize</span> <span class="o">&gt;</span> <span class="mi">1</span>
<span class="lineno"> 51</span>                 <span class="nx">$</span><span class="p">(</span><span class="nx">name</span> <span class="o">+</span> <span class="s">&#39; path&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;style&#39;</span><span class="p">,</span> <span class="s">&#39;stroke-width:3px; stroke:white&#39;</span><span class="p">)</span>
<span class="lineno"> 52</span>         <span class="k">else</span>
<span class="lineno"> 53</span>             <span class="k">if</span> <span class="nx">newSize</span> <span class="o">&gt;</span> <span class="mi">1</span>
<span class="lineno"> 54</span>                 <span class="nx">$</span><span class="p">(</span><span class="nx">name</span> <span class="o">+</span> <span class="s">&#39; path&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;style&#39;</span><span class="p">,</span> <span class="s">&#39;stroke-width:3px; stroke:white&#39;</span><span class="p">)</span>
<span class="lineno"> 55</span>                 <span class="nv">rect = </span><span class="nb">document</span><span class="p">.</span><span class="nx">createElementNS</span><span class="p">(</span><span class="nx">ns</span><span class="p">,</span> <span class="s">&#39;rect&#39;</span><span class="p">);</span>
<span class="lineno"> 56</span>                 <span class="nx">rect</span><span class="p">.</span><span class="nx">setAttribute</span><span class="p">(</span><span class="s">&#39;x&#39;</span><span class="p">,</span> <span class="nx">x</span><span class="p">);</span>
<span class="lineno"> 57</span>                 <span class="nx">rect</span><span class="p">.</span><span class="nx">setAttribute</span><span class="p">(</span><span class="s">&#39;y&#39;</span><span class="p">,</span> <span class="nx">y</span><span class="p">);</span>
<span class="lineno"> 58</span>                 <span class="nx">rect</span><span class="p">.</span><span class="nx">setAttribute</span><span class="p">(</span><span class="s">&#39;width&#39;</span><span class="p">,</span> <span class="nx">w</span><span class="p">);</span>
<span class="lineno"> 59</span>                 <span class="nx">rect</span><span class="p">.</span><span class="nx">setAttribute</span><span class="p">(</span><span class="s">&#39;height&#39;</span><span class="p">,</span> <span class="nx">h</span><span class="p">);</span>
<span class="lineno"> 60</span>                 <span class="nx">rect</span><span class="p">.</span><span class="nx">setAttribute</span><span class="p">(</span><span class="s">&#39;style&#39;</span><span class="p">,</span> <span class="s">&quot;fill:rgba(64,64,64,0.9);stroke-width:3;stroke:rgb(0,0,0)&quot;</span><span class="p">)</span>
<span class="lineno"> 61</span>                 <span class="nx">g</span><span class="p">.</span><span class="nx">insertBefore</span><span class="p">(</span><span class="nx">rect</span><span class="p">,</span> <span class="nx">g</span><span class="p">.</span><span class="nx">firstChild</span><span class="p">)</span>
<span class="lineno"> 62</span>         <span class="c1">#make sure our g element is above others</span>
<span class="lineno"> 63</span>         <span class="nv">parent = </span><span class="nx">g</span><span class="p">.</span><span class="nx">parentNode</span>
<span class="lineno"> 64</span>         <span class="nx">parent</span><span class="p">.</span><span class="nx">removeChild</span><span class="p">(</span><span class="nx">g</span><span class="p">)</span>
<span class="lineno"> 65</span>         <span class="nx">parent</span><span class="p">.</span><span class="nx">insertBefore</span><span class="p">(</span><span class="nx">g</span><span class="p">,</span><span class="kc">null</span><span class="p">)</span>
<span class="lineno"> 66</span>         
<span class="lineno"> 67</span>         <span class="c1">#resize and re-center</span>
<span class="lineno"> 68</span>     
<span class="lineno"> 69</span>         <span class="nv">s = </span><span class="nx">newSize</span>
<span class="lineno"> 70</span>         <span class="nv">center = </span><span class="nx">x</span> <span class="o">+</span> <span class="nx">w</span><span class="o">/</span><span class="mi">2</span>
<span class="lineno"> 71</span>         <span class="nv">middle = </span><span class="nx">y</span> <span class="o">+</span> <span class="nx">h</span><span class="o">/</span><span class="mi">2</span>
<span class="lineno"> 72</span>         <span class="nv">inv = </span><span class="mi">1</span> <span class="o">-</span> <span class="nx">s</span>
<span class="lineno"> 73</span>         <span class="nx">g</span><span class="p">.</span><span class="nx">setAttribute</span><span class="p">(</span><span class="s">&#39;transform&#39;</span><span class="p">,</span> <span class="s">&quot;translate(\#{center * inv}, \#{middle * inv}) scale(\#{s})&quot;</span><span class="p">)</span>
<span class="lineno"> 74</span> 
<span class="lineno"> 75</span> 
<span class="lineno"> 76</span> 
<span class="lineno"> 77</span>     <span class="c1">## setup the slider</span>
<span class="lineno"> 78</span>     <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#slider&#39;</span><span class="p">).</span><span class="nx">slider</span><span class="p">({</span><span class="nv">min: </span><span class="mi">1</span><span class="p">,</span> <span class="nv">max: </span><span class="mi">5</span><span class="p">,</span><span class="nv">step: </span><span class="mf">0.25</span><span class="p">,</span><span class="nv">slide: </span><span class="nf">(event, ui) -&gt;</span>
<span class="lineno"> 79</span>                                                     <span class="nx">changeSize</span><span class="p">(</span><span class="nx">arrName</span><span class="p">,</span> <span class="nx">ui</span><span class="p">.</span><span class="nx">value</span><span class="p">)</span>
<span class="lineno"> 80</span>                         <span class="p">})</span>
<span class="lineno"> 81</span>     <span class="c1">## load Montreal map and make it available for jquery</span>
<span class="lineno"> 82</span>     <span class="nv">main_chart_svg = </span><span class="nb">document</span><span class="p">.</span><span class="nx">getElementById</span><span class="p">(</span><span class="s">&#39;anotherTest&#39;</span><span class="p">)</span>
<span class="lineno"> 83</span>     
<span class="lineno"> 84</span>     <span class="nx">d3</span><span class="p">.</span><span class="nx">xml</span> <span class="s">&quot;/mtl.svg&quot;</span><span class="p">,</span> <span class="nf">(error, documentFragment) -&gt;</span>
<span class="lineno"> 85</span>         <span class="k">if</span> <span class="p">(</span><span class="nx">error</span><span class="p">)</span>
<span class="lineno"> 86</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="nx">error</span><span class="p">)</span>
<span class="lineno"> 87</span>             <span class="k">return</span>
<span class="lineno"> 88</span>             
<span class="lineno"> 89</span>         <span class="nv">svgNode = </span><span class="nx">documentFragment</span><span class="p">.</span><span class="nx">getElementsByTagName</span><span class="p">(</span><span class="s">&quot;svg&quot;</span><span class="p">)[</span><span class="mi">0</span><span class="p">]</span>
<span class="lineno"> 90</span>         
<span class="lineno"> 91</span>         <span class="nx">main_chart_svg</span><span class="p">.</span><span class="nx">appendChild</span><span class="p">(</span><span class="nx">svgNode</span><span class="p">)</span>
<span class="lineno"> 92</span>         
<span class="lineno"> 93</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#layer1&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;transform&#39;</span><span class="p">,</span> <span class="s">&#39;scale(0.5) translate(320,0)&#39;</span><span class="p">)</span>
<span class="lineno"> 94</span> 
<span class="lineno"> 95</span>         <span class="nv">arr = </span><span class="p">[</span><span class="s">&#39;#outremont&#39;</span><span class="p">,</span> 
<span class="lineno"> 96</span>                 <span class="s">&#39;#ilebizarre&#39;</span><span class="p">,</span>
<span class="lineno"> 97</span>                 <span class="s">&#39;#pierrefond&#39;</span><span class="p">,</span>
<span class="lineno"> 98</span>                 <span class="s">&#39;#ahuntsic&#39;</span><span class="p">,</span>
<span class="lineno"> 99</span>                 <span class="s">&#39;#CoteDesNeigesNotreDameDeGrace&#39;</span><span class="p">,</span> 
<span class="lineno">100</span>                 <span class="s">&#39;#saintlaurent&#39;</span><span class="p">,</span> 
<span class="lineno">101</span>                 <span class="s">&#39;#VilleraySaintMichelParcExtension&#39;</span><span class="p">,</span>
<span class="lineno">102</span>                 <span class="s">&#39;#villemarie&#39;</span><span class="p">,</span> 
<span class="lineno">103</span>                 <span class="s">&#39;#plateau&#39;</span><span class="p">,</span> 
<span class="lineno">104</span>                 <span class="s">&#39;#stmichel&#39;</span><span class="p">,</span>
<span class="lineno">105</span>                 <span class="s">&#39;#rosemont&#39;</span><span class="p">,</span> 
<span class="lineno">106</span>                 <span class="s">&#39;#sudouest&#39;</span><span class="p">,</span> 
<span class="lineno">107</span>                 <span class="s">&#39;#LaSalle&#39;</span><span class="p">,</span>
<span class="lineno">108</span>                 <span class="s">&#39;#Lachine&#39;</span><span class="p">,</span>
<span class="lineno">109</span>                 <span class="s">&#39;#Verdun&#39;</span><span class="p">,</span> 
<span class="lineno">110</span>                 <span class="s">&#39;#MercierHochelagaMaisonneuve&#39;</span><span class="p">,</span>
<span class="lineno">111</span>                 <span class="s">&#39;#PointeAuxTrembles&#39;</span><span class="p">,</span>
<span class="lineno">112</span>                 <span class="s">&#39;#anjou&#39;</span><span class="p">,</span>
<span class="lineno">113</span>                 <span class="s">&#39;#MontrealNord&#39;</span><span class="p">]</span>
<span class="lineno">114</span>         <span class="k">for</span> <span class="nx">arrondissement</span><span class="p">,</span> <span class="nx">i</span> <span class="k">in</span> <span class="nx">arr</span>
<span class="lineno">115</span>             <span class="nx">$</span><span class="p">(</span><span class="nx">arrondissement</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;style&#39;</span><span class="p">,</span> <span class="s">&quot;fill:</span><span class="err">#</span><span class="s">000066;&quot;</span><span class="p">)</span>
<span class="lineno">116</span>             <span class="nx">$</span><span class="p">(</span><span class="nx">arrondissement</span> <span class="o">+</span> <span class="s">&quot; path&quot;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;style&#39;</span><span class="p">,</span> <span class="s">&quot;fill:</span><span class="err">#</span><span class="s">112244;&quot;</span><span class="p">)</span>
<span class="lineno">117</span>         
</pre></div>
</body>
</html>
