<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <style type="text/css">
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
pre { line-height: 125%; }
body .hll { background-color: #ffffcc }
body  { background: #ffffff; }
body .c { color: #888888 } /* Comment */
body .err { color: #FF0000; background-color: #FFAAAA } /* Error */
body .k { color: #008800; font-weight: bold } /* Keyword */
body .o { color: #333333 } /* Operator */
body .cm { color: #888888 } /* Comment.Multiline */
body .cp { color: #557799 } /* Comment.Preproc */
body .c1 { color: #888888 } /* Comment.Single */
body .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
body .gd { color: #A00000 } /* Generic.Deleted */
body .ge { font-style: italic } /* Generic.Emph */
body .gr { color: #FF0000 } /* Generic.Error */
body .gh { color: #000080; font-weight: bold } /* Generic.Heading */
body .gi { color: #00A000 } /* Generic.Inserted */
body .go { color: #888888 } /* Generic.Output */
body .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
body .gs { font-weight: bold } /* Generic.Strong */
body .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
body .gt { color: #0044DD } /* Generic.Traceback */
body .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
body .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
body .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
body .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
body .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
body .kt { color: #333399; font-weight: bold } /* Keyword.Type */
body .m { color: #6600EE; font-weight: bold } /* Literal.Number */
body .s { background-color: #fff0f0 } /* Literal.String */
body .na { color: #0000CC } /* Name.Attribute */
body .nb { color: #007020 } /* Name.Builtin */
body .nc { color: #BB0066; font-weight: bold } /* Name.Class */
body .no { color: #003366; font-weight: bold } /* Name.Constant */
body .nd { color: #555555; font-weight: bold } /* Name.Decorator */
body .ni { color: #880000; font-weight: bold } /* Name.Entity */
body .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
body .nf { color: #0066BB; font-weight: bold } /* Name.Function */
body .nl { color: #997700; font-weight: bold } /* Name.Label */
body .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
body .nt { color: #007700 } /* Name.Tag */
body .nv { color: #996633 } /* Name.Variable */
body .ow { color: #000000; font-weight: bold } /* Operator.Word */
body .w { color: #bbbbbb } /* Text.Whitespace */
body .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
body .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
body .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
body .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
body .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
body .sc { color: #0044DD } /* Literal.String.Char */
body .sd { color: #DD4422 } /* Literal.String.Doc */
body .s2 { background-color: #fff0f0 } /* Literal.String.Double */
body .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
body .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
body .si { background-color: #eeeeee } /* Literal.String.Interpol */
body .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
body .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
body .s1 { background-color: #fff0f0 } /* Literal.String.Single */
body .ss { color: #AA6600 } /* Literal.String.Symbol */
body .bp { color: #007020 } /* Name.Builtin.Pseudo */
body .vc { color: #336699 } /* Name.Variable.Class */
body .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
body .vi { color: #3333BB } /* Name.Variable.Instance */
body .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */

  </style>
</head>
<body>
<h2></h2>

<div class="highlight"><pre><span class="lineno">  1</span> <span class="c1"># Place all the behaviors and hooks related to the matching controller here.</span>
<span class="lineno">  2</span> <span class="c1"># All this logic will automatically be available in application.js.</span>
<span class="lineno">  3</span> <span class="c1"># You can use CoffeeScript in this file: http://coffeescript.org/</span>
<span class="lineno">  4</span> <span class="nx">$</span> <span class="nf">-&gt;</span> 
<span class="lineno">  5</span>     
<span class="lineno">  6</span>     <span class="c1"># Matrix functions</span>
<span class="lineno">  7</span>     <span class="nv">deltaTransformPoint = </span><span class="nf">(matrix, point) -&gt;</span>
<span class="lineno">  8</span>         <span class="nv">dx = </span><span class="nx">point</span><span class="p">.</span><span class="nx">x</span> <span class="o">*</span> <span class="nx">matrix</span><span class="p">.</span><span class="nx">a</span> <span class="o">+</span> <span class="nx">point</span><span class="p">.</span><span class="nx">y</span> <span class="o">*</span> <span class="nx">matrix</span><span class="p">.</span><span class="nx">c</span> <span class="o">+</span> <span class="mi">0</span>
<span class="lineno">  9</span>         <span class="nv">dy = </span><span class="nx">point</span><span class="p">.</span><span class="nx">x</span> <span class="o">*</span> <span class="nx">matrix</span><span class="p">.</span><span class="nx">b</span> <span class="o">+</span> <span class="nx">point</span><span class="p">.</span><span class="nx">y</span> <span class="o">*</span> <span class="nx">matrix</span><span class="p">.</span><span class="nx">d</span> <span class="o">+</span> <span class="mi">0</span>
<span class="lineno"> 10</span>         <span class="p">{</span> <span class="nv">x: </span><span class="nx">dx</span><span class="p">,</span> <span class="nv">y: </span><span class="nx">dy</span> <span class="p">}</span>
<span class="lineno"> 11</span> 
<span class="lineno"> 12</span>     <span class="nv">decomposeMatrix  = </span><span class="nf">(matrix) -&gt;</span>
<span class="lineno"> 13</span> 
<span class="lineno"> 14</span>         <span class="c1"># @see https://gist.github.com/2052247</span>
<span class="lineno"> 15</span> 
<span class="lineno"> 16</span>         <span class="c1"># calculate delta transform point</span>
<span class="lineno"> 17</span>         <span class="nv">px = </span><span class="nx">deltaTransformPoint</span><span class="p">(</span><span class="nx">matrix</span><span class="p">,</span> <span class="p">{</span> <span class="nv">x: </span><span class="mi">0</span><span class="p">,</span> <span class="nv">y: </span><span class="mi">1</span> <span class="p">})</span>
<span class="lineno"> 18</span>         <span class="nv">py = </span><span class="nx">deltaTransformPoint</span><span class="p">(</span><span class="nx">matrix</span><span class="p">,</span> <span class="p">{</span> <span class="nv">x: </span><span class="mi">1</span><span class="p">,</span> <span class="nv">y: </span><span class="mi">0</span> <span class="p">})</span>
<span class="lineno"> 19</span> 
<span class="lineno"> 20</span>         <span class="c1"># calculate skew</span>
<span class="lineno"> 21</span>         <span class="nv">skewX = </span><span class="p">((</span><span class="mi">180</span> <span class="o">/</span> <span class="nb">Math</span><span class="p">.</span><span class="nx">PI</span><span class="p">)</span> <span class="o">*</span> <span class="nb">Math</span><span class="p">.</span><span class="nx">atan2</span><span class="p">(</span><span class="nx">px</span><span class="p">.</span><span class="nx">y</span><span class="p">,</span> <span class="nx">px</span><span class="p">.</span><span class="nx">x</span><span class="p">)</span> <span class="o">-</span> <span class="mi">90</span><span class="p">)</span>
<span class="lineno"> 22</span>         <span class="nv">skewY = </span><span class="p">((</span><span class="mi">180</span> <span class="o">/</span> <span class="nb">Math</span><span class="p">.</span><span class="nx">PI</span><span class="p">)</span> <span class="o">*</span> <span class="nb">Math</span><span class="p">.</span><span class="nx">atan2</span><span class="p">(</span><span class="nx">py</span><span class="p">.</span><span class="nx">y</span><span class="p">,</span> <span class="nx">py</span><span class="p">.</span><span class="nx">x</span><span class="p">))</span>
<span class="lineno"> 23</span> 
<span class="lineno"> 24</span>         <span class="p">{</span>
<span class="lineno"> 25</span>             <span class="nv">translateX: </span><span class="nx">matrix</span><span class="p">.</span><span class="nx">e</span><span class="p">,</span>
<span class="lineno"> 26</span>             <span class="nv">translateY: </span><span class="nx">matrix</span><span class="p">.</span><span class="nx">f</span><span class="p">,</span>
<span class="lineno"> 27</span>             <span class="nv">scaleX: </span><span class="nb">Math</span><span class="p">.</span><span class="nx">sqrt</span><span class="p">(</span><span class="nx">matrix</span><span class="p">.</span><span class="nx">a</span> <span class="o">*</span> <span class="nx">matrix</span><span class="p">.</span><span class="nx">a</span> <span class="o">+</span> <span class="nx">matrix</span><span class="p">.</span><span class="nx">b</span> <span class="o">*</span> <span class="nx">matrix</span><span class="p">.</span><span class="nx">b</span><span class="p">),</span>
<span class="lineno"> 28</span>             <span class="nv">scaleY: </span><span class="nb">Math</span><span class="p">.</span><span class="nx">sqrt</span><span class="p">(</span><span class="nx">matrix</span><span class="p">.</span><span class="nx">c</span> <span class="o">*</span> <span class="nx">matrix</span><span class="p">.</span><span class="nx">c</span> <span class="o">+</span> <span class="nx">matrix</span><span class="p">.</span><span class="nx">d</span> <span class="o">*</span> <span class="nx">matrix</span><span class="p">.</span><span class="nx">d</span><span class="p">),</span>
<span class="lineno"> 29</span>             <span class="nv">skewX: </span><span class="nx">skewX</span><span class="p">,</span>
<span class="lineno"> 30</span>             <span class="nv">skewY: </span><span class="nx">skewY</span><span class="p">,</span>
<span class="lineno"> 31</span>             <span class="nv">rotation: </span><span class="nx">skewX</span> <span class="c1"># rotation is the same as skew x</span>
<span class="lineno"> 32</span>         <span class="p">}</span>        
<span class="lineno"> 33</span>     
<span class="lineno"> 34</span>     <span class="nv">showObject = </span><span class="nf">(objetName) -&gt;</span>
<span class="lineno"> 35</span>         
<span class="lineno"> 36</span>         <span class="c1">#console.log(&quot;showObject&quot;)</span>
<span class="lineno"> 37</span>         <span class="nv">myObject = </span><span class="nx">$</span><span class="p">(</span><span class="nx">objetName</span><span class="p">)[</span><span class="mi">0</span><span class="p">]</span>
<span class="lineno"> 38</span>         <span class="k">if</span> <span class="nx">myObject</span> <span class="o">==</span> <span class="kc">undefined</span>
<span class="lineno"> 39</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;ERROR: &quot;</span> <span class="o">+</span> <span class="nx">objetName</span> <span class="o">+</span> <span class="s">&quot; is not found!&quot;</span><span class="p">)</span>
<span class="lineno"> 40</span>             <span class="k">return</span><span class="p">;</span>
<span class="lineno"> 41</span>         
<span class="lineno"> 42</span>         <span class="nv">matrix = </span><span class="nx">myObject</span><span class="p">.</span><span class="nx">getCTM</span><span class="p">()</span>
<span class="lineno"> 43</span>         <span class="nv">resultat = </span><span class="nx">decomposeMatrix</span><span class="p">(</span><span class="nx">matrix</span><span class="p">)</span>
<span class="lineno"> 44</span> 
<span class="lineno"> 45</span>         <span class="c1">#console.log(&quot;tranlateX: &quot; + resultat.translateX + &quot; translateY: &quot; + resultat.translateY + &quot; scaleX: &quot; + resultat.scaleX + &quot; scaleY: &quot;+ resultat.scaleY)</span>
<span class="lineno"> 46</span>         <span class="c1">#console.log(objetName + &quot; attr: &quot;+ $(objetName).attr(&#39;transform&#39;))</span>
<span class="lineno"> 47</span>        
<span class="lineno"> 48</span>         <span class="nv">m = </span><span class="nx">myObject</span><span class="p">.</span><span class="nx">getCTM</span><span class="p">();</span>
<span class="lineno"> 49</span>         <span class="nx">$</span><span class="p">(</span><span class="nx">myObject</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;transform&quot;</span><span class="p">,</span> <span class="s">&quot;matrix(&quot;</span><span class="o">+</span><span class="nx">m</span><span class="p">.</span><span class="nx">a</span><span class="o">+</span><span class="s">&quot;,&quot;</span><span class="o">+</span><span class="nx">m</span><span class="p">.</span><span class="nx">b</span><span class="o">+</span><span class="s">&quot;,&quot;</span><span class="o">+</span><span class="nx">m</span><span class="p">.</span><span class="nx">c</span><span class="o">+</span><span class="s">&quot;,&quot;</span><span class="o">+</span> <span class="nx">m</span><span class="p">.</span><span class="nx">d</span><span class="o">+</span><span class="s">&quot;,&quot;</span><span class="o">+</span><span class="nx">m</span><span class="p">.</span><span class="nx">e</span><span class="o">+</span><span class="s">&quot;,&quot;</span><span class="o">+</span><span class="nx">m</span><span class="p">.</span><span class="nx">f</span><span class="o">+</span><span class="s">&quot;)&quot;</span><span class="p">)</span>
<span class="lineno"> 50</span>     
<span class="lineno"> 51</span> 
<span class="lineno"> 52</span> 
<span class="lineno"> 53</span>     
<span class="lineno"> 54</span>     <span class="c1"># Declare object id viewport as panzoom object</span>
<span class="lineno"> 55</span>     <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">).</span><span class="nx">panzoom</span><span class="p">();</span>
<span class="lineno"> 56</span>     
<span class="lineno"> 57</span>     <span class="c1">#usefull global constants</span>
<span class="lineno"> 58</span>     <span class="nv">$panzoom = </span><span class="nx">$</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">).</span><span class="nx">panzoom</span><span class="p">()</span>
<span class="lineno"> 59</span>     <span class="nv">$parent  = </span><span class="nx">$panzoom</span><span class="p">.</span><span class="nx">parent</span><span class="p">()</span>
<span class="lineno"> 60</span> 
<span class="lineno"> 61</span>     <span class="c1"># setup the mousewheel to support zoom</span>
<span class="lineno"> 62</span>     <span class="nx">$parent</span><span class="p">.</span><span class="nx">on</span> <span class="s">&#39;mousewheel.focal&#39;</span><span class="p">,</span> <span class="nf">(e) -&gt;</span>
<span class="lineno"> 63</span>         <span class="nx">e</span><span class="p">.</span><span class="nx">preventDefault</span><span class="p">();</span>
<span class="lineno"> 64</span>         <span class="nv">delta = </span><span class="nx">e</span><span class="p">.</span><span class="nx">delta</span> <span class="o">||</span> <span class="nx">e</span><span class="p">.</span><span class="nx">originalEvent</span><span class="p">.</span><span class="nx">wheelDelta</span><span class="p">;</span>
<span class="lineno"> 65</span>         <span class="nv">zoomOut = </span><span class="nx">delta</span> <span class="o">?</span> <span class="nx">delta</span> <span class="o">&lt;</span> <span class="mi">0</span> <span class="o">:</span> <span class="nx">e</span><span class="p">.</span><span class="nx">originalEvent</span><span class="p">.</span><span class="nx">deltaY</span> <span class="o">&gt;</span> <span class="mi">0</span><span class="p">;</span>
<span class="lineno"> 66</span>         <span class="nx">$panzoom</span><span class="p">.</span><span class="nx">panzoom</span> <span class="s">&#39;zoom&#39;</span><span class="p">,</span> <span class="nx">zoomOut</span><span class="p">,</span> <span class="p">{</span>
<span class="lineno"> 67</span>           <span class="nv">increment: </span><span class="mf">0.1</span><span class="p">,</span>
<span class="lineno"> 68</span>           <span class="nv">animate: </span><span class="kc">false</span><span class="p">,</span>
<span class="lineno"> 69</span>           <span class="nv">focal: </span><span class="nx">e</span>
<span class="lineno"> 70</span>         <span class="p">}</span>
<span class="lineno"> 71</span>     
<span class="lineno"> 72</span> 
<span class="lineno"> 73</span>     <span class="c1">#Setup button handlers</span>
<span class="lineno"> 74</span>     <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#general&#39;</span><span class="p">).</span><span class="nx">click</span> <span class="nf">-&gt;</span>
<span class="lineno"> 75</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#myImage&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;xlink:href&#39;</span><span class="p">,</span> <span class="s">&#39;/Carte.svg&#39;</span><span class="p">)</span>
<span class="lineno"> 76</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;transform&#39;</span><span class="p">,</span> <span class="s">&quot;scale(0.60) translate(-250, -10)&quot;</span><span class="p">);</span>
<span class="lineno"> 77</span>         <span class="nx">showObject</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">);</span>
<span class="lineno"> 78</span> 
<span class="lineno"> 79</span>     <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#cdg&#39;</span><span class="p">).</span><span class="nx">click</span> <span class="nf">-&gt;</span>
<span class="lineno"> 80</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#myImage&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;xlink:href&#39;</span><span class="p">,</span> <span class="s">&#39;/Carte.svg&#39;</span><span class="p">);</span>
<span class="lineno"> 81</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;transform&#39;</span><span class="p">,</span> <span class="s">&quot;scale(1.5) translate(-1000, -15)&quot;</span><span class="p">);</span>
<span class="lineno"> 82</span>         <span class="nx">showObject</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">);</span>
<span class="lineno"> 83</span> 
<span class="lineno"> 84</span>     <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#Paris_centre&#39;</span><span class="p">).</span><span class="nx">click</span> <span class="nf">-&gt;</span>
<span class="lineno"> 85</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#myImage&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;xlink:href&#39;</span><span class="p">,</span> <span class="s">&#39;/Carte.svg&#39;</span><span class="p">);</span>
<span class="lineno"> 86</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;transform&#39;</span><span class="p">,</span> <span class="s">&quot;scale(1.5) translate(-550, -300)&quot;</span><span class="p">);</span>
<span class="lineno"> 87</span>         <span class="nx">showObject</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">);</span>
<span class="lineno"> 88</span> 
<span class="lineno"> 89</span>     <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#Paris_rivegauche&#39;</span><span class="p">).</span><span class="nx">click</span> <span class="nf">-&gt;</span>
<span class="lineno"> 90</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#myImage&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;xlink:href&#39;</span><span class="p">,</span> <span class="s">&#39;/Carte.svg&#39;</span><span class="p">);</span>
<span class="lineno"> 91</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;transform&#39;</span><span class="p">,</span> <span class="s">&quot;scale(3) translate(-600, -500)&quot;</span><span class="p">);</span>
<span class="lineno"> 92</span>         <span class="nx">showObject</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">);</span>
<span class="lineno"> 93</span> 
<span class="lineno"> 94</span> 
<span class="lineno"> 95</span>     <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#metro_general&#39;</span><span class="p">).</span><span class="nx">click</span> <span class="nf">-&gt;</span>
<span class="lineno"> 96</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#myImage&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;xlink:href&#39;</span><span class="p">,</span> <span class="s">&#39;/plan.svg&#39;</span><span class="p">);</span>
<span class="lineno"> 97</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;transform&#39;</span><span class="p">,</span> <span class="s">&quot;scale(1.05) translate(-380, -300)&quot;</span><span class="p">);</span>
<span class="lineno"> 98</span>         <span class="nx">showObject</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">);</span>
<span class="lineno"> 99</span>     <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#metro_riveGauche&#39;</span><span class="p">).</span><span class="nx">click</span> <span class="nf">-&gt;</span>
<span class="lineno">100</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#myImage&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;xlink:href&#39;</span><span class="p">,</span> <span class="s">&#39;/plan.svg&#39;</span><span class="p">);</span>
<span class="lineno">101</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;transform&#39;</span><span class="p">,</span> <span class="s">&quot;scale(1.75) translate(-470, -500)&quot;</span><span class="p">);</span>
<span class="lineno">102</span>         <span class="nx">showObject</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">);</span>
<span class="lineno">103</span>     <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#metro_segment1&#39;</span><span class="p">).</span><span class="nx">click</span> <span class="nf">-&gt;</span>
<span class="lineno">104</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#myImage&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;xlink:href&#39;</span><span class="p">,</span> <span class="s">&#39;/plan.svg&#39;</span><span class="p">);</span>
<span class="lineno">105</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;transform&#39;</span><span class="p">,</span> <span class="s">&quot;scale(3.5) translate(-650, -600)&quot;</span><span class="p">);</span>
<span class="lineno">106</span>         <span class="nx">showObject</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">);</span>
<span class="lineno">107</span> 
<span class="lineno">108</span> 
<span class="lineno">109</span>     <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#metro_riveDroite_Ouest&#39;</span><span class="p">).</span><span class="nx">click</span> <span class="nf">-&gt;</span>
<span class="lineno">110</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#myImage&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;xlink:href&#39;</span><span class="p">,</span> <span class="s">&#39;/plan.svg&#39;</span><span class="p">);</span>
<span class="lineno">111</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;transform&#39;</span><span class="p">,</span> <span class="s">&quot;scale(1.75) translate(-400, -300)&quot;</span><span class="p">);</span>
<span class="lineno">112</span>         <span class="nx">showObject</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">);</span>
<span class="lineno">113</span>         
<span class="lineno">114</span>     <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#metro_riveDroite_Boulevards&#39;</span><span class="p">).</span><span class="nx">click</span> <span class="nf">-&gt;</span>
<span class="lineno">115</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#myImage&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;xlink:href&#39;</span><span class="p">,</span> <span class="s">&#39;/plan.svg&#39;</span><span class="p">);</span>
<span class="lineno">116</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;transform&#39;</span><span class="p">,</span> <span class="s">&quot;scale(2.50) translate(-550, -385)&quot;</span><span class="p">);</span>
<span class="lineno">117</span>         <span class="nx">showObject</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">);</span>
<span class="lineno">118</span> 
<span class="lineno">119</span>     <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#metro_riveDroite_Iles&#39;</span><span class="p">).</span><span class="nx">click</span> <span class="nf">-&gt;</span>
<span class="lineno">120</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#myImage&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;xlink:href&#39;</span><span class="p">,</span> <span class="s">&#39;/plan.svg&#39;</span><span class="p">);</span>
<span class="lineno">121</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;transform&#39;</span><span class="p">,</span> <span class="s">&quot;scale(4.50) translate(-700, -500)&quot;</span><span class="p">);</span>
<span class="lineno">122</span>         <span class="nx">showObject</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">);</span>
<span class="lineno">123</span>         
<span class="lineno">124</span>     <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#metro_riveDroite_Est&#39;</span><span class="p">).</span><span class="nx">click</span> <span class="nf">-&gt;</span>
<span class="lineno">125</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#myImage&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;xlink:href&#39;</span><span class="p">,</span> <span class="s">&#39;/plan.svg&#39;</span><span class="p">);</span>
<span class="lineno">126</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;transform&#39;</span><span class="p">,</span> <span class="s">&quot;scale(1.80) translate(-650, -350)&quot;</span><span class="p">);</span>
<span class="lineno">127</span>         <span class="nx">showObject</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">);</span>
<span class="lineno">128</span> 
<span class="lineno">129</span> 
<span class="lineno">130</span>     <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#metro_M6_0&#39;</span><span class="p">).</span><span class="nx">click</span> <span class="nf">-&gt;</span>
<span class="lineno">131</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#myImage&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;xlink:href&#39;</span><span class="p">,</span> <span class="s">&#39;/Metro_Paris_M6-plan.svg&#39;</span><span class="p">);</span>
<span class="lineno">132</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;transform&#39;</span><span class="p">,</span> <span class="s">&quot;scale(0.5) translate(-0, -350)&quot;</span><span class="p">);</span>
<span class="lineno">133</span>         <span class="nx">showObject</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">);</span>
<span class="lineno">134</span> 
<span class="lineno">135</span>     <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#metro_M6_1&#39;</span><span class="p">).</span><span class="nx">click</span> <span class="nf">-&gt;</span>
<span class="lineno">136</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#myImage&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;xlink:href&#39;</span><span class="p">,</span> <span class="s">&#39;/Metro_Paris_M6-plan.svg&#39;</span><span class="p">);</span>
<span class="lineno">137</span>         <span class="nx">$</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">).</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;transform&#39;</span><span class="p">,</span> <span class="s">&quot;scale(2.5) translate(-750, -470)&quot;</span><span class="p">);</span>
<span class="lineno">138</span>         <span class="nx">showObject</span><span class="p">(</span><span class="s">&#39;#viewport&#39;</span><span class="p">);</span>
<span class="lineno">139</span> 
<span class="lineno">140</span>     <span class="nx">$</span><span class="p">(</span><span class="s">&#39;body&#39;</span><span class="p">).</span><span class="nx">addClass</span><span class="p">(</span><span class="s">&#39;paris_js_loaded&#39;</span><span class="p">)</span>
<span class="lineno">141</span>     <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&#39;paris.js loaded&#39;</span><span class="p">)</span>
<span class="lineno">142</span>     
<span class="lineno">143</span> 
<span class="lineno">144</span>         
</pre></div>
</body>
</html>
