<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <style type="text/css">
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
pre { line-height: 125%; }
body .hll { background-color: #ffffcc }
body  { background: #ffffff; }
body .c { color: #888888 } /* Comment */
body .err { color: #FF0000; background-color: #FFAAAA } /* Error */
body .k { color: #008800; font-weight: bold } /* Keyword */
body .o { color: #333333 } /* Operator */
body .cm { color: #888888 } /* Comment.Multiline */
body .cp { color: #557799 } /* Comment.Preproc */
body .c1 { color: #888888 } /* Comment.Single */
body .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
body .gd { color: #A00000 } /* Generic.Deleted */
body .ge { font-style: italic } /* Generic.Emph */
body .gr { color: #FF0000 } /* Generic.Error */
body .gh { color: #000080; font-weight: bold } /* Generic.Heading */
body .gi { color: #00A000 } /* Generic.Inserted */
body .go { color: #888888 } /* Generic.Output */
body .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
body .gs { font-weight: bold } /* Generic.Strong */
body .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
body .gt { color: #0044DD } /* Generic.Traceback */
body .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
body .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
body .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
body .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
body .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
body .kt { color: #333399; font-weight: bold } /* Keyword.Type */
body .m { color: #6600EE; font-weight: bold } /* Literal.Number */
body .s { background-color: #fff0f0 } /* Literal.String */
body .na { color: #0000CC } /* Name.Attribute */
body .nb { color: #007020 } /* Name.Builtin */
body .nc { color: #BB0066; font-weight: bold } /* Name.Class */
body .no { color: #003366; font-weight: bold } /* Name.Constant */
body .nd { color: #555555; font-weight: bold } /* Name.Decorator */
body .ni { color: #880000; font-weight: bold } /* Name.Entity */
body .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
body .nf { color: #0066BB; font-weight: bold } /* Name.Function */
body .nl { color: #997700; font-weight: bold } /* Name.Label */
body .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
body .nt { color: #007700 } /* Name.Tag */
body .nv { color: #996633 } /* Name.Variable */
body .ow { color: #000000; font-weight: bold } /* Operator.Word */
body .w { color: #bbbbbb } /* Text.Whitespace */
body .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
body .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
body .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
body .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
body .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
body .sc { color: #0044DD } /* Literal.String.Char */
body .sd { color: #DD4422 } /* Literal.String.Doc */
body .s2 { background-color: #fff0f0 } /* Literal.String.Double */
body .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
body .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
body .si { background-color: #eeeeee } /* Literal.String.Interpol */
body .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
body .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
body .s1 { background-color: #fff0f0 } /* Literal.String.Single */
body .ss { color: #AA6600 } /* Literal.String.Symbol */
body .bp { color: #007020 } /* Name.Builtin.Pseudo */
body .vc { color: #336699 } /* Name.Variable.Class */
body .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
body .vi { color: #3333BB } /* Name.Variable.Instance */
body .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */

  </style>
</head>
<body>
<h2></h2>

<div class="highlight"><pre><span class="lineno"> 1</span> <span class="p">-</span> <span class="n">provide</span><span class="p">(</span><span class="ss">:title</span><span class="p">,</span> <span class="s1">&#39;Paris - RER - Métro&#39;</span><span class="p">)</span>
<span class="lineno"> 2</span> <span class="nt">%h2</span>
<span class="lineno"> 3</span>     Atelier programmation SVG
<span class="lineno"> 4</span>     
<span class="lineno"> 5</span> <span class="nt">%h3</span>
<span class="lineno"> 6</span>     De l&#39;aéroport Charles de Gaulle jusqu&#39;au métro Place d&#39;Italie
<span class="lineno"> 7</span> 
<span class="lineno"> 8</span> &lt;!--[if lt IE 9]&gt;&lt;!--&gt;
<span class="lineno"> 9</span> <span class="nf">#testNoSvg</span>
<span class="lineno">10</span>     Your browser does not support SVG.
<span class="lineno">11</span>     Please upgrade to a more modern browser.
<span class="lineno">12</span> &lt;!--&lt;![endif]--&gt;    
<span class="lineno">13</span> <span class="nc">.container-fluid</span><span class="nf">#testSvg</span>
<span class="lineno">14</span>     <span class="nc">.row</span>
<span class="lineno">15</span>         <span class="nc">.col-md-12</span>
<span class="lineno">16</span>             <span class="nd">:plain</span>
<span class="lineno">17</span>                 <span class="nd">&lt;svg    width=&quot;20cm&quot; </span>
<span class="lineno">18</span>                         <span class="nd">height=&quot;15cm&quot; </span>
<span class="lineno">19</span>                         <span class="nd">style=&quot;border: 1px solid #cccccc;&quot; </span>
<span class="lineno">20</span>                         <span class="nd">xmlns=&quot;http://www.w3.org/2000/svg&quot; </span>
<span class="lineno">21</span>                         <span class="nd">xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; i</span>
<span class="lineno">22</span>                         <span class="nd">id=&quot;rootSvg&quot;&gt;</span>
<span class="lineno">23</span>                     <span class="nd">&lt;g id=&quot;viewport&quot;&gt;</span>
<span class="lineno">24</span>                         <span class="nd">&lt;image id=&quot;myImage&quot; width=&quot;40cm&quot; height=&quot;30cm&quot; xlink:href=&quot;/Carte.svg&quot; /&gt;</span>
<span class="lineno">25</span>                     <span class="nd">&lt;/g&gt;</span>
<span class="lineno">26</span>                 <span class="nd">&lt;/svg&gt;</span>
<span class="lineno">27</span>     <span class="nc">.row</span>
<span class="lineno">28</span>         <span class="nc">.col-md-3</span>
<span class="lineno">29</span>             <span class="nt">%ul</span><span class="nc">.zoom</span>
<span class="lineno">30</span>                 <span class="nt">%li</span>
<span class="lineno">31</span>                     <span class="p">=</span><span class="n">image_tag</span> <span class="s2">&quot;LogoRERB.svg&quot;</span>
<span class="lineno">32</span>                 <span class="nt">%li</span>
<span class="lineno">33</span>                     <span class="nt">%button</span><span class="nc">.btn-primary</span><span class="nf">#general</span>
<span class="lineno">34</span>                         RER B: Vue Générale
<span class="lineno">35</span>                 <span class="nt">%li</span>
<span class="lineno">36</span>                     <span class="nt">%button</span><span class="nc">.btn-primary.n1</span><span class="nf">#cdg</span>
<span class="lineno">37</span>                         RER B: Aéroport Charles de Gaulle
<span class="lineno">38</span>                 <span class="nt">%li</span>
<span class="lineno">39</span>                     <span class="nt">%button</span><span class="nc">.btn-primary.n1</span><span class="nf">#Paris_centre</span>
<span class="lineno">40</span>                         RER B: Paris Centre
<span class="lineno">41</span>                 <span class="nt">%li</span>
<span class="lineno">42</span>                     <span class="nt">%button</span><span class="nc">.btn-primary.n2</span><span class="nf">#Paris_rivegauche</span>
<span class="lineno">43</span>                         RER B: Paris Rive Gauche
<span class="lineno">44</span>         <span class="nc">.col-md-3</span>
<span class="lineno">45</span>             <span class="nt">%ul</span><span class="nc">.zoom</span>
<span class="lineno">46</span>                 <span class="nt">%li</span>
<span class="lineno">47</span>                     <span class="p">=</span><span class="n">image_tag</span> <span class="s2">&quot;RATP.svg&quot;</span>
<span class="lineno">48</span>                     <span class="nc">.div</span>
<span class="lineno">49</span>                         Transports en commun dans Paris intra-muro.
<span class="lineno">50</span>                 <span class="nt">%li</span>
<span class="lineno">51</span>                     <span class="nt">%button</span><span class="nc">.btn-primary</span><span class="nf">#metro_general</span>
<span class="lineno">52</span>                         Métro: Paris Centre
<span class="lineno">53</span>                 <span class="nt">%li</span>
<span class="lineno">54</span>                     <span class="nt">%button</span><span class="nc">.btn-primary.n1</span><span class="nf">#metro_riveGauche</span>
<span class="lineno">55</span>                         Métro: Paris Rive Gauche
<span class="lineno">56</span>                 <span class="nt">%li</span>
<span class="lineno">57</span>                     <span class="nt">%button</span><span class="nc">.btn-primary.n2</span><span class="nf">#metro_segment1</span>
<span class="lineno">58</span>                         Métro: Denfert-Rochereau - Place d&#39;Italie
<span class="lineno">59</span>                 <span class="nt">%li</span>
<span class="lineno">60</span>                     &amp;nbsp;
<span class="lineno">61</span>                 <span class="nt">%li</span> 
<span class="lineno">62</span>                     <span class="nt">%button</span><span class="nc">.btn-primary.n1</span><span class="nf">#metro_riveDroite_Ouest</span>
<span class="lineno">63</span>                         Métro: Paris Rive-Droite (Ouest)
<span class="lineno">64</span>                 <span class="nt">%li</span> 
<span class="lineno">65</span>                     <span class="nt">%button</span><span class="nc">.btn-primary.n2</span><span class="nf">#metro_riveDroite_Boulevards</span>
<span class="lineno">66</span>                         Métro: Grands Boulevards
<span class="lineno">67</span>                 <span class="nt">%li</span> 
<span class="lineno">68</span>                     <span class="nt">%button</span><span class="nc">.btn-primary.n2</span><span class="nf">#metro_riveDroite_Iles</span>
<span class="lineno">69</span>                         Métro: La Seine et ses îles
<span class="lineno">70</span>                 <span class="nt">%li</span> 
<span class="lineno">71</span>                     <span class="nt">%button</span><span class="nc">.btn-primary.n1</span><span class="nf">#metro_riveDroite_Est</span>
<span class="lineno">72</span>                         Métro: Paris Rive-Droite (Est)
<span class="lineno">73</span>                 
<span class="lineno">74</span>         <span class="nc">.col-md-3</span>
<span class="lineno">75</span>             <span class="nt">%ul</span><span class="nc">.zoom</span>
<span class="lineno">76</span>                 <span class="nt">%li</span>
<span class="lineno">77</span>                     <span class="p">=</span><span class="n">image_tag</span> <span class="s2">&quot;M6logo.svg&quot;</span>
<span class="lineno">78</span>                     
<span class="lineno">79</span>                 <span class="nt">%li</span>
<span class="lineno">80</span>                     <span class="nt">%button</span><span class="nc">.btn-primary</span><span class="nf">#metro_M6_0</span>
<span class="lineno">81</span>                         M6:Paris Centre
<span class="lineno">82</span>                 <span class="nt">%li</span>
<span class="lineno">83</span>                     <span class="nt">%button</span><span class="nc">.btn-primary.n1</span><span class="nf">#metro_M6_1</span>
<span class="lineno">84</span>                         M6: Denfert-Rochereau - Place d&#39;Italie
<span class="lineno">85</span>         
<span class="lineno">86</span>         
<span class="lineno">87</span>     <span class="nc">.row</span>
<span class="lineno">88</span>         <span class="nc">.col-md-12</span>
<span class="lineno">89</span>             <span class="p">-</span><span class="n">gencode_helper</span>
</pre></div>
</body>
</html>
