<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <style type="text/css">
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
pre { line-height: 125%; }
body .hll { background-color: #ffffcc }
body  { background: #ffffff; }
body .c { color: #888888 } /* Comment */
body .err { color: #FF0000; background-color: #FFAAAA } /* Error */
body .k { color: #008800; font-weight: bold } /* Keyword */
body .o { color: #333333 } /* Operator */
body .cm { color: #888888 } /* Comment.Multiline */
body .cp { color: #557799 } /* Comment.Preproc */
body .c1 { color: #888888 } /* Comment.Single */
body .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
body .gd { color: #A00000 } /* Generic.Deleted */
body .ge { font-style: italic } /* Generic.Emph */
body .gr { color: #FF0000 } /* Generic.Error */
body .gh { color: #000080; font-weight: bold } /* Generic.Heading */
body .gi { color: #00A000 } /* Generic.Inserted */
body .go { color: #888888 } /* Generic.Output */
body .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
body .gs { font-weight: bold } /* Generic.Strong */
body .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
body .gt { color: #0044DD } /* Generic.Traceback */
body .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
body .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
body .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
body .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
body .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
body .kt { color: #333399; font-weight: bold } /* Keyword.Type */
body .m { color: #6600EE; font-weight: bold } /* Literal.Number */
body .s { background-color: #fff0f0 } /* Literal.String */
body .na { color: #0000CC } /* Name.Attribute */
body .nb { color: #007020 } /* Name.Builtin */
body .nc { color: #BB0066; font-weight: bold } /* Name.Class */
body .no { color: #003366; font-weight: bold } /* Name.Constant */
body .nd { color: #555555; font-weight: bold } /* Name.Decorator */
body .ni { color: #880000; font-weight: bold } /* Name.Entity */
body .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
body .nf { color: #0066BB; font-weight: bold } /* Name.Function */
body .nl { color: #997700; font-weight: bold } /* Name.Label */
body .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
body .nt { color: #007700 } /* Name.Tag */
body .nv { color: #996633 } /* Name.Variable */
body .ow { color: #000000; font-weight: bold } /* Operator.Word */
body .w { color: #bbbbbb } /* Text.Whitespace */
body .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
body .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
body .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
body .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
body .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
body .sc { color: #0044DD } /* Literal.String.Char */
body .sd { color: #DD4422 } /* Literal.String.Doc */
body .s2 { background-color: #fff0f0 } /* Literal.String.Double */
body .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
body .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
body .si { background-color: #eeeeee } /* Literal.String.Interpol */
body .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
body .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
body .s1 { background-color: #fff0f0 } /* Literal.String.Single */
body .ss { color: #AA6600 } /* Literal.String.Symbol */
body .bp { color: #007020 } /* Name.Builtin.Pseudo */
body .vc { color: #336699 } /* Name.Variable.Class */
body .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
body .vi { color: #3333BB } /* Name.Variable.Instance */
body .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */

  </style>
</head>
<body>
<h2></h2>

<div class="highlight"><pre><span class="lineno"> 1</span> <span class="p">-</span> <span class="n">provide</span><span class="p">(</span><span class="ss">:title</span><span class="p">,</span> <span class="s1">&#39;Sainte-Marie — Saint-Jacques&#39;</span><span class="p">)</span>
<span class="lineno"> 2</span> <span class="p">=</span> <span class="n">stylesheet_link_tag</span> <span class="n">params</span><span class="o">[</span><span class="ss">:controller</span><span class="o">]</span>
<span class="lineno"> 3</span> <span class="p">=</span> <span class="n">stylesheet_link_tag</span> <span class="s2">&quot;http://d3js.org/queue.v1.min.js&quot;</span>
<span class="lineno"> 4</span> <span class="nt">%h2</span>
<span class="lineno"> 5</span>     Atelier programmation SVG
<span class="lineno"> 6</span>     
<span class="lineno"> 7</span> <span class="nt">%h3</span>
<span class="lineno"> 8</span>     Analyse des résultats dans Sainte-Marie — Saint-Jacques
<span class="lineno"> 9</span>     
<span class="lineno">10</span> <span class="nc">.container-fluid</span>
<span class="lineno">11</span>     <span class="nc">.row</span>
<span class="lineno">12</span>         <span class="nc">.col-md-12</span>
<span class="lineno">13</span>             <span class="nt">%p</span>
<span class="lineno">14</span>                 Voici une analyse détaillée des résultats de l&#39;élection du 7 avril 2014
<span class="lineno">15</span>                 dans la circonscription de Sainte-Marie – Saint-Jacques. Cette carte illustre
<span class="lineno">16</span>                 les sudivisions de la circonscription (ou sections de vote) et affiche le 
<span class="lineno">17</span>                 parti qui a gagné cette section (couleur dominante) ainsi que le parti qui 
<span class="lineno">18</span>                 s&#39;est illustré deuxième (couleur des bandes hachurées).
<span class="lineno">19</span>                 
<span class="lineno">20</span>             <span class="nt">%p</span>
<span class="lineno">21</span>                 Les circonscriptions voisines sont aussi illustrées sans aller dans le détail 
<span class="lineno">22</span>                 de chacune des section de vote. La couleur utilisée montre le parti gagnant pour
<span class="lineno">23</span>                 l&#39;ensemble de la circonscription.
<span class="lineno">24</span>                 
<span class="lineno">25</span>             <span class="nt">%p</span>
<span class="lineno">26</span>                 En appuyant sur la touche &quot;alt&quot; tout en cliquant sur l&#39;une ou l&#39;autre des sections
<span class="lineno">27</span>                 de vote dans Sainte-Marie – Saint-Jacques, un paneau devrait apparaître, donnant les
<span class="lineno">28</span>                 résultats complets pour cette section. Si vous utiisez une tablette mobile (et qu&#39;il
<span class="lineno">29</span>                 vous est impossible d&#39;appuyer sur la touche &#39;alt&#39;), mettez votre doigt sur une section
<span class="lineno">30</span>                 et gardez-le là sans bouger pendant trois secondes, cela devrait déclencher l&#39;affichage
<span class="lineno">31</span>                 de la fenêtre d&#39;information
<span class="lineno">32</span>     <span class="nc">.row</span>
<span class="lineno">33</span>         <span class="nc">.col-md-9</span>
<span class="lineno">34</span>             <span class="nt">%p</span><span class="nf">#map</span>
<span class="lineno">35</span>             
<span class="lineno">36</span>             <span class="nt">%blockquote</span>
<span class="lineno">37</span>                 Comprends des données ouvertes octroyées sous la licence d&#39;utilisation 
<span class="lineno">38</span>                 des données ouvertes du Directeur général des élections du Québec 
<span class="lineno">39</span>                 disponible à l&#39;adresse Web : 
<span class="lineno">40</span>                 <span class="p">=</span><span class="n">link_to</span> <span class="s2">&quot;http://www.electionsquebec.qc.ca&quot;</span><span class="p">,</span> <span class="s2">&quot;http://www.electionsquebec.qc.ca&quot;</span> 
<span class="lineno">41</span>                 L&#39;octroi de la licence n&#39;implique aucune approbation par le 
<span class="lineno">42</span>                 Directeur général des élections du Québec de l&#39;utilisation des données 
<span class="lineno">43</span>                 ouvertes qui en est faite.
<span class="lineno">44</span>                 
<span class="lineno">45</span>                 <span class="nt">%cite</span>
<span class="lineno">46</span>                     Licence d&#39;utilisation des données ouvertes du DGEQ
<span class="lineno">47</span>                 
<span class="lineno">48</span>             
<span class="lineno">49</span>         <span class="nc">.col-md-3</span>
<span class="lineno">50</span>             <span class="nc">.keyBox</span>
<span class="lineno">51</span>                 <span class="nc">.keyElement</span>
<span class="lineno">52</span>                     <span class="nc">.pull-left.couleur.plq</span> &amp;nbsp;
<span class="lineno">53</span>                     Parti Libéral du Québec
<span class="lineno">54</span>                 <span class="nc">.keyElement</span>
<span class="lineno">55</span>                     <span class="nc">.pull-left.couleur.pq</span> &amp;nbsp;
<span class="lineno">56</span>                     Parti Québécois
<span class="lineno">57</span>                 <span class="nc">.keyElement</span>
<span class="lineno">58</span>                     <span class="nc">.pull-left.couleur.caq</span> &amp;nbsp;
<span class="lineno">59</span>                     Coallition Avenir-Québec
<span class="lineno">60</span>                 <span class="nc">.keyElement</span>
<span class="lineno">61</span>                     <span class="nc">.pull-left.couleur.qs</span> &amp;nbsp;
<span class="lineno">62</span>                     Québec solidaire
<span class="lineno">63</span>                 <span class="nc">.keyElement</span><span class="p">{</span><span class="ss">:style</span><span class="o">=&gt;</span><span class="s2">&quot;font-size: 80%&quot;</span><span class="p">}</span>
<span class="lineno">64</span>                     Les sections hachurées indiquent
<span class="lineno">65</span>                     le parti qui s&#39;est classé
<span class="lineno">66</span>                     deuxième.
<span class="lineno">67</span>                     
<span class="lineno">68</span>             <span class="nt">%p</span>
<span class="lineno">69</span>                 Cette exemple utilise les données suivantes:
<span class="lineno">70</span>                 
<span class="lineno">71</span>             <span class="nt">%ol</span><span class="p">{</span><span class="ss">:style</span><span class="o">=&gt;</span><span class="s2">&quot;font-size: 80%&quot;</span><span class="p">}</span>
<span class="lineno">72</span>                 <span class="nt">%li</span> Carte de base d&#39;openstreetmap.org
<span class="lineno">73</span>                 <span class="nt">%li</span> Tracé des circonstriptions du DGEQ
<span class="lineno">74</span>                 <span class="nt">%li</span> Tracé des sections de vote dans Lévis (DGEQ)
<span class="lineno">75</span>                 <span class="nt">%li</span> Résultats par circonscriptions élections 2014-04-07 (DGEQ)
<span class="lineno">76</span>                 <span class="nt">%li</span> Résultats section de vote par section de vote dans Lévis (DGEQ)
<span class="lineno">77</span>                 
<span class="lineno">78</span>             <span class="nt">%p</span><span class="p">{</span><span class="ss">:style</span><span class="o">=&gt;</span><span class="s2">&quot;font-size: 80%&quot;</span><span class="p">}</span>
<span class="lineno">79</span>                 Notons que les noms de circonscriptions voisines ainsi que les numéros
<span class="lineno">80</span>                 de section de vote dans Sainte-Marie — Saint-Jacques apparaissent 
<span class="lineno">81</span>                 ou non selon le zoom. De plus
<span class="lineno">82</span>                 la taille du texte est choisie de façon à ne pas trop encombrer la carte et
<span class="lineno">83</span>                 ce toujours selon le niveau de zoom choisi. Il suffit de zoomer pour voir
<span class="lineno">84</span>                 apparaitre ces informations.
<span class="lineno">85</span> 
<span class="lineno">86</span>                 
<span class="lineno">87</span>                 
<span class="lineno">88</span>         <span class="nt">%col-md-12</span>
<span class="lineno">89</span>             <span class="p">-</span> <span class="n">gencode_helper</span>
<span class="lineno">90</span>             
<span class="lineno">91</span> <span class="nf">#dialog</span><span class="p">{</span><span class="ss">:title</span><span class="o">=&gt;</span><span class="s2">&quot;&quot;</span><span class="p">}</span>
<span class="lineno">92</span>     <span class="nt">%p</span>
<span class="lineno">93</span>         <span class="nt">%span</span><span class="nf">#myContent</span>
<span class="lineno">94</span>         
</pre></div>
</body>
</html>
