<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <style type="text/css">
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
pre { line-height: 125%; }
body .hll { background-color: #ffffcc }
body  { background: #ffffff; }
body .c { color: #888888 } /* Comment */
body .err { color: #FF0000; background-color: #FFAAAA } /* Error */
body .k { color: #008800; font-weight: bold } /* Keyword */
body .o { color: #333333 } /* Operator */
body .cm { color: #888888 } /* Comment.Multiline */
body .cp { color: #557799 } /* Comment.Preproc */
body .c1 { color: #888888 } /* Comment.Single */
body .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
body .gd { color: #A00000 } /* Generic.Deleted */
body .ge { font-style: italic } /* Generic.Emph */
body .gr { color: #FF0000 } /* Generic.Error */
body .gh { color: #000080; font-weight: bold } /* Generic.Heading */
body .gi { color: #00A000 } /* Generic.Inserted */
body .go { color: #888888 } /* Generic.Output */
body .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
body .gs { font-weight: bold } /* Generic.Strong */
body .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
body .gt { color: #0044DD } /* Generic.Traceback */
body .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
body .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
body .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
body .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
body .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
body .kt { color: #333399; font-weight: bold } /* Keyword.Type */
body .m { color: #6600EE; font-weight: bold } /* Literal.Number */
body .s { background-color: #fff0f0 } /* Literal.String */
body .na { color: #0000CC } /* Name.Attribute */
body .nb { color: #007020 } /* Name.Builtin */
body .nc { color: #BB0066; font-weight: bold } /* Name.Class */
body .no { color: #003366; font-weight: bold } /* Name.Constant */
body .nd { color: #555555; font-weight: bold } /* Name.Decorator */
body .ni { color: #880000; font-weight: bold } /* Name.Entity */
body .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
body .nf { color: #0066BB; font-weight: bold } /* Name.Function */
body .nl { color: #997700; font-weight: bold } /* Name.Label */
body .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
body .nt { color: #007700 } /* Name.Tag */
body .nv { color: #996633 } /* Name.Variable */
body .ow { color: #000000; font-weight: bold } /* Operator.Word */
body .w { color: #bbbbbb } /* Text.Whitespace */
body .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
body .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
body .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
body .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
body .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
body .sc { color: #0044DD } /* Literal.String.Char */
body .sd { color: #DD4422 } /* Literal.String.Doc */
body .s2 { background-color: #fff0f0 } /* Literal.String.Double */
body .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
body .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
body .si { background-color: #eeeeee } /* Literal.String.Interpol */
body .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
body .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
body .s1 { background-color: #fff0f0 } /* Literal.String.Single */
body .ss { color: #AA6600 } /* Literal.String.Symbol */
body .bp { color: #007020 } /* Name.Builtin.Pseudo */
body .vc { color: #336699 } /* Name.Variable.Class */
body .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
body .vi { color: #3333BB } /* Name.Variable.Instance */
body .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */

  </style>
</head>
<body>
<h2></h2>

<div class="highlight"><pre><span class="lineno">  1</span> <span class="c1">// Place all the styles related to the smsj controller here.</span>
<span class="lineno">  2</span> <span class="c1">// You can use Sass (SCSS) here: http://sass-lang.com/</span>
<span class="lineno">  3</span> 
<span class="lineno">  4</span> 
<span class="lineno">  5</span> <span class="c1">//Taille de la carte Leaflet</span>
<span class="lineno">  6</span> <span class="nn">#map</span> <span class="p">{</span> 
<span class="lineno">  7</span>     <span class="na">height</span><span class="o">:</span> <span class="mi">550</span><span class="kt">px</span><span class="p">;</span> 
<span class="lineno">  8</span>     <span class="na">width</span><span class="o">:</span> <span class="mi">100</span><span class="kt">%</span><span class="p">;</span>
<span class="lineno">  9</span> <span class="p">}</span>
<span class="lineno"> 10</span> 
<span class="lineno"> 11</span> <span class="c1">//Couleurs associées à chaque parti</span>
<span class="lineno"> 12</span> <span class="nv">$qs</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">255</span><span class="o">,</span><span class="mi">127</span><span class="o">,</span><span class="mi">80</span><span class="o">,</span><span class="mi">1</span><span class="p">);</span>
<span class="lineno"> 13</span> <span class="nv">$caq</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">132</span><span class="o">,</span><span class="mi">112</span><span class="o">,</span><span class="mi">255</span><span class="o">,</span><span class="mi">1</span><span class="p">);</span>
<span class="lineno"> 14</span> <span class="nv">$plq</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">255</span><span class="o">,</span><span class="mi">0</span><span class="o">,</span><span class="mi">0</span><span class="o">,</span><span class="mi">1</span><span class="p">);</span>
<span class="lineno"> 15</span> <span class="nv">$pq</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">0</span><span class="o">,</span><span class="mi">0</span><span class="o">,</span><span class="mi">128</span><span class="o">,</span><span class="mi">1</span><span class="p">);</span>
<span class="lineno"> 16</span> <span class="nv">$on</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">8</span><span class="o">,</span><span class="mi">8</span><span class="o">,</span><span class="mi">255</span><span class="o">,</span> <span class="mi">1</span><span class="p">);</span>
<span class="lineno"> 17</span> <span class="nv">$vert</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">0</span><span class="o">,</span><span class="mi">128</span><span class="o">,</span><span class="mi">0</span><span class="o">,</span><span class="mi">1</span><span class="p">);</span>
<span class="lineno"> 18</span> 
<span class="lineno"> 19</span> <span class="c1">//Transparenes (circonscriptions et sections)</span>
<span class="lineno"> 20</span> <span class="nv">$trans</span><span class="o">:</span> <span class="mi">0</span><span class="mf">.3</span><span class="p">;</span>
<span class="lineno"> 21</span> <span class="nv">$pin_trans</span><span class="o">:</span> <span class="mi">0</span><span class="mf">.9</span><span class="p">;</span>
<span class="lineno"> 22</span> <span class="nv">$sec_trans</span><span class="o">:</span> <span class="mi">0</span><span class="mf">.5</span><span class="p">;</span>
<span class="lineno"> 23</span> 
<span class="lineno"> 24</span> <span class="c1">//Couleurs de pour les circonscription</span>
<span class="lineno"> 25</span> 
<span class="lineno"> 26</span> 
<span class="lineno"> 27</span> <span class="nc">.limite_circonscriptions</span> <span class="p">{</span>
<span class="lineno"> 28</span>     <span class="na">stroke</span><span class="o">:</span> <span class="nb">white</span><span class="p">;</span>
<span class="lineno"> 29</span>     <span class="nt">fill</span><span class="nd">:none</span><span class="o">;</span>
<span class="lineno"> 30</span>     <span class="nt">stroke-linejoin</span><span class="nd">:</span> <span class="nt">round</span><span class="o">;</span>
<span class="lineno"> 31</span>         
<span class="lineno"> 32</span>     <span class="o">//</span><span class="nt">Same</span> <span class="nt">party</span> <span class="nt">both</span> <span class="nt">sides</span> <span class="nt">of</span> <span class="nt">the</span> <span class="nt">limits</span>
<span class="lineno"> 33</span>     <span class="k">&amp;</span><span class="nc">.memeParti</span> <span class="p">{</span>
<span class="lineno"> 34</span>         <span class="na">stroke-dasharray</span><span class="o">:</span> <span class="mi">3</span><span class="o">,</span><span class="mi">2</span><span class="p">;</span>
<span class="lineno"> 35</span>         <span class="na">stroke-width</span><span class="o">:</span> <span class="mi">1</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno"> 36</span>     <span class="p">}</span>
<span class="lineno"> 37</span>     
<span class="lineno"> 38</span>     <span class="c1">//Different political parties </span>
<span class="lineno"> 39</span>     <span class="k">&amp;</span><span class="nc">.partisDifferents</span> <span class="p">{</span>
<span class="lineno"> 40</span>         <span class="na">stroke-dasharray</span><span class="o">:</span> <span class="no">none</span><span class="p">;</span>
<span class="lineno"> 41</span>         <span class="na">stroke-width</span><span class="o">:</span> <span class="mi">2</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno"> 42</span>     <span class="p">}</span>
<span class="lineno"> 43</span> <span class="p">}</span>
<span class="lineno"> 44</span> 
<span class="lineno"> 45</span> <span class="nc">.district</span> <span class="p">{</span>
<span class="lineno"> 46</span>     <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">192</span><span class="o">,</span><span class="mi">192</span><span class="o">,</span><span class="mi">192</span><span class="o">,</span><span class="mi">0</span><span class="mf">.5</span><span class="p">);</span>
<span class="lineno"> 47</span>     <span class="nt">stroke</span><span class="nd">:none</span><span class="o">;</span>
<span class="lineno"> 48</span>     <span class="nt">stroke-dasharray</span><span class="nd">:3</span><span class="o">,</span><span class="nt">2</span><span class="o">;</span>
<span class="lineno"> 49</span>     <span class="nt">stroke-linejoin</span><span class="nd">:</span> <span class="nt">round</span><span class="o">;</span>
<span class="lineno"> 50</span>     
<span class="lineno"> 51</span>     
<span class="lineno"> 52</span>     <span class="o">//</span><span class="nt">On</span> <span class="nt">colore</span> <span class="nt">selon</span> <span class="nt">le</span> <span class="nt">parti</span> <span class="nt">gagnant</span>
<span class="lineno"> 53</span>     <span class="k">&amp;</span><span class="nc">.pq</span> <span class="p">{</span>
<span class="lineno"> 54</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$pq</span><span class="o">,</span> <span class="nv">$trans</span><span class="p">);</span>
<span class="lineno"> 55</span>     <span class="p">}</span>
<span class="lineno"> 56</span> 
<span class="lineno"> 57</span>     <span class="k">&amp;</span><span class="nc">.plq</span> <span class="p">{</span>
<span class="lineno"> 58</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$plq</span><span class="o">,</span> <span class="nv">$trans</span><span class="p">);</span>
<span class="lineno"> 59</span>     <span class="p">}</span>
<span class="lineno"> 60</span> 
<span class="lineno"> 61</span>     <span class="k">&amp;</span><span class="nc">.caq</span> <span class="p">{</span>
<span class="lineno"> 62</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$caq</span><span class="o">,</span> <span class="nv">$trans</span><span class="p">);</span>
<span class="lineno"> 63</span>     <span class="p">}</span>
<span class="lineno"> 64</span> 
<span class="lineno"> 65</span>     <span class="k">&amp;</span><span class="nc">.qs</span> <span class="p">{</span>
<span class="lineno"> 66</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$qs</span><span class="o">,</span> <span class="nv">$trans</span><span class="p">);</span>
<span class="lineno"> 67</span>         <span class="c1">//Sauf Sainte-Marie—Saint-Jacques</span>
<span class="lineno"> 68</span>         <span class="c1">//La coloration viendra plus tard</span>
<span class="lineno"> 69</span>         <span class="c1">//avec les sections de vote.</span>
<span class="lineno"> 70</span>         <span class="k">&amp;</span><span class="nc">.d389</span><span class="p">{</span>
<span class="lineno"> 71</span>             <span class="nt">fill</span><span class="nd">:rgba</span><span class="o">(</span><span class="nt">white</span><span class="o">,</span> <span class="nt">0</span><span class="nc">.5</span><span class="o">);</span>
<span class="lineno"> 72</span>             
<span class="lineno"> 73</span>         <span class="p">}</span>
<span class="lineno"> 74</span>     <span class="p">}</span>
<span class="lineno"> 75</span> 
<span class="lineno"> 76</span>     <span class="k">&amp;</span><span class="nc">.on</span> <span class="p">{</span>
<span class="lineno"> 77</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$on</span><span class="o">,</span> <span class="nv">$trans</span><span class="p">)</span> <span class="p">;</span>
<span class="lineno"> 78</span>     <span class="p">}</span>
<span class="lineno"> 79</span> 
<span class="lineno"> 80</span>     <span class="k">&amp;</span><span class="nc">.vert</span> <span class="p">{</span>
<span class="lineno"> 81</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$vert</span><span class="o">,</span> <span class="nv">$trans</span><span class="p">);</span>
<span class="lineno"> 82</span>     <span class="p">}</span>
<span class="lineno"> 83</span>     
<span class="lineno"> 84</span>     
<span class="lineno"> 85</span>     
<span class="lineno"> 86</span> <span class="p">}</span>
<span class="lineno"> 87</span> 
<span class="lineno"> 88</span> <span class="c1">//Ici, la visibilité de certains éléments</span>
<span class="lineno"> 89</span> <span class="c1">//est déterminée par le niveau de zoom</span>
<span class="lineno"> 90</span> <span class="c1">//Zomm &lt;= 12</span>
<span class="lineno"> 91</span> <span class="nt">svg</span><span class="nc">.z12</span><span class="o">,</span> <span class="nt">svg</span><span class="nc">.z11</span><span class="o">,</span> <span class="nt">svg</span><span class="nc">.z10</span><span class="o">,</span> <span class="nt">svg</span><span class="nc">.z9</span> <span class="p">{</span>
<span class="lineno"> 92</span>     <span class="nc">.district.d389</span> <span class="p">{</span>
<span class="lineno"> 93</span>         <span class="nt">fill</span><span class="nd">:none</span><span class="o">;</span>
<span class="lineno"> 94</span>     <span class="p">}</span>
<span class="lineno"> 95</span>     <span class="nc">.section</span> <span class="p">{</span>
<span class="lineno"> 96</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$qs</span><span class="o">,</span> <span class="nv">$trans</span><span class="p">);</span>
<span class="lineno"> 97</span>         <span class="nt">stroke</span><span class="nd">:none</span><span class="o">;</span>
<span class="lineno"> 98</span>     <span class="p">}</span>
<span class="lineno"> 99</span>     <span class="c1">//Numéro des section de vote</span>
<span class="lineno">100</span>     <span class="nc">.numSec</span> <span class="p">{</span>
<span class="lineno">101</span>         <span class="na">display</span><span class="o">:</span> <span class="no">none</span><span class="p">;</span>
<span class="lineno">102</span>     <span class="p">}</span>
<span class="lineno">103</span>     <span class="c1">//Nom des circonscription</span>
<span class="lineno">104</span>     <span class="nt">text</span><span class="nc">.nom</span> <span class="p">{</span>
<span class="lineno">105</span>         <span class="na">fill</span><span class="o">:</span> <span class="nb">red</span><span class="p">;</span>
<span class="lineno">106</span>         <span class="na">font-size</span><span class="o">:</span><span class="mi">18</span><span class="kt">pt</span><span class="p">;</span>
<span class="lineno">107</span>     
<span class="lineno">108</span>     <span class="p">}</span>
<span class="lineno">109</span>     
<span class="lineno">110</span> <span class="p">}</span>
<span class="lineno">111</span> 
<span class="lineno">112</span> <span class="c1">//Zoom &gt;= 13</span>
<span class="lineno">113</span> <span class="nt">svg</span><span class="nc">.z13</span><span class="o">,</span> <span class="nt">svg</span><span class="nc">.z14</span><span class="o">,</span> <span class="nt">svg</span><span class="nc">.z15</span><span class="o">,</span> <span class="nt">svg</span><span class="nc">.z16</span><span class="o">,</span> <span class="nt">svg</span><span class="nc">.z17</span><span class="o">,</span> <span class="nt">svg</span><span class="nc">.z18</span> <span class="p">{</span>
<span class="lineno">114</span>     <span class="c1">//Couleurs/pattern pour les sections de vote</span>
<span class="lineno">115</span>     <span class="nc">.section</span> <span class="p">{</span>
<span class="lineno">116</span>         <span class="na">fill</span><span class="o">:</span> <span class="no">none</span><span class="p">;</span>
<span class="lineno">117</span>         <span class="nt">stroke</span><span class="nd">:white</span><span class="o">;</span>
<span class="lineno">118</span>         <span class="nt">stroke-dasharray</span><span class="nd">:2</span><span class="o">,</span><span class="nt">1</span><span class="o">;</span>
<span class="lineno">119</span>         <span class="nt">stroke-width</span><span class="nd">:</span> <span class="nt">1</span><span class="nc">.2px</span><span class="o">;</span>
<span class="lineno">120</span>         <span class="nt">stroke-linejoin</span><span class="nd">:</span> <span class="nt">round</span><span class="o">;</span>
<span class="lineno">121</span>     
<span class="lineno">122</span>         <span class="k">&amp;</span><span class="nc">.pq</span> <span class="p">{</span>
<span class="lineno">123</span>             <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$pq</span><span class="o">,</span> <span class="nv">$sec_trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno">124</span>         <span class="p">}</span>
<span class="lineno">125</span> 
<span class="lineno">126</span>         <span class="k">&amp;</span><span class="nc">.plq</span> <span class="p">{</span>
<span class="lineno">127</span>             <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$plq</span><span class="o">,</span> <span class="nv">$sec_trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno">128</span>         <span class="p">}</span>
<span class="lineno">129</span> 
<span class="lineno">130</span>         <span class="k">&amp;</span><span class="nc">.caq</span> <span class="p">{</span>
<span class="lineno">131</span>             <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$caq</span><span class="o">,</span> <span class="nv">$sec_trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno">132</span>         <span class="p">}</span>
<span class="lineno">133</span> 
<span class="lineno">134</span>         <span class="k">&amp;</span><span class="nc">.qs</span> <span class="p">{</span>
<span class="lineno">135</span>             <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$qs</span><span class="o">,</span> <span class="nv">$sec_trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno">136</span>         <span class="p">}</span>
<span class="lineno">137</span> 
<span class="lineno">138</span>         <span class="k">&amp;</span><span class="nc">.on</span> <span class="p">{</span>
<span class="lineno">139</span>             <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$on</span><span class="o">,</span> <span class="nv">$sec_trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno">140</span>         <span class="p">}</span>
<span class="lineno">141</span> 
<span class="lineno">142</span>         <span class="k">&amp;</span><span class="nc">.vert</span> <span class="p">{</span>
<span class="lineno">143</span>             <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nv">$vert</span><span class="o">,</span> <span class="nv">$sec_trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno">144</span>         <span class="p">}</span>
<span class="lineno">145</span> 
<span class="lineno">146</span>         <span class="k">&amp;</span><span class="nc">.pcq</span> <span class="p">{</span>
<span class="lineno">147</span>             <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">64</span><span class="o">,</span> <span class="mi">0</span><span class="o">,</span> <span class="mi">64</span><span class="o">,</span> <span class="nv">$sec_trans</span><span class="p">)</span> <span class="nv">!important</span><span class="p">;</span>
<span class="lineno">148</span>         <span class="p">}</span>
<span class="lineno">149</span> 
<span class="lineno">150</span>         <span class="k">&amp;</span><span class="nc">.SO</span> <span class="p">{</span>
<span class="lineno">151</span>             <span class="na">fill</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="nb">black</span><span class="o">,</span> <span class="nv">$sec_trans</span><span class="p">);</span>
<span class="lineno">152</span>         <span class="p">}</span>
<span class="lineno">153</span>     
<span class="lineno">154</span>         <span class="k">&amp;</span><span class="nc">.challengeQSCAQ</span> <span class="p">{</span>
<span class="lineno">155</span>             <span class="nt">fill</span><span class="nd">:url</span><span class="o">(</span><span class="nn">#qsChallengeCAQ</span><span class="o">)</span>
<span class="lineno">156</span>         <span class="p">}</span>
<span class="lineno">157</span>         <span class="k">&amp;</span><span class="nc">.challengeQSPQ</span> <span class="p">{</span>
<span class="lineno">158</span>             <span class="nt">fill</span><span class="nd">:url</span><span class="o">(</span><span class="nn">#qsChallengePQ</span><span class="o">)</span>
<span class="lineno">159</span>         <span class="p">}</span>
<span class="lineno">160</span>         <span class="k">&amp;</span><span class="nc">.challengeQSPLQ</span> <span class="p">{</span>
<span class="lineno">161</span>             <span class="nt">fill</span><span class="nd">:url</span><span class="o">(</span><span class="nn">#qsChallengePLQ</span><span class="o">)</span>
<span class="lineno">162</span>         <span class="p">}</span>
<span class="lineno">163</span>         <span class="k">&amp;</span><span class="nc">.challengePQCAQ</span> <span class="p">{</span>
<span class="lineno">164</span>             <span class="nt">fill</span><span class="nd">:url</span><span class="o">(</span><span class="nn">#pqChallengeCAQ</span><span class="o">)</span>
<span class="lineno">165</span>         <span class="p">}</span>
<span class="lineno">166</span>         <span class="k">&amp;</span><span class="nc">.challengePQQS</span> <span class="p">{</span>
<span class="lineno">167</span>             <span class="nt">fill</span><span class="nd">:url</span><span class="o">(</span><span class="nn">#pqChallengeQS</span><span class="o">)</span>
<span class="lineno">168</span>         <span class="p">}</span>
<span class="lineno">169</span>         <span class="k">&amp;</span><span class="nc">.challengePQPLQ</span> <span class="p">{</span>
<span class="lineno">170</span>             <span class="nt">fill</span><span class="nd">:url</span><span class="o">(</span><span class="nn">#pqChallengePLQ</span><span class="o">)</span>
<span class="lineno">171</span>         <span class="p">}</span>
<span class="lineno">172</span>         <span class="k">&amp;</span><span class="nc">.challengePLQCAQ</span> <span class="p">{</span>
<span class="lineno">173</span>             <span class="nt">fill</span><span class="nd">:url</span><span class="o">(</span><span class="nn">#plqChallengeCAQ</span><span class="o">)</span>
<span class="lineno">174</span>         <span class="p">}</span>
<span class="lineno">175</span>         <span class="k">&amp;</span><span class="nc">.challengePLQQS</span> <span class="p">{</span>
<span class="lineno">176</span>             <span class="nt">fill</span><span class="nd">:url</span><span class="o">(</span><span class="nn">#plqChallengeQS</span><span class="o">)</span>
<span class="lineno">177</span>         <span class="p">}</span>
<span class="lineno">178</span>         <span class="k">&amp;</span><span class="nc">.challengePLQPQ</span> <span class="p">{</span>
<span class="lineno">179</span>             <span class="nt">fill</span><span class="nd">:url</span><span class="o">(</span><span class="nn">#plqChallengePQ</span><span class="o">)</span>
<span class="lineno">180</span>         <span class="p">}</span>
<span class="lineno">181</span>         <span class="k">&amp;</span><span class="nc">.challengeCAQPLQ</span> <span class="p">{</span>
<span class="lineno">182</span>             <span class="nt">fill</span><span class="nd">:url</span><span class="o">(</span><span class="nn">#caqChallengePLQ</span><span class="o">)</span>
<span class="lineno">183</span>         <span class="p">}</span>
<span class="lineno">184</span>         <span class="k">&amp;</span><span class="nc">.challengeCAQQS</span> <span class="p">{</span>
<span class="lineno">185</span>             <span class="nt">fill</span><span class="nd">:url</span><span class="o">(</span><span class="nn">#caqChallengeQS</span><span class="o">)</span>
<span class="lineno">186</span>         <span class="p">}</span>
<span class="lineno">187</span>         <span class="k">&amp;</span><span class="nc">.challengeCAQPQ</span> <span class="p">{</span>
<span class="lineno">188</span>             <span class="nt">fill</span><span class="nd">:url</span><span class="o">(</span><span class="nn">#caqChallengePQ</span><span class="o">)</span>
<span class="lineno">189</span>         <span class="p">}</span>
<span class="lineno">190</span>     <span class="p">}</span>
<span class="lineno">191</span>     <span class="c1">//Numéro des section de vote</span>
<span class="lineno">192</span>     <span class="nc">.numSec</span> <span class="p">{</span>
<span class="lineno">193</span>         <span class="na">stroke</span><span class="o">:</span> <span class="nf">rgba</span><span class="p">(</span><span class="mi">100</span><span class="o">,</span><span class="mi">100</span><span class="o">,</span><span class="mi">100</span><span class="o">,</span><span class="mi">0</span><span class="mf">.5</span><span class="p">);</span>
<span class="lineno">194</span>         <span class="na">stroke-width</span><span class="o">:</span> <span class="mi">0</span><span class="mf">.4</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">195</span>         <span class="nt">fill</span><span class="nd">:white</span><span class="o">;</span>
<span class="lineno">196</span>         <span class="nt">font-weight</span><span class="nd">:</span> <span class="nt">bolder</span><span class="o">;</span>
<span class="lineno">197</span>         <span class="o">//</span><span class="nt">Si</span> <span class="nt">l</span><span class="s1">&#39;</span><span class="s2">usagerE fait alt-click sur le numéro de section</span>
<span class="lineno">198</span>         <span class="c1">//la commande est passé à l&#39;objet qui est en dessous</span>
<span class="lineno">199</span>         <span class="c1">//c&#39;est à dire la section en tant que telle.</span>
<span class="lineno">200</span>         <span class="nt">pointer-events</span><span class="nd">:none</span><span class="o">;</span>
<span class="lineno">201</span>     <span class="p">}</span>
<span class="lineno">202</span>     <span class="c1">//Nom des circonscription</span>
<span class="lineno">203</span>     <span class="nt">text</span><span class="nc">.nom</span> <span class="p">{</span>
<span class="lineno">204</span>         <span class="na">fill</span><span class="o">:</span> <span class="nb">red</span><span class="p">;</span>
<span class="lineno">205</span>         <span class="na">font-size</span><span class="o">:</span><span class="mi">18</span><span class="kt">pt</span><span class="p">;</span>
<span class="lineno">206</span>     
<span class="lineno">207</span>         <span class="c1">//Pour Saint-Marie – Saint-Jacques, je n&#39;affiche pas le nom</span>
<span class="lineno">208</span>         <span class="k">&amp;</span><span class="nn">#n389</span> <span class="p">{</span>
<span class="lineno">209</span>             <span class="na">fill</span><span class="o">:</span> <span class="no">none</span><span class="p">;</span>
<span class="lineno">210</span>         <span class="p">}</span>
<span class="lineno">211</span>     <span class="p">}</span>
<span class="lineno">212</span> <span class="p">}</span>
<span class="lineno">213</span> 
<span class="lineno">214</span> 
<span class="lineno">215</span> 
<span class="lineno">216</span> <span class="c1">//Non-utilisé</span>
<span class="lineno">217</span> <span class="nc">.keyBox</span> <span class="p">{</span>
<span class="lineno">218</span>     <span class="na">border</span><span class="o">:</span> <span class="no">thin</span> <span class="no">solid</span> <span class="nb">black</span><span class="p">;</span>
<span class="lineno">219</span>     <span class="na">padding</span><span class="o">:</span><span class="mi">5</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">220</span>     <span class="na">margin-bottom</span><span class="o">:</span><span class="mi">10</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">221</span>     
<span class="lineno">222</span>     <span class="nc">.keyElement</span> <span class="p">{</span>
<span class="lineno">223</span>         <span class="na">margin-top</span><span class="o">:</span> <span class="mi">3</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">224</span>         <span class="nc">.couleur</span> <span class="p">{</span>
<span class="lineno">225</span>             <span class="na">height</span><span class="o">:</span> <span class="mi">5</span><span class="kt">mm</span><span class="p">;</span>
<span class="lineno">226</span>             <span class="na">width</span><span class="o">:</span> <span class="mi">5</span><span class="kt">mm</span><span class="p">;</span>
<span class="lineno">227</span>             <span class="na">border</span><span class="o">:</span> <span class="no">thin</span> <span class="no">solid</span> <span class="nb">black</span><span class="p">;</span>
<span class="lineno">228</span>             <span class="na">margin-left</span><span class="o">:</span> <span class="mi">5</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">229</span>             <span class="na">margin-right</span><span class="o">:</span> <span class="mi">7</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">230</span>         
<span class="lineno">231</span>             <span class="k">&amp;</span><span class="nc">.plq</span> <span class="p">{</span>
<span class="lineno">232</span>                 <span class="na">background-color</span><span class="o">:</span> <span class="nv">$plq</span><span class="p">;</span>
<span class="lineno">233</span>             <span class="p">}</span>
<span class="lineno">234</span>             <span class="k">&amp;</span><span class="nc">.pq</span> <span class="p">{</span>
<span class="lineno">235</span>                 <span class="na">background-color</span><span class="o">:</span><span class="nv">$pq</span><span class="p">;</span>
<span class="lineno">236</span>             <span class="p">}</span>
<span class="lineno">237</span>             <span class="k">&amp;</span><span class="nc">.caq</span> <span class="p">{</span>
<span class="lineno">238</span>                 <span class="na">background-color</span><span class="o">:</span> <span class="nv">$caq</span><span class="p">;</span>
<span class="lineno">239</span>             <span class="p">}</span>
<span class="lineno">240</span>             <span class="k">&amp;</span><span class="nc">.qs</span> <span class="p">{</span>
<span class="lineno">241</span>                 <span class="na">background-color</span><span class="o">:</span> <span class="nv">$qs</span><span class="p">;</span>
<span class="lineno">242</span>             <span class="p">}</span>
<span class="lineno">243</span>         <span class="p">}</span>
<span class="lineno">244</span> 
<span class="lineno">245</span>     <span class="p">}</span>
<span class="lineno">246</span> <span class="p">}</span>
<span class="lineno">247</span> 
<span class="lineno">248</span> <span class="c1">//Abandonné</span>
<span class="lineno">249</span> <span class="nn">#testRect</span> <span class="p">{</span>
<span class="lineno">250</span>     <span class="nt">fill</span><span class="nd">:url</span><span class="o">(</span><span class="nn">#myPattern</span><span class="o">)</span>
<span class="lineno">251</span> <span class="p">}</span>
<span class="lineno">252</span> 
<span class="lineno">253</span> <span class="nn">#myContent</span> <span class="p">{</span>
<span class="lineno">254</span>     <span class="na">z-index</span><span class="o">:</span><span class="mi">100</span><span class="p">;</span>
<span class="lineno">255</span> <span class="p">}</span>
<span class="lineno">256</span> 
<span class="lineno">257</span> <span class="c1">//Il est nécessaire de régler le z-index</span>
<span class="lineno">258</span> <span class="c1">//si on ne veut pas que les crédits couvrent</span>
<span class="lineno">259</span> <span class="c1">//tout, y compris la fenêtre donnant les résultats</span>
<span class="lineno">260</span> <span class="c1">//complets</span>
<span class="lineno">261</span> <span class="nc">.leaflet-bottom</span> <span class="p">{</span>
<span class="lineno">262</span>     <span class="na">position</span><span class="o">:</span> <span class="no">absolute</span><span class="p">;</span>
<span class="lineno">263</span>     <span class="na">z-index</span><span class="o">:</span> <span class="mi">50</span><span class="p">;</span>
<span class="lineno">264</span>     <span class="na">pointer-events</span><span class="o">:</span> <span class="no">none</span><span class="p">;</span>
<span class="lineno">265</span>     <span class="p">}</span>
<span class="lineno">266</span> 
<span class="lineno">267</span> 
<span class="lineno">268</span> <span class="c1">//Licence d&#39;utilisation DGEQ</span>
<span class="lineno">269</span> <span class="nt">blockquote</span> <span class="p">{</span>
<span class="lineno">270</span>     <span class="na">font-family</span><span class="o">:</span> <span class="n">Georgia</span><span class="o">,</span> <span class="no">serif</span><span class="p">;</span>
<span class="lineno">271</span>     <span class="na">font-size</span><span class="o">:</span> <span class="mi">9</span><span class="kt">pt</span><span class="p">;</span>
<span class="lineno">272</span>     <span class="na">font-style</span><span class="o">:</span> <span class="no">italic</span><span class="p">;</span>
<span class="lineno">273</span>     <span class="na">margin</span><span class="o">:</span> <span class="mi">0</span><span class="mf">.25</span><span class="kt">em</span> <span class="mi">0</span><span class="p">;</span>
<span class="lineno">274</span>     <span class="na">padding</span><span class="o">:</span> <span class="mi">0</span><span class="mf">.35</span><span class="kt">em</span> <span class="mi">40</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">275</span>     <span class="na">line-height</span><span class="o">:</span> <span class="mi">1</span><span class="mf">.45</span><span class="p">;</span>
<span class="lineno">276</span>     <span class="na">position</span><span class="o">:</span> <span class="no">relative</span><span class="p">;</span>
<span class="lineno">277</span>     <span class="na">color</span><span class="o">:</span> <span class="mh">#383838</span><span class="p">;</span>
<span class="lineno">278</span>     <span class="na">border-left</span><span class="o">:</span> <span class="no">none</span><span class="p">;</span>
<span class="lineno">279</span> <span class="p">}</span>
<span class="lineno">280</span> 
<span class="lineno">281</span> <span class="nt">blockquote</span><span class="nd">:before</span> <span class="p">{</span>
<span class="lineno">282</span>     <span class="na">display</span><span class="o">:</span> <span class="no">block</span><span class="p">;</span>
<span class="lineno">283</span>     <span class="na">padding-left</span><span class="o">:</span> <span class="mi">10</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">284</span>     <span class="na">content</span><span class="o">:</span> <span class="s2">&quot;\201C&quot;</span><span class="p">;</span>
<span class="lineno">285</span>     <span class="na">font-size</span><span class="o">:</span> <span class="mi">80</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">286</span>     <span class="na">position</span><span class="o">:</span> <span class="no">absolute</span><span class="p">;</span>
<span class="lineno">287</span>     <span class="na">left</span><span class="o">:</span> <span class="mi">-20</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">288</span>     <span class="na">top</span><span class="o">:</span> <span class="mi">-20</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">289</span>     <span class="na">color</span><span class="o">:</span> <span class="mh">#7a7a7a</span><span class="p">;</span>
<span class="lineno">290</span> <span class="p">}</span>
<span class="lineno">291</span> 
<span class="lineno">292</span> <span class="nt">blockquote</span><span class="nd">:after</span> <span class="p">{</span>
<span class="lineno">293</span>     <span class="na">display</span><span class="o">:</span> <span class="no">block</span><span class="p">;</span>
<span class="lineno">294</span>     <span class="na">padding-right</span><span class="o">:</span> <span class="mi">10</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">295</span>     <span class="na">content</span><span class="o">:</span> <span class="s2">&quot;\201D&quot;</span><span class="p">;</span>
<span class="lineno">296</span>     <span class="na">font-size</span><span class="o">:</span> <span class="mi">80</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">297</span>     <span class="na">position</span><span class="o">:</span> <span class="no">absolute</span><span class="p">;</span>
<span class="lineno">298</span>     <span class="na">right</span><span class="o">:</span> <span class="mi">-20</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">299</span>     <span class="na">top</span><span class="o">:</span> <span class="mi">-20</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">300</span>     <span class="na">color</span><span class="o">:</span> <span class="mh">#7a7a7a</span><span class="p">;</span>
<span class="lineno">301</span> <span class="p">}</span>
<span class="lineno">302</span> 
<span class="lineno">303</span> <span class="nt">blockquote</span> <span class="nt">cite</span> <span class="p">{</span>
<span class="lineno">304</span>     <span class="na">color</span><span class="o">:</span> <span class="mh">#999999</span><span class="p">;</span>
<span class="lineno">305</span>     <span class="na">font-size</span><span class="o">:</span> <span class="mi">14</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">306</span>     <span class="na">display</span><span class="o">:</span> <span class="no">block</span><span class="p">;</span>
<span class="lineno">307</span>     <span class="na">margin-top</span><span class="o">:</span> <span class="mi">5</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">308</span> <span class="p">}</span>
<span class="lineno">309</span> 
<span class="lineno">310</span> <span class="nt">blockquote</span> <span class="nt">cite</span><span class="nd">:before</span> <span class="p">{</span>
<span class="lineno">311</span>     <span class="na">content</span><span class="o">:</span> <span class="s2">&quot;\2014 \2009&quot;</span><span class="p">;</span>
<span class="lineno">312</span> <span class="p">}</span>
<span class="lineno">313</span> 
<span class="lineno">314</span> 
<span class="lineno">315</span> <span class="c1">//resulats est pluriel: tableau des résulats</span>
<span class="lineno">316</span> <span class="nt">table</span><span class="nc">.resultats</span> <span class="p">{</span>
<span class="lineno">317</span>     <span class="na">width</span><span class="o">:</span> <span class="mi">100</span><span class="kt">%</span><span class="p">;</span>
<span class="lineno">318</span>     <span class="na">border</span><span class="o">:</span> <span class="no">thin</span> <span class="no">solid</span> <span class="nb">black</span><span class="p">;</span>
<span class="lineno">319</span>     <span class="na">z-index</span><span class="o">:</span> <span class="mi">1600</span><span class="p">;</span>
<span class="lineno">320</span>     
<span class="lineno">321</span>     <span class="nt">th</span><span class="nc">.cand</span> <span class="p">{</span>
<span class="lineno">322</span>         <span class="na">width</span><span class="o">:</span> <span class="mi">40</span><span class="kt">%</span><span class="p">;</span>
<span class="lineno">323</span>         <span class="na">border-bottom</span><span class="o">:</span> <span class="no">thin</span> <span class="no">solid</span> <span class="nb">black</span><span class="p">;</span>
<span class="lineno">324</span>         <span class="na">padding-left</span><span class="o">:</span><span class="mi">12</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">325</span>         <span class="na">font-size</span><span class="o">:</span> <span class="mi">10</span><span class="kt">pt</span><span class="p">;</span>
<span class="lineno">326</span>     <span class="p">}</span>
<span class="lineno">327</span>     
<span class="lineno">328</span>     <span class="nt">td</span><span class="nc">.cand</span> <span class="p">{</span>
<span class="lineno">329</span>         <span class="na">border-bottom</span><span class="o">:</span> <span class="no">thin</span> <span class="no">dashed</span> <span class="nb">gray</span><span class="p">;</span>
<span class="lineno">330</span>         <span class="na">font-size</span><span class="o">:</span> <span class="mi">8</span><span class="kt">pt</span><span class="p">;</span>
<span class="lineno">331</span>         <span class="na">line-height</span><span class="o">:</span> <span class="mi">9</span><span class="kt">pt</span><span class="p">;</span>
<span class="lineno">332</span>         <span class="na">padding-left</span><span class="o">:</span> <span class="mi">12</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">333</span>     <span class="p">}</span>
<span class="lineno">334</span>     
<span class="lineno">335</span>     <span class="nt">th</span><span class="nc">.vote</span> <span class="p">{</span>
<span class="lineno">336</span>         <span class="na">width</span><span class="o">:</span> <span class="mi">10</span><span class="kt">%</span><span class="p">;</span>
<span class="lineno">337</span>         <span class="na">text-align</span><span class="o">:</span> <span class="no">center</span><span class="p">;</span>
<span class="lineno">338</span>         <span class="na">border-left</span><span class="o">:</span> <span class="no">thin</span> <span class="no">solid</span> <span class="nb">gray</span><span class="p">;</span>
<span class="lineno">339</span>         <span class="na">border-bottom</span><span class="o">:</span> <span class="no">thin</span> <span class="no">solid</span> <span class="nb">black</span><span class="p">;</span>
<span class="lineno">340</span>         <span class="na">font-size</span><span class="o">:</span> <span class="mi">10</span><span class="kt">pt</span><span class="p">;</span>
<span class="lineno">341</span>     <span class="p">}</span>
<span class="lineno">342</span>     <span class="nt">td</span><span class="nc">.vote</span> <span class="p">{</span>
<span class="lineno">343</span>         <span class="na">text-align</span><span class="o">:</span> <span class="no">right</span><span class="p">;</span>
<span class="lineno">344</span>         <span class="na">font-size</span><span class="o">:</span> <span class="mi">8</span><span class="kt">pt</span><span class="p">;</span>
<span class="lineno">345</span>         <span class="na">padding-right</span><span class="o">:</span> <span class="mi">10</span><span class="kt">px</span><span class="p">;</span>
<span class="lineno">346</span>         <span class="na">border-left</span><span class="o">:</span> <span class="no">thin</span> <span class="no">solid</span> <span class="nb">gray</span><span class="p">;</span>
<span class="lineno">347</span>         <span class="na">border-bottom</span><span class="o">:</span> <span class="no">thin</span> <span class="no">dashed</span> <span class="nb">gray</span><span class="p">;</span>
<span class="lineno">348</span>     <span class="p">}</span>
<span class="lineno">349</span>     
<span class="lineno">350</span>     <span class="nt">th</span><span class="nn">#chart</span> <span class="p">{</span>
<span class="lineno">351</span>         <span class="na">border-left</span><span class="o">:</span> <span class="no">thin</span> <span class="no">solid</span> <span class="nb">gray</span><span class="p">;</span>
<span class="lineno">352</span>         <span class="na">vertical-align</span><span class="o">:</span> <span class="no">top</span><span class="p">;</span>
<span class="lineno">353</span>         <span class="nt">svg</span> <span class="p">{</span>
<span class="lineno">354</span>             <span class="na">margin-left</span><span class="o">:</span> <span class="mi">10</span><span class="kt">%</span><span class="p">;</span>
<span class="lineno">355</span>             <span class="na">margin-top</span><span class="o">:</span><span class="mi">5</span><span class="kt">%</span><span class="p">;</span>
<span class="lineno">356</span>             <span class="na">margin-right</span><span class="o">:</span> <span class="no">auto</span><span class="p">;</span>
<span class="lineno">357</span>             <span class="na">width</span><span class="o">:</span> <span class="mi">80</span><span class="kt">%</span><span class="p">;</span>
<span class="lineno">358</span>             <span class="na">height</span><span class="o">:</span> <span class="mi">80</span><span class="kt">%</span><span class="p">;</span>
<span class="lineno">359</span>             
<span class="lineno">360</span>             <span class="nt">text</span> <span class="p">{</span>
<span class="lineno">361</span>                 <span class="na">font-size</span><span class="o">:</span> <span class="mi">8</span><span class="kt">pt</span><span class="p">;</span>
<span class="lineno">362</span>             <span class="p">}</span>
<span class="lineno">363</span>         <span class="p">}</span>
<span class="lineno">364</span>         
<span class="lineno">365</span>         <span class="nt">p</span> <span class="p">{</span>
<span class="lineno">366</span>             <span class="na">margin-left</span><span class="o">:</span> <span class="mi">10</span><span class="kt">%</span><span class="p">;</span>
<span class="lineno">367</span>             <span class="na">font-size</span><span class="o">:</span> <span class="mi">10</span><span class="kt">pt</span><span class="p">;</span>
<span class="lineno">368</span>             <span class="na">font-weight</span><span class="o">:</span> <span class="mi">200</span><span class="p">;</span>
<span class="lineno">369</span>             <span class="na">font-stretch</span><span class="o">:</span> <span class="no">extra-condensed</span><span class="p">;</span>
<span class="lineno">370</span>             
<span class="lineno">371</span>             <span class="k">&amp;</span><span class="nd">:first-of-type</span> <span class="p">{</span>
<span class="lineno">372</span>                 <span class="na">margin-top</span><span class="o">:</span> <span class="mi">35</span><span class="kt">%</span><span class="p">;</span>
<span class="lineno">373</span>             <span class="p">}</span>
<span class="lineno">374</span>         <span class="p">}</span>
<span class="lineno">375</span>         
<span class="lineno">376</span>         <span class="nt">div</span><span class="nc">.chart_legend</span> <span class="p">{</span>
<span class="lineno">377</span>             <span class="na">margin-left</span><span class="o">:</span> <span class="mi">10</span><span class="kt">%</span><span class="p">;</span>
<span class="lineno">378</span>             <span class="na">font-size</span><span class="o">:</span> <span class="mi">10</span><span class="kt">pt</span><span class="p">;</span>
<span class="lineno">379</span>             <span class="na">font-weight</span><span class="o">:</span> <span class="mi">200</span><span class="p">;</span>
<span class="lineno">380</span>             <span class="na">font-stretch</span><span class="o">:</span> <span class="no">extra-condensed</span><span class="p">;</span>
<span class="lineno">381</span>             <span class="na">line-height</span><span class="o">:</span><span class="mi">11</span><span class="kt">pt</span><span class="p">;</span>
<span class="lineno">382</span>             
<span class="lineno">383</span>         <span class="p">}</span>
<span class="lineno">384</span>     <span class="p">}</span>
<span class="lineno">385</span>     
<span class="lineno">386</span> <span class="p">}</span>
<span class="lineno">387</span> 
<span class="lineno">388</span> <span class="c1">//Noter: resultat est au singulier</span>
<span class="lineno">389</span> <span class="c1">//Coloration du graphique dans le tableau des résultats</span>
<span class="lineno">390</span> <span class="nc">.resultat</span> <span class="p">{</span>
<span class="lineno">391</span>     <span class="k">&amp;</span><span class="nc">.pq</span> <span class="p">{</span>
<span class="lineno">392</span>         <span class="na">fill</span><span class="o">:</span> <span class="nv">$pq</span><span class="p">;</span>
<span class="lineno">393</span>     <span class="p">}</span>
<span class="lineno">394</span>     
<span class="lineno">395</span>     <span class="k">&amp;</span><span class="nc">.qs</span> <span class="p">{</span>
<span class="lineno">396</span>         <span class="na">fill</span><span class="o">:</span> <span class="nv">$qs</span><span class="p">;</span>
<span class="lineno">397</span>     <span class="p">}</span>
<span class="lineno">398</span>     
<span class="lineno">399</span>     <span class="k">&amp;</span><span class="nc">.plq</span> <span class="p">{</span>
<span class="lineno">400</span>         <span class="na">fill</span><span class="o">:</span> <span class="nv">$plq</span><span class="p">;</span>
<span class="lineno">401</span>     <span class="p">}</span>
<span class="lineno">402</span>     
<span class="lineno">403</span>     <span class="k">&amp;</span><span class="nc">.caq</span> <span class="p">{</span>
<span class="lineno">404</span>         <span class="na">fill</span><span class="o">:</span> <span class="nv">$caq</span><span class="p">;</span>
<span class="lineno">405</span>     <span class="p">}</span>
<span class="lineno">406</span>     
<span class="lineno">407</span>     <span class="k">&amp;</span><span class="nc">.autres</span> <span class="p">{</span>
<span class="lineno">408</span>         <span class="na">fill</span><span class="o">:</span> <span class="nf">rgb</span><span class="p">(</span><span class="mi">200</span><span class="o">,</span><span class="mi">200</span><span class="o">,</span><span class="mi">200</span><span class="p">);</span>
<span class="lineno">409</span>     <span class="p">}</span>
<span class="lineno">410</span> <span class="p">}</span>
</pre></div>
</body>
</html>
