<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html>
<head>
  <title></title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <style type="text/css">
td.linenos { background-color: #f0f0f0; padding-right: 10px; }
span.lineno { background-color: #f0f0f0; padding: 0 5px 0 5px; }
pre { line-height: 125%; }
body .hll { background-color: #ffffcc }
body  { background: #ffffff; }
body .c { color: #888888 } /* Comment */
body .err { color: #FF0000; background-color: #FFAAAA } /* Error */
body .k { color: #008800; font-weight: bold } /* Keyword */
body .o { color: #333333 } /* Operator */
body .cm { color: #888888 } /* Comment.Multiline */
body .cp { color: #557799 } /* Comment.Preproc */
body .c1 { color: #888888 } /* Comment.Single */
body .cs { color: #cc0000; font-weight: bold } /* Comment.Special */
body .gd { color: #A00000 } /* Generic.Deleted */
body .ge { font-style: italic } /* Generic.Emph */
body .gr { color: #FF0000 } /* Generic.Error */
body .gh { color: #000080; font-weight: bold } /* Generic.Heading */
body .gi { color: #00A000 } /* Generic.Inserted */
body .go { color: #888888 } /* Generic.Output */
body .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
body .gs { font-weight: bold } /* Generic.Strong */
body .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
body .gt { color: #0044DD } /* Generic.Traceback */
body .kc { color: #008800; font-weight: bold } /* Keyword.Constant */
body .kd { color: #008800; font-weight: bold } /* Keyword.Declaration */
body .kn { color: #008800; font-weight: bold } /* Keyword.Namespace */
body .kp { color: #003388; font-weight: bold } /* Keyword.Pseudo */
body .kr { color: #008800; font-weight: bold } /* Keyword.Reserved */
body .kt { color: #333399; font-weight: bold } /* Keyword.Type */
body .m { color: #6600EE; font-weight: bold } /* Literal.Number */
body .s { background-color: #fff0f0 } /* Literal.String */
body .na { color: #0000CC } /* Name.Attribute */
body .nb { color: #007020 } /* Name.Builtin */
body .nc { color: #BB0066; font-weight: bold } /* Name.Class */
body .no { color: #003366; font-weight: bold } /* Name.Constant */
body .nd { color: #555555; font-weight: bold } /* Name.Decorator */
body .ni { color: #880000; font-weight: bold } /* Name.Entity */
body .ne { color: #FF0000; font-weight: bold } /* Name.Exception */
body .nf { color: #0066BB; font-weight: bold } /* Name.Function */
body .nl { color: #997700; font-weight: bold } /* Name.Label */
body .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
body .nt { color: #007700 } /* Name.Tag */
body .nv { color: #996633 } /* Name.Variable */
body .ow { color: #000000; font-weight: bold } /* Operator.Word */
body .w { color: #bbbbbb } /* Text.Whitespace */
body .mf { color: #6600EE; font-weight: bold } /* Literal.Number.Float */
body .mh { color: #005588; font-weight: bold } /* Literal.Number.Hex */
body .mi { color: #0000DD; font-weight: bold } /* Literal.Number.Integer */
body .mo { color: #4400EE; font-weight: bold } /* Literal.Number.Oct */
body .sb { background-color: #fff0f0 } /* Literal.String.Backtick */
body .sc { color: #0044DD } /* Literal.String.Char */
body .sd { color: #DD4422 } /* Literal.String.Doc */
body .s2 { background-color: #fff0f0 } /* Literal.String.Double */
body .se { color: #666666; font-weight: bold; background-color: #fff0f0 } /* Literal.String.Escape */
body .sh { background-color: #fff0f0 } /* Literal.String.Heredoc */
body .si { background-color: #eeeeee } /* Literal.String.Interpol */
body .sx { color: #DD2200; background-color: #fff0f0 } /* Literal.String.Other */
body .sr { color: #000000; background-color: #fff0ff } /* Literal.String.Regex */
body .s1 { background-color: #fff0f0 } /* Literal.String.Single */
body .ss { color: #AA6600 } /* Literal.String.Symbol */
body .bp { color: #007020 } /* Name.Builtin.Pseudo */
body .vc { color: #336699 } /* Name.Variable.Class */
body .vg { color: #dd7700; font-weight: bold } /* Name.Variable.Global */
body .vi { color: #3333BB } /* Name.Variable.Instance */
body .il { color: #0000DD; font-weight: bold } /* Literal.Number.Integer.Long */

  </style>
</head>
<body>
<h2></h2>

<div class="highlight"><pre><span class="lineno">  1</span> <span class="c1"># Place all the behaviors and hooks related to the matching controller here.</span>
<span class="lineno">  2</span> <span class="c1"># All this logic will automatically be available in application.js.</span>
<span class="lineno">  3</span> <span class="c1"># You can use CoffeeScript in this file: http://coffeescript.org/</span>
<span class="lineno">  4</span> 
<span class="lineno">  5</span> <span class="nx">$</span> <span class="nf">-&gt;</span>
<span class="lineno">  6</span>     <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;stm.js loaded&quot;</span><span class="p">)</span>
<span class="lineno">  7</span>     
<span class="lineno">  8</span>     <span class="c1">#Data URLs</span>
<span class="lineno">  9</span>     <span class="nv">dataPath            = </span><span class="s">&#39;/gtfs_stm/&#39;</span>
<span class="lineno"> 10</span>     <span class="nv">agency_url          = </span><span class="nx">dataPath</span> <span class="o">+</span> <span class="s">&#39;agency.txt&#39;</span>
<span class="lineno"> 11</span>     <span class="nv">calendar_dates_url  = </span><span class="nx">dataPath</span> <span class="o">+</span> <span class="s">&#39;calendar_dates.txt&#39;</span>
<span class="lineno"> 12</span>     <span class="nv">fare_attributes_url = </span><span class="nx">dataPath</span> <span class="o">+</span> <span class="s">&#39;fare_attributes.txt&#39;</span>
<span class="lineno"> 13</span>     <span class="nv">fare_rules_url      = </span><span class="nx">dataPath</span> <span class="o">+</span> <span class="s">&#39;fare_rules.txt&#39;</span>
<span class="lineno"> 14</span>     <span class="nv">frequencies_url     = </span><span class="nx">dataPath</span> <span class="o">+</span> <span class="s">&#39;frequencies.txt&#39;</span>
<span class="lineno"> 15</span>     <span class="nv">routes_url          = </span><span class="nx">dataPath</span> <span class="o">+</span> <span class="s">&#39;routes.txt&#39;</span>
<span class="lineno"> 16</span>     <span class="nv">shapes_url          = </span><span class="nx">dataPath</span> <span class="o">+</span> <span class="s">&#39;shapes.txt&#39;</span>
<span class="lineno"> 17</span>     <span class="nv">stop_times_url      = </span><span class="nx">dataPath</span> <span class="o">+</span> <span class="s">&#39;stop_times.txt&#39;</span>
<span class="lineno"> 18</span>     <span class="nv">stops_url           = </span><span class="nx">dataPath</span> <span class="o">+</span> <span class="s">&#39;stops.txt&#39;</span>
<span class="lineno"> 19</span>     <span class="nv">trips_url           = </span><span class="nx">dataPath</span> <span class="o">+</span> <span class="s">&#39;trips.txt&#39;</span>
<span class="lineno"> 20</span>     
<span class="lineno"> 21</span>     <span class="c1">#dataset variables</span>
<span class="lineno"> 22</span>     <span class="nv">agency          = </span><span class="kc">null</span>
<span class="lineno"> 23</span>     <span class="nv">calendar_dates  = </span><span class="kc">null</span>
<span class="lineno"> 24</span>     <span class="nv">routes          = </span><span class="kc">null</span>
<span class="lineno"> 25</span>     
<span class="lineno"> 26</span>     <span class="c1">#svg related suff</span>
<span class="lineno"> 27</span>     <span class="nv">container_dimensions = </span><span class="p">{</span><span class="nx">width</span><span class="o">:</span><span class="mi">900</span><span class="p">,</span> <span class="nx">height</span><span class="o">:</span><span class="mi">400</span><span class="p">}</span>
<span class="lineno"> 28</span>     <span class="nv">margins = </span><span class="p">{</span><span class="nx">top</span><span class="o">:</span><span class="mi">50</span><span class="p">,</span> <span class="nx">right</span><span class="o">:</span><span class="mi">20</span><span class="p">,</span> <span class="nx">bottom</span><span class="o">:</span><span class="mi">30</span><span class="p">,</span> <span class="nx">left</span><span class="o">:</span><span class="mi">60</span><span class="p">}</span>
<span class="lineno"> 29</span>     <span class="nv">chart_dimensions = </span><span class="p">{</span>
<span class="lineno"> 30</span>         <span class="nv">width: </span><span class="nx">container_dimensions</span><span class="p">.</span><span class="nx">width</span> <span class="o">-</span> <span class="nx">margins</span><span class="p">.</span><span class="nx">left</span> <span class="o">-</span> <span class="nx">margins</span><span class="p">.</span><span class="nx">right</span>
<span class="lineno"> 31</span>         <span class="nv">height: </span><span class="nx">container_dimensions</span><span class="p">.</span><span class="nx">height</span> <span class="o">-</span> <span class="nx">margins</span><span class="p">.</span><span class="nx">top</span> <span class="o">-</span> <span class="nx">margins</span><span class="p">.</span><span class="nx">bottom</span>
<span class="lineno"> 32</span>     <span class="p">}</span>
<span class="lineno"> 33</span>     
<span class="lineno"> 34</span> 
<span class="lineno"> 35</span>     <span class="c1">#data loaders</span>
<span class="lineno"> 36</span>     <span class="nx">d3</span><span class="p">.</span><span class="nx">csv</span> <span class="nx">agency_url</span><span class="p">,</span>
<span class="lineno"> 37</span>         <span class="nf">(d) -&gt;</span> <span class="k">return</span> <span class="nx">d</span>
<span class="lineno"> 38</span>         <span class="nf">(error, rows) -&gt;</span>
<span class="lineno"> 39</span>             <span class="nv">agency = </span><span class="nx">rows</span>
<span class="lineno"> 40</span>             <span class="nx">completeTask</span><span class="p">()</span>
<span class="lineno"> 41</span>             
<span class="lineno"> 42</span>                 
<span class="lineno"> 43</span>     <span class="nx">d3</span><span class="p">.</span><span class="nx">csv</span> <span class="nx">calendar_dates_url</span><span class="p">,</span>
<span class="lineno"> 44</span>         <span class="nf">(d) -&gt;</span> <span class="k">return</span> <span class="nx">d</span>
<span class="lineno"> 45</span>         <span class="nf">(error,rows) -&gt;</span>
<span class="lineno"> 46</span>             <span class="nv">calendar_dates = </span><span class="nx">rows</span>
<span class="lineno"> 47</span>             <span class="nx">completeTask</span><span class="p">()</span>
<span class="lineno"> 48</span>             
<span class="lineno"> 49</span>     <span class="nx">d3</span><span class="p">.</span><span class="nx">csv</span> <span class="nx">routes_url</span><span class="p">,</span>
<span class="lineno"> 50</span>         <span class="nf">(d) -&gt;</span> <span class="k">return</span> <span class="nx">d</span>
<span class="lineno"> 51</span>         <span class="nf">(errors, rows) -&gt;</span>
<span class="lineno"> 52</span>             <span class="nv">routes = </span><span class="nx">rows</span>
<span class="lineno"> 53</span>             <span class="nv">routes.length = </span><span class="mi">4</span>
<span class="lineno"> 54</span>             <span class="nx">completeTask</span><span class="p">()</span>
<span class="lineno"> 55</span>                 
<span class="lineno"> 56</span>     <span class="c1">#once a data loader complete, completeTask is called.</span>
<span class="lineno"> 57</span>     <span class="c1">#if every dataset are loaded (the nnn != null), completeTaks</span>
<span class="lineno"> 58</span>     <span class="c1">#perform the actual drawing</span>
<span class="lineno"> 59</span>     <span class="nv">completeTask = </span><span class="p">()</span> <span class="nf">-&gt;</span>
<span class="lineno"> 60</span>         <span class="k">if</span> <span class="nx">calendar_dates</span> <span class="o">!=</span> <span class="kc">null</span> <span class="o">&amp;&amp;</span> <span class="nx">agency</span> <span class="o">!=</span> <span class="kc">null</span> <span class="o">&amp;&amp;</span> <span class="nx">routes</span> <span class="o">!=</span> <span class="kc">null</span>
<span class="lineno"> 61</span>             <span class="nx">console</span><span class="p">.</span><span class="nx">log</span><span class="p">(</span><span class="s">&quot;draw&quot;</span><span class="p">)</span>
<span class="lineno"> 62</span>             <span class="nv">chart = </span><span class="nx">d3</span><span class="p">.</span><span class="nx">select</span><span class="p">(</span><span class="s">&#39;#timeseries&#39;</span><span class="p">)</span>
<span class="lineno"> 63</span>                         <span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;svg&quot;</span><span class="p">)</span>
<span class="lineno"> 64</span>                             <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;width&quot;</span><span class="p">,</span> <span class="nx">container_dimensions</span><span class="p">.</span><span class="nx">width</span><span class="p">)</span>
<span class="lineno"> 65</span>                             <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;height&quot;</span><span class="p">,</span> <span class="nx">container_dimensions</span><span class="p">.</span><span class="nx">height</span><span class="p">)</span>
<span class="lineno"> 66</span>                             <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;style&quot;</span><span class="p">,</span> <span class="s">&quot;border: 1px solid black;&quot;</span><span class="p">)</span>
<span class="lineno"> 67</span>                         <span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;g&quot;</span><span class="p">)</span>
<span class="lineno"> 68</span>                             <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;transform&quot;</span><span class="p">,</span>
<span class="lineno"> 69</span>                             <span class="s">&quot;translate(&quot;</span> <span class="o">+</span>
<span class="lineno"> 70</span>                                 <span class="nx">margins</span><span class="p">.</span><span class="nx">left</span> <span class="o">+</span> <span class="s">&quot;,&quot;</span> <span class="o">+</span>
<span class="lineno"> 71</span>                                 <span class="nx">margins</span><span class="p">.</span><span class="nx">top</span><span class="o">+</span>  <span class="s">&quot;)&quot;</span><span class="p">)</span>
<span class="lineno"> 72</span>                             <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;id&quot;</span><span class="p">,</span> <span class="s">&quot;chart&quot;</span><span class="p">)</span>
<span class="lineno"> 73</span>                             
<span class="lineno"> 74</span>             <span class="nv">myText = </span><span class="nx">d3</span><span class="p">.</span><span class="nx">select</span><span class="p">(</span><span class="s">&#39;svg&#39;</span><span class="p">)</span>
<span class="lineno"> 75</span>                         <span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;text&quot;</span><span class="p">)</span>
<span class="lineno"> 76</span>                             <span class="p">.</span><span class="nx">text</span><span class="p">(</span><span class="nx">agency</span><span class="p">[</span><span class="mi">0</span><span class="p">].</span><span class="nx">agency_name</span><span class="p">)</span>
<span class="lineno"> 77</span>                             <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;y&quot;</span><span class="p">,</span> <span class="nx">container_dimensions</span><span class="p">.</span><span class="nx">height</span> <span class="o">*</span> <span class="mf">0.10</span><span class="p">)</span>
<span class="lineno"> 78</span>                             <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;x&quot;</span><span class="p">,</span> <span class="nx">chart_dimensions</span><span class="p">.</span><span class="nx">width</span> <span class="o">*</span> <span class="mf">0.5</span><span class="p">)</span>
<span class="lineno"> 79</span>                             <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;id&quot;</span><span class="p">,</span> <span class="s">&#39;myText&#39;</span><span class="p">)</span>
<span class="lineno"> 80</span>                             <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;style&#39;</span><span class="p">,</span><span class="s">&#39;text-anchor:middle;font-size: 18pt&#39;</span><span class="p">)</span>
<span class="lineno"> 81</span>                             
<span class="lineno"> 82</span>             
<span class="lineno"> 83</span>             <span class="nv">time_scale = </span><span class="nx">d3</span><span class="p">.</span><span class="nx">time</span><span class="p">.</span><span class="nx">scale</span><span class="p">()</span>
<span class="lineno"> 84</span>                 <span class="p">.</span><span class="nx">range</span><span class="p">([</span><span class="mi">0</span><span class="p">,</span><span class="nx">chart_dimensions</span><span class="p">.</span><span class="nx">width</span><span class="p">])</span>
<span class="lineno"> 85</span>                 <span class="p">.</span><span class="nx">domain</span><span class="p">([</span><span class="k">new</span> <span class="nb">Date</span><span class="p">(</span><span class="mi">2008</span><span class="p">,</span><span class="mi">0</span><span class="p">,</span><span class="mi">1</span><span class="p">),</span> <span class="k">new</span> <span class="nb">Date</span><span class="p">(</span><span class="mi">2011</span><span class="p">,</span><span class="mi">3</span><span class="p">,</span><span class="mi">1</span><span class="p">)])</span>
<span class="lineno"> 86</span>                 
<span class="lineno"> 87</span>             <span class="nv">percent_scale = </span><span class="nx">d3</span><span class="p">.</span><span class="nx">scale</span><span class="p">.</span><span class="nx">linear</span><span class="p">()</span>
<span class="lineno"> 88</span>                 <span class="p">.</span><span class="nx">range</span><span class="p">([</span><span class="nx">chart_dimensions</span><span class="p">.</span><span class="nx">height</span><span class="p">,</span> <span class="mi">0</span><span class="p">])</span>
<span class="lineno"> 89</span>                 <span class="p">.</span><span class="nx">domain</span><span class="p">([</span><span class="mi">60</span><span class="p">,</span><span class="mi">90</span><span class="p">])</span>
<span class="lineno"> 90</span>                 
<span class="lineno"> 91</span>             <span class="nv">time_axis = </span><span class="nx">d3</span><span class="p">.</span><span class="nx">svg</span><span class="p">.</span><span class="nx">axis</span><span class="p">()</span>
<span class="lineno"> 92</span>                 <span class="p">.</span><span class="nx">scale</span><span class="p">(</span><span class="nx">time_scale</span><span class="p">)</span>
<span class="lineno"> 93</span>                 <span class="p">.</span><span class="nx">tickFormat</span><span class="p">(</span> <span class="nf">(date) -&gt;</span>
<span class="lineno"> 94</span>                     <span class="k">if</span> <span class="p">(</span><span class="nx">date</span><span class="p">.</span><span class="nx">getMonth</span><span class="p">()</span> <span class="o">==</span> <span class="mi">0</span><span class="p">)</span>
<span class="lineno"> 95</span>                         <span class="k">return</span> <span class="nx">moment</span><span class="p">(</span><span class="nx">date</span><span class="p">).</span><span class="nx">format</span><span class="p">(</span><span class="s">&#39;YYYY&#39;</span><span class="p">)</span>
<span class="lineno"> 96</span>                     <span class="k">return</span> <span class="nx">moment</span><span class="p">(</span><span class="nx">date</span><span class="p">).</span><span class="nx">format</span><span class="p">(</span><span class="s">&quot;MMM&quot;</span><span class="p">))</span>
<span class="lineno"> 97</span>                 
<span class="lineno"> 98</span>             <span class="nv">count_axis = </span><span class="nx">d3</span><span class="p">.</span><span class="nx">svg</span><span class="p">.</span><span class="nx">axis</span><span class="p">()</span>
<span class="lineno"> 99</span>                 <span class="p">.</span><span class="nx">scale</span><span class="p">(</span><span class="nx">percent_scale</span><span class="p">)</span>
<span class="lineno">100</span>                 <span class="p">.</span><span class="nx">orient</span><span class="p">(</span><span class="s">&#39;left&#39;</span><span class="p">)</span>
<span class="lineno">101</span>             
<span class="lineno">102</span>             <span class="nv">x_axis_translate = </span><span class="s">&quot;translate(0, </span><span class="si">#{</span><span class="nx">chart_dimensions</span><span class="p">.</span><span class="nx">height</span><span class="si">}</span><span class="s">)&quot;</span>
<span class="lineno">103</span>             
<span class="lineno">104</span>             <span class="nx">chart</span><span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&#39;g&#39;</span><span class="p">)</span>
<span class="lineno">105</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;class&#39;</span><span class="p">,</span> <span class="s">&#39;x axis&#39;</span><span class="p">)</span>
<span class="lineno">106</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;transform&#39;</span><span class="p">,</span> <span class="nx">x_axis_translate</span><span class="p">)</span>
<span class="lineno">107</span>                 <span class="p">.</span><span class="nx">call</span><span class="p">(</span><span class="nx">time_axis</span><span class="p">)</span>
<span class="lineno">108</span>                 
<span class="lineno">109</span>             <span class="nx">chart</span><span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&#39;g&#39;</span><span class="p">)</span>
<span class="lineno">110</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;class&#39;</span><span class="p">,</span> <span class="s">&#39;y axis&#39;</span><span class="p">)</span>
<span class="lineno">111</span>                 <span class="p">.</span><span class="nx">call</span><span class="p">(</span><span class="nx">count_axis</span><span class="p">)</span>
<span class="lineno">112</span>                 
<span class="lineno">113</span>             <span class="nx">d3</span><span class="p">.</span><span class="nx">select</span><span class="p">(</span><span class="s">&#39;.y.axis&#39;</span><span class="p">)</span>
<span class="lineno">114</span>                 <span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&#39;text&#39;</span><span class="p">)</span>
<span class="lineno">115</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;text-anchor&quot;</span><span class="p">,</span> <span class="s">&quot;middle&quot;</span><span class="p">)</span>
<span class="lineno">116</span>                     <span class="p">.</span><span class="nx">text</span><span class="p">(</span><span class="s">&quot;percent on time&quot;</span><span class="p">)</span>
<span class="lineno">117</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;x&quot;</span><span class="p">,</span> <span class="nx">container_dimensions</span><span class="p">.</span><span class="nx">height</span> <span class="o">*</span> <span class="mf">0.5</span><span class="p">)</span>
<span class="lineno">118</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;y&quot;</span><span class="p">,</span> <span class="mi">50</span><span class="p">)</span>
<span class="lineno">119</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;transform&quot;</span><span class="p">,</span> <span class="s">&quot;rotate(-270,0,0)&quot;</span><span class="p">)</span>
<span class="lineno">120</span>                     
<span class="lineno">121</span>             <span class="nv">key_items = </span><span class="nx">d3</span><span class="p">.</span><span class="nx">select</span><span class="p">(</span><span class="s">&#39;#key&#39;</span><span class="p">)</span>
<span class="lineno">122</span>                 <span class="p">.</span><span class="nx">selectAll</span><span class="p">(</span><span class="s">&#39;div&#39;</span><span class="p">)</span>
<span class="lineno">123</span>                 <span class="p">.</span><span class="nx">data</span><span class="p">(</span><span class="nx">routes</span><span class="p">)</span>
<span class="lineno">124</span>                 <span class="p">.</span><span class="nx">enter</span><span class="p">()</span>
<span class="lineno">125</span>                 <span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&#39;div&#39;</span><span class="p">)</span>
<span class="lineno">126</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;class&#39;</span><span class="p">,</span> <span class="s">&quot;key_line&quot;</span><span class="p">)</span>
<span class="lineno">127</span>                     <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&#39;id&#39;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span>
<span class="lineno">128</span>                         <span class="k">return</span> <span class="nx">d</span><span class="p">.</span><span class="nx">route_id</span><span class="p">)</span>
<span class="lineno">129</span>             
<span class="lineno">130</span>             <span class="nx">key_items</span><span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;div&quot;</span><span class="p">)</span>
<span class="lineno">131</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;id&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span> <span class="k">return</span> <span class="s">&quot;key_square&quot;</span> <span class="o">+</span> <span class="nx">d</span><span class="p">.</span><span class="nx">route_id</span><span class="p">)</span>
<span class="lineno">132</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;style&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span> <span class="k">return</span> <span class="s">&quot;outline: solid 1px \#&quot;</span> <span class="o">+</span> <span class="nx">d</span><span class="p">.</span><span class="nx">route_color</span><span class="p">)</span>
<span class="lineno">133</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="s">&quot;key_square&quot;</span><span class="p">)</span>
<span class="lineno">134</span> 
<span class="lineno">135</span>             <span class="nx">key_items</span><span class="p">.</span><span class="nx">append</span><span class="p">(</span><span class="s">&quot;div&quot;</span><span class="p">)</span>
<span class="lineno">136</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;class&quot;</span><span class="p">,</span> <span class="s">&quot;key_label&quot;</span><span class="p">)</span>
<span class="lineno">137</span>                 <span class="p">.</span><span class="nx">attr</span><span class="p">(</span><span class="s">&quot;style&quot;</span><span class="p">,</span> <span class="nf">(d) -&gt;</span> <span class="k">return</span> <span class="s">&quot;color: \#&quot;</span> <span class="o">+</span> <span class="nx">d</span><span class="p">.</span><span class="nx">route_color</span><span class="p">)</span>
<span class="lineno">138</span>                 <span class="p">.</span><span class="nx">text</span><span class="p">(</span><span class="nf">(d) -&gt;</span> <span class="k">return</span> <span class="nx">d</span><span class="p">.</span><span class="nx">route_long_name</span><span class="p">)</span>
</pre></div>
</body>
</html>
