- provide(:title, 'Carte')
%h2
	Atelier programmation SVG
	
%h3
	Importation de carte
	
%P
	Voir cet article. 
	%a{:href=>"http://bost.ocks.org/mike/map/"}http://bost.ocks.org/mike/map/

<!--[if lt IE 9]><!-->
#testNoSvg
	Your browser does not support SVG.
	Please upgrade to a more modern browser.
<!--<![endif]-->	
.container-fluid#testSvg
	.row
		.col-md-12
			#carte_container
			
	.row
		.col-md-12
			%P
				La carte de base: © 2014. Natural Earth. All rights reserved. 
				= link_to "http://www.naturalearthdata.com/" 
				= image_tag "NEV-Logo-color.png", :style=>"height: 2cm"
				
			%P
				Les limites des circonscriptions fédérales: ©  Sa Majesté du chef du Canada
				= link_to "clickez ici", "http://geogratis.gc.ca/api/fr/nrcan-rncan/ess-sst/6d1d8f90-1c25-5fd0-880d-138d27c8cb57.html"
				sujet à la 
				= link_to "Licence du gouvernement ouvert - Canada", "http://donnees.gc.ca/fra/licence-du-gouvernement-ouvert-canada"
			
			
- gencode_helper