- provide(:title, 'Sainte-Marie — Saint-Jacques')
= stylesheet_link_tag params[:controller]
= stylesheet_link_tag "http://d3js.org/queue.v1.min.js"
%h2
	Atelier programmation SVG
	
%h3
	Analyse des résultats dans Sainte-Marie — Saint-Jacques
	
.container-fluid
	.row
		.col-md-12
			%p
				Voici une analyse détaillée des résultats de l'élection du 7 avril 2014
				dans la circonscription de Sainte-Marie – Saint-Jacques. Cette carte illustre
				les sudivisions de la circonscription (ou sections de vote) et affiche le 
				parti qui a gagné cette section (couleur dominante) ainsi que le parti qui 
				s'est illustré deuxième (couleur des bandes hachurées).
				
			%p
				Les circonscriptions voisines sont aussi illustrées sans aller dans le détail 
				de chacune des section de vote. La couleur utilisée montre le parti gagnant pour
				l'ensemble de la circonscription.
				
			%p
				En appuyant sur la touche "alt" tout en cliquant sur l'une ou l'autre des sections
				de vote dans Sainte-Marie – Saint-Jacques, un paneau devrait apparaître, donnant les
				résultats complets pour cette section. Si vous utiisez une tablette mobile (et qu'il
				vous est impossible d'appuyer sur la touche 'alt'), mettez votre doigt sur une section
				et gardez-le là sans bouger pendant trois secondes, cela devrait déclencher l'affichage
				de la fenêtre d'information
	.row
		.col-md-9
			%p#map
			
			%blockquote
				Comprends des données ouvertes octroyées sous la licence d'utilisation 
				des données ouvertes du Directeur général des élections du Québec 
				disponible à l'adresse Web : 
				=link_to "http://www.electionsquebec.qc.ca", "http://www.electionsquebec.qc.ca" 
				L'octroi de la licence n'implique aucune approbation par le 
				Directeur général des élections du Québec de l'utilisation des données 
				ouvertes qui en est faite.
				
				%cite
					Licence d'utilisation des données ouvertes du DGEQ
				
			
		.col-md-3
			.keyBox
				.keyElement
					.pull-left.couleur.plq &nbsp;
					Parti Libéral du Québec
				.keyElement
					.pull-left.couleur.pq &nbsp;
					Parti Québécois
				.keyElement
					.pull-left.couleur.caq &nbsp;
					Coallition Avenir-Québec
				.keyElement
					.pull-left.couleur.qs &nbsp;
					Québec solidaire
				.keyElement{:style=>"font-size: 80%"}
					Les sections hachurées indiquent
					le parti qui s'est classé
					deuxième.
					
			%p
				Cette exemple utilise les données suivantes:
				
			%ol{:style=>"font-size: 80%"}
				%li Carte de base d'openstreetmap.org
				%li Tracé des circonstriptions du DGEQ
				%li Tracé des sections de vote dans Lévis (DGEQ)
				%li Résultats par circonscriptions élections 2014-04-07 (DGEQ)
				%li Résultats section de vote par section de vote dans Lévis (DGEQ)
				
			%p{:style=>"font-size: 80%"}
				Notons que les noms de circonscriptions voisines ainsi que les numéros
				de section de vote dans Sainte-Marie — Saint-Jacques apparaissent 
				ou non selon le zoom. De plus
				la taille du texte est choisie de façon à ne pas trop encombrer la carte et
				ce toujours selon le niveau de zoom choisi. Il suffit de zoomer pour voir
				apparaitre ces informations.

				
				
		%col-md-12
			- gencode_helper
			
#dialog{:title=>""}
	%p
		%span#myContent
		
