- provide(:title, 'Lévis')
= stylesheet_link_tag params[:controller]
%h2
	Atelier programmation SVG
	
%h3
	Analyse des résultats dans Lévis
	
.container-fluid
	.row
		.col-md-12
			Outre le fond de carte fourni par openstreetmap, quatre (4) fichiers sont utilisés:
			
			%ul
				%li 
					Un fichier topoJSON décrivant les contours des circonscriptions 
					électorales dans la région de Québec
					
				%li
					Un fichier topoJSON décrivant les contours des sections de vote dans Lévis
					
				%li
					Les résultats, circonscription par circonscription des élections du 2014-04-07
					
				%li
					Les résultats (fichier csv), section de vote par section de vote, dans Lévis
			
	.row
		.col-md-9
			%p#map
		.col-md-3
			.keyBox
				.keyElement
					.pull-left.couleur.plq &nbsp;
					Parti Libéral du Québec
				.keyElement
					.pull-left.couleur.pq &nbsp;
					Parti Québécois
				.keyElement
					.pull-left.couleur.caq &nbsp;
					Coallition Avenir-Québec
				.keyElement
					.pull-left.couleur.qs &nbsp;
					Québec solidaire
				.keyElement
					Les sections hachurées indiquent
					le parti qui s'est classé
					deuxième.
					
			%p
				Cette exemple utilise les données suivantes:
				
			%ol
				%li Carte de base d'openstreetmap.org
				%li Tracé des circonstriptions du DGEQ
				%li Tracé des sections de vote dans Lévis (DGEQ)
				%li Résultats par circonscriptions élections 2014-04-07 (DGEQ)
				%li Résultats section de vote par section de vote dans Lévis (DGEQ)
				
			%p
				Notons que les noms de circonscriptions voisines ainsi que les numéros
				de section de vote dans Lévis apparaissent ou non selon le zoom. De plus
				la taille du texte est choisie de façon à ne pas trop encombrer la carte et
				ce toujours selon le niveau de zoom choisi.
	.row
		%col-md-12
			- gencode_helper