// Place all the styles related to the carte controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#carte_container {
	background-color: #ccc;
}

.back {
	fill: none;
}

.country {
	fill:none;
}
.country.USA {
	fill: #bbb;
}

country.MEX {
	fill: none
}

country.CUB {
	fill: none;
}

country.BHS {
	fill: none;
}

.country.CAN {
	fill: #ddd;
}


.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.subunit-boundary.USA {
  stroke: #888;
}

.district {
	fill: none;
	stroke:blue;
	stroke-dasharray:2,3,2;
}

.district.d70F77BCB59E174FEE0440018FE2D1901 {
	fill:orange;
}
