// Place all the styles related to the rails3 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map { 
	height: 500px; 
}

// Place all the styles related to the carte2 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$qs: rgba(255,127,80,1);
$caq: rgba(132,112,255,1);
$plq: rgba(255,0,0,1);
$pq: rgba(0,0,128,1);
$on: rgba(8,8,255, 1);
$vert: rgba(0,128,0,1);
$trans: 0.3;
$pin_trans: 0.9;

.district.pq {
	fill: rgba($pq, $trans) !important;
}

.district.plq {
	fill: rgba($plq, $trans) !important;
}

.district.caq {
	fill: rgba($caq, $trans) !important;
}

.district.qs {
	fill: rgba($qs, 0.3) !important;
}

.district.on {
	fill: rgba($on, $trans) !important;
}

.district.vert {
	fill: rgba($vert, $trans) !important;
}
.pin.pq {
	fill: rgba($pq, $pin_trans) !important;
}

.pin.plq {
	fill: rgba($plq, $pin_trans) !important;
}

.pin.caq {
	fill: rgba($caq, $pin_trans) !important;
}

.pin.qs {
	fill: rgba($qs, 1.0) !important;
}

.pin.on {
	fill: rgba($on, $pin_trans) !important;
}

.pin.vert {
	fill: rgba($vert, $pin_trans) !important;
}


.province {
	fill:none;
}

.province.CA-QC {
	fill: rgba(192,192,192,0.5);
	stroke: #777;
	stroke-linejoin: round;
}


.district {
	fill: none;
	stroke:yellow;
	stroke-dasharray:3,2;
	stroke-linejoin: round;
}

