// Place all the styles related to the carte2 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#carte_container {
	background-color: #fff;
}

.back {
	fill: none;
}

.province {
	fill:none;
}
.country {
	fill:none;
}

.lac {
	fill: #ccf;
	stroke: #bbf;
}

.province.CA-QC {
	fill: #ccc;
	stroke: #777;
	stroke-linejoin: round;
}


.outline {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.outline.USA {
  stroke: #ccc;
}

.outline.CAN {
	stroke-dasharray: none;
}

.province-boundary {
	fill:none;
    stroke: #777;
    stroke-dasharray: 2,2;
    stroke-linejoin: round;
	
}

.province-boundary.USA {
	stroke: #ccc;
	stroke-dasharray: 5,2,3,2,1,2;
}

.district {
	fill: none;
	stroke:#ddd;
	stroke-dasharray:3,2;
}
