// Place all the styles related to the carteTopo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map { 
	height: 400px; 
	width: 600px;
}



$bleu_mgrs : #55BBFF;

#position {
	width:3.7cm;
	height:2cm;
	border: thin solid $bleu_mgrs;
	border-radius: 10px;
	color: $bleu_mgrs;
	.top {
		width: 100%;
		height: 1cm;
		padding: 6px;
		padding-top: 8px;
		font-size: 130%;
		background-color: $bleu_mgrs;
		color:white;
		border-radius: 5px 5px 0px 0px;
		
		.title {
			margin-right: 5px;
			font-weight: bold;
		}
	}
	
	.bottom {
		margin: 8px;
		margin-right:12px;
		text-align: right;
	}
}

$qs: rgba(255,127,80,1);
$caq: rgba(132,112,255,1);
$plq: rgba(200,0,0,1);
$pq: rgba(0,0,128,1);
$on: rgba(8,8,255, 1);
$vert: rgba(0,128,0,1);
$trans: 0.3;
$pin_trans: 0.9;

.district.pq {
	fill: rgba($pq, $trans) !important;
}

.district.plq {
	fill: rgba($plq, $trans) !important;
}

.district.caq {
	fill: rgba($caq, $trans) !important;
}

.district.qs {
	fill: rgba($qs, 0.7) !important;
}

.district.on {
	fill: rgba($on, $trans) !important;
}

.district.vert {
	fill: rgba($vert, $trans) !important;
}
.pin.pq {
	fill: rgba($pq, $pin_trans) !important;
}

.pin.plq {
	fill: rgba($plq, $pin_trans) !important;
}

.pin.caq {
	fill: rgba($caq, $pin_trans) !important;
}

.pin.qs {
	fill: rgba($qs, 1.0) !important;
}

.pin.on {
	fill: rgba($on, $pin_trans) !important;
}

.pin.vert {
	fill: rgba($vert, $pin_trans) !important;
}



.province {
	fill:none;
}

.province.CA-QC {
	fill: rgba(192,192,192,0.5);
	stroke: #777;
	stroke-linejoin: round;
}


.district {
	fill: none;
	stroke: rgba(yellow, $trans);
	stroke-dasharray:3,2;
	stroke-linejoin: round;
}

