@import "bootstrap";

.navbar {
	padding-left:15px;
	padding-right:15px;
        
        
}

section {
	.btn	{
		margin: 5px;
		margin-top:8px;
	}
}

//Create an opaque background when using the menu button 
//on an iPhone
ul.nav {
  
}

.navbar-inverse {
  background-color: MidnightBlue;
  
}

.jumbotron {
    background: url("tis_urlw.png");
    background-size: contain;
    background-position: center;
    background-repeat:no-repeat;
    text-align:center;
    h2 {color: black; text-shadow: white 0.1em 0.1em 0.2em}
 }


/* mixins, variables, etc. */



@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
  a {color: MidnightBlue; }
  a:hover {color: blue; }
}

.btnfixed {
    width: 140px;
}

.searchlimited {
    max-width: 200px;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

th { padding: 2px;
}

td { padding: 2px;
}



/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;

  
  padding-top: 11px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: silver;
    text-decoration: none;
  }
}



/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  padding-left:0px;
  padding-right:0px;
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
      
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* Users index */

.list-unstyled {
  
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid silver;
    &:last-child {
      border-bottom: 1px solid silver;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
  
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .form-group;
  @extend .has-error;
}

html.svg #testNoSvg {
    display:none;
}

html.canvas #testNoSvg {
    display:none;
}

html.opacity #testNoSvg {
    display:none;
}

#testNoSvg {
    font-size: 9pt;
    padding: 10px;
    margin: 20px;
    color: gray;
}

html.lt-ie9 #testNoSvg, .chromeframe {
    font-size: 24pt;
    border: 5px solid red;
    color: red;
    display: block;
}

html.lt-ie9 #testSvg {
    display: none;
}

.alert::before {
	float:left;
	padding-right:15px;
	font-size: 24pt;
}

.alert {
	border: 1px solid black;
	margin-left: 25px;
	min-height: 10ex;
	vertical-align: middle;
}

.alert-notice::before {
		color: green;
		content: "NOTICE: ";
	}

.alert-alert::before {
		color: orange;
		content: "ALERT: ";
	}

.alert-notice {
	border-left: 5px solid green;

}

.alert-alert {
	border-left: 5px solid orange;
}

.btn-group#code_source  {
	
	.btn {
		font-size: 18pt;
		
		a:hover {
			color:white;
		}
	}
}

.tech_credit {
	margin-top: 15px;
	a {
		margin-left: 16px;
		margin-right:16px;
		
	}
	
	img {
		height: 32px;
	}
	
}

