// Place all the styles related to the dorval controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map { 
	height: 329px; 
	width: 400px;
}



$bleu_mgrs : #55BBFF;

.mgrs {
	stroke: rgba($bleu_mgrs, 0.5);
	stroke-width:0.5px;
	fill:none;
	stroke-linejoin: round;
	
	&.strong {
		stroke-width:2px;
		stroke: $bleu_mgrs;
	}
}

svg {
	border: 1px solid black;
}