// Place all the styles related to the grille controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map { 
	height: 500px; 
	width: 100%;
	background-color: lightGray;
	
	img {
		//-webkit-filter: invert(100%);
		-webkit-filter: sepia(20%);
	}
}


$bleu_mgrs : #55BBFF;



.z9,.z10,.z11 {
	
	.mgrsLine.zone {
		stroke:black;
		stroke-dasharray: none;
		stroke-width: 3px;
		
	}
	
	.mgrsLine.decaKilo {
		stroke:$bleu_mgrs;
		stroke-dasharray: 3,1;
		stroke-width: 1px;
	}
	
	.vMarker {
		fill:none;
		stroke:none;
		&.decaKilo {
			fill: rgba($bleu_mgrs, 1.0);
			font-size: 18pt;
			stroke: white;
			stroke-with:1px;
			font-weight: bold;
		}
	}
	
	
}

.z12,.z13,.z14 {

	.mgrsLine.kilo {
		stroke:$bleu_mgrs;
		stroke-dasharray: 3,1;
		stroke-width: 1px;
	}
	
	.mgrsLine.decaKilo {
		stroke:$bleu_mgrs;
		stroke-dasharray: none;
		stroke-width: 2px;
	}
	
	.vMarker.kilo {
		fill: rgba($bleu_mgrs, 1.0);
		font-size: 18pt;
		stroke: white;
		stroke-with:1px;
	}
	
}

.z15,.z16,.z17,.z18 {

	stroke:$bleu_mgrs;
	stroke-dasharray: 2,3;
	stroke-width: 0.5px;

	.mgrsLine.kilo {
		stroke:red;
		stroke-dasharray: 10,1,5,2;
		stroke-width: 1px;
		
	}
	
	.mgrsLine.decaKilo {
		stroke:black;
		stroke-dasharray: 30,1;
		stroke-width: 3px;
	}
	
	.vMarker {
		fill: rgba($bleu_mgrs, 1.0);
		font-size: 18pt;
		stroke: white;
		stroke-with:1px;
		font-weight: bold;
		
	}
	
}

rect#left-box {
	fill:blue;
	width: 30px;
	height:100%;
	z-index: 40;
}

rect#bottom-box {
	fill: blue;
	width:500px;
	height:30px;
	z-index:40;
}

.left {
	font-size: 30pt;
	fill: none;
	stroke: rgba($bleu_mgrs, 0.5);
	stroke-width: 1;
	stroke-dasharray: 3,1;
	color: red;
}


.hMarker {
	fill: rgba($bleu_mgrs, 1.0);
	font-size: 20pt;
	stroke: white;
	stroke-with:1px;
	
}

//Couleurs associées à chaque parti
$qs: rgba(255,127,80,1);
$caq: rgba(132,112,255,1);
$plq: rgba(255,0,0,1);
$pq: rgba(0,0,128,1);
$on: rgba(8,8,255, 1);
$vert: rgba(0,128,0,1);

//Transparenes (circonscriptions et sections)
$trans: 0.3;
$pin_trans: 0.9;
$sec_trans: 0.5;

.district {
	fill: none;
	//stroke:none;
	stroke-dasharray:3,2;
	stroke-linejoin: round;
	stroke: yellow;;
	stroke-width:1px;
	
	
	//On colore selon le parti gagnant
	&.pq {
		fill: rgba($pq, $trans);
	}

	&.plq {
		fill: rgba($plq, $trans);
	}

	&.caq {
		fill: rgba($caq, $trans);
	}

	&.qs {
		fill: rgba($qs, $trans);
	}

	&.on {
		fill: rgba($on, $trans) ;
	}

	&.vert {
		fill: rgba($vert, $trans);
	}
}

