// Place all the styles related to the levis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the rails3 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map { 
	height: 550px; 
	width: 810px;
}

// Place all the styles related to the levis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Couleurs associées à chaque parti
$qs: rgba(255,127,80,1);
$caq: rgba(132,112,255,1);
$plq: rgba(255,0,0,1);
$pq: rgba(0,0,128,1);
$on: rgba(8,8,255, 1);
$vert: rgba(0,128,0,1);

//Transparenes (circonscriptions et sections)
$trans: 0.3;
$pin_trans: 0.9;
$sec_trans: 0.5;

//Couleurs de pour les circonscriptions





.district {
	fill: rgba(192,192,192,0.5);
	stroke:black;
	stroke-dasharray:3,2;
	stroke-linejoin: round;
	
	//Pas de couleur de fond pour Lévis
	//La coloration dans Lévis viendra avec
	//les sections.
	&.d663 {
		fill:none;
	}
	
	//Pour les autres, on colore selon le parti gagnant
	&.pq {
		fill: rgba($pq, $trans) !important;
	}

	&.plq {
		fill: rgba($plq, $trans) !important;
	}

	&.caq {
		fill: rgba($caq, $trans) !important;
	}

	&.qs {
		fill: rgba($qs, 0.3) !important;
	}

	&.on {
		fill: rgba($on, $trans) !important;
	}

	&.vert {
		fill: rgba($vert, $trans) !important;
	}
	
	
}

.section {
	fill: none;
	stroke:rgba(128,128,128,0.75);
	stroke-dasharray:2,1;
	stroke-linejoin: round;
	
	&.pq {
		fill: rgba($pq, $sec_trans) !important;
	}

	&.plq {
		fill: rgba($plq, $sec_trans) !important;
	}

	&.caq {
		fill: rgba($caq, $sec_trans) !important;
	}

	&.qs {
		fill: rgba($qs, $sec_trans) !important;
	}

	&.on {
		fill: rgba($on, $sec_trans) !important;
	}

	&.vert {
		fill: rgba($vert, $sec_trans) !important;
	}

	&.pcq {
		fill: rgba(64, 0, 64, $sec_trans) !important;
	}

	&.SO {
		fill: rgba(black, $sec_trans);
	}
	
	&.challengeQSCAQ {
		fill:url(#qsChallengeCAQ)
	}
	&.challengeQSPQ {
		fill:url(#qsChallengePQ)
	}
	&.challengeQSPLQ {
		fill:url(#qsChallengePLQ)
	}
	&.challengePQCAQ {
		fill:url(#pqChallengeCAQ)
	}
	&.challengePQQS {
		fill:url(#pqChallengeQS)
	}
	&.challengePQPLQ {
		fill:url(#pqChallengePLQ)
	}
	&.challengePLQCAQ {
		fill:url(#plqChallengeCAQ)
	}
	&.challengePLQQS {
		fill:url(#plqChallengeQS)
	}
	&.challengePLQPQ {
		fill:url(#plqChallengePQ)
	}
	
	
}

text.nom {
	fill: red;
	font-size:18pt;
	
	//Pour Lévis, je n'affiche pas le nom
	&#n663 {
		fill: none;
	}
}

.keyBox {
	border: thin solid black;
	padding:5px;
	margin-bottom:10px;
	
	.keyElement {
		margin-top: 3px;
		.couleur {
			height: 5mm;
			width: 5mm;
			border: thin solid black;
			margin-left: 5px;
			margin-right: 7px;
		
			&.plq {
				background-color: $plq;
			}
			&.pq {
				background-color:$pq;
			}
			&.caq {
				background-color: $caq;
			}
			&.qs {
				background-color: $qs;
			}
		}

	}
}

#testRect {
	fill:url(#myPattern)
}






