// Place all the styles related to the montreal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#anotherTest {
	border: 1px solid black;
	width: 20cm;
}

#anotherTest > svg {
	height: 15cm;
	width: 20cm;
}