// Place all the styles related to the paris controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul.zoom	{
	list-style-type: none;
	
	
	li	{
		padding: 2px;
		clear: both;
		.n1 {
			margin-left: 5mm;
			font-size:80%;
		}
		.n2 {
			margin-left: 10mm;
			font-size:70%;
		}
		
		button {
			//color: MidnightBlue;
			font-weight: bolder;
		}
		
		img	{
			height: 20mm; 
			padding-bottom:10px;
			float:left;
		}
		div {
			padding:	10px;
			vertical-align: middle;
		}
	}
}