// Place all the styles related to the smsj controller here.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Taille de la carte Leaflet
#map { 
	height: 550px; 
	width: 100%;
}

.leaflet-marker-icon, .leaflet-marker-shadow, .leaflet-image-layer, .leaflet-pane > svg path, .leaflet-tile-container {
	pointer-events: visible;
}

//Couleurs associées à chaque parti
$qs: rgba(255,127,80,1);
$caq: rgba(132,112,255,1);
$plq: rgba(255,0,0,1);
$pq: rgba(0,0,128,1);
$on: rgba(8,8,255, 1);
$vert: rgba(0,128,0,1);

//Transparenes (circonscriptions et sections)
$trans: 0.3;
$pin_trans: 0.9;
$sec_trans: 0.5;

//Couleurs de pour les circonscription


.limite_circonscriptions {
	stroke: white;
	fill:none;
	stroke-linejoin: round;
		
	//Same party both sides of the limits
	&.memeParti {
		stroke-dasharray: 3,2;
		stroke-width: 1px;
	}
	
	//Different political parties 
	&.partisDifferents {
		stroke-dasharray: none;
		stroke-width: 2px;
	}
}

.district {
	fill: rgba(192,192,192,0.5);
	stroke:none;
	stroke-dasharray:3,2;
	stroke-linejoin: round;
	
	
	//On colore selon le parti gagnant
	&.pq {
		fill: rgba($pq, $trans);
	}

	&.plq {
		fill: rgba($plq, $trans);
	}

	&.caq {
		fill: rgba($caq, $trans);
	}

	&.qs {
		fill: rgba($qs, $trans);
		//Sauf Sainte-Marie—Saint-Jacques
		//La coloration viendra plus tard
		//avec les sections de vote.
		&.d389{
			fill:rgba(white, 0.5);
			
		}
	}

	&.on {
		fill: rgba($on, $trans) ;
	}

	&.vert {
		fill: rgba($vert, $trans);
	}
	
	
	
}

//Ici, la visibilité de certains éléments
//est déterminée par le niveau de zoom
//Zomm <= 12
svg.z12, svg.z11, svg.z10, svg.z9 {
	.district.d389 {
		fill:none;
	}
	.section {
		fill: rgba($qs, $trans);
		stroke:none;
	}
	//Numéro des section de vote
	.numSec {
		display: none;
	}
	//Nom des circonscription
	text.nom {
		fill: red;
		font-size:18pt;
	
	}
	
}

//Zoom >= 13
svg.z13, svg.z14, svg.z15, svg.z16, svg.z17, svg.z18 {
	//Couleurs/pattern pour les sections de vote
	.section {
		fill: none;
		stroke:white;
		stroke-dasharray:2,1;
		stroke-width: 1.2px;
		stroke-linejoin: round;
	
		&.pq {
			fill: rgba($pq, $sec_trans) !important;
		}

		&.plq {
			fill: rgba($plq, $sec_trans) !important;
		}

		&.caq {
			fill: rgba($caq, $sec_trans) !important;
		}

		&.qs {
			fill: rgba($qs, $sec_trans) !important;
		}

		&.on {
			fill: rgba($on, $sec_trans) !important;
		}

		&.vert {
			fill: rgba($vert, $sec_trans) !important;
		}

		&.pcq {
			fill: rgba(64, 0, 64, $sec_trans) !important;
		}

		&.SO {
			fill: rgba(black, $sec_trans);
		}
	
		&.challengeQSCAQ {
			fill:url(#qsChallengeCAQ)
		}
		&.challengeQSPQ {
			fill:url(#qsChallengePQ)
		}
		&.challengeQSPLQ {
			fill:url(#qsChallengePLQ)
		}
		&.challengePQCAQ {
			fill:url(#pqChallengeCAQ)
		}
		&.challengePQQS {
			fill:url(#pqChallengeQS)
		}
		&.challengePQPLQ {
			fill:url(#pqChallengePLQ)
		}
		&.challengePLQCAQ {
			fill:url(#plqChallengeCAQ)
		}
		&.challengePLQQS {
			fill:url(#plqChallengeQS)
		}
		&.challengePLQPQ {
			fill:url(#plqChallengePQ)
		}
		&.challengeCAQPLQ {
			fill:url(#caqChallengePLQ)
		}
		&.challengeCAQQS {
			fill:url(#caqChallengeQS)
		}
		&.challengeCAQPQ {
			fill:url(#caqChallengePQ)
		}
	}
	//Numéro des section de vote
	.numSec {
		stroke: rgba(100,100,100,0.5);
		stroke-width: 0.4px;
		fill:white;
		font-weight: bolder;
		//Si l'usagerE fait alt-click sur le numéro de section
		//la commande est passé à l'objet qui est en dessous
		//c'est à dire la section en tant que telle.
		pointer-events:none;
	}
	//Nom des circonscription
	text.nom {
		fill: red;
		font-size:18pt;
	
		//Pour Saint-Marie – Saint-Jacques, je n'affiche pas le nom
		&#n389 {
			fill: none;
		}
	}
}



//Non-utilisé
.keyBox {
	border: thin solid black;
	padding:5px;
	margin-bottom:10px;
	
	.keyElement {
		margin-top: 3px;
		.couleur {
			height: 5mm;
			width: 5mm;
			border: thin solid black;
			margin-left: 5px;
			margin-right: 7px;
		
			&.plq {
				background-color: $plq;
			}
			&.pq {
				background-color:$pq;
			}
			&.caq {
				background-color: $caq;
			}
			&.qs {
				background-color: $qs;
			}
		}

	}
}

//Abandonné
#testRect {
	fill:url(#myPattern)
}

#myContent {
	z-index:100;
}

//Il est nécessaire de régler le z-index
//si on ne veut pas que les crédits couvrent
//tout, y compris la fenêtre donnant les résultats
//complets
.leaflet-bottom {
	position: absolute;
	z-index: 50;
	pointer-events: none;
	}


//Licence d'utilisation DGEQ
blockquote {
    font-family: Georgia, serif;
    font-size: 9pt;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
	border-left: none;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote:after {
    display: block;
    padding-right: 10px;
    content: "\201D";
    font-size: 80px;
    position: absolute;
    right: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}


//resulats est pluriel: tableau des résulats
table.resultats {
	width: 100%;
	border: thin solid black;
	z-index: 1600;
	
	th.cand {
		width: 40%;
		border-bottom: thin solid black;
		padding-left:12px;
		font-size: 10pt;
	}
	
	td.cand {
		border-bottom: thin dashed gray;
		font-size: 8pt;
		line-height: 9pt;
		padding-left: 12px;
	}
	
	th.vote {
		width: 10%;
		text-align: center;
		border-left: thin solid gray;
		border-bottom: thin solid black;
		font-size: 10pt;
	}
	td.vote {
		text-align: right;
		font-size: 8pt;
		padding-right: 10px;
		border-left: thin solid gray;
		border-bottom: thin dashed gray;
	}
	
	th#chart {
		border-left: thin solid gray;
		vertical-align: top;
		svg {
			margin-left: 10%;
			margin-top:5%;
			margin-right: auto;
			width: 80%;
			height: 250px;
			
			text {
				font-size: 8pt;
			}
		}
		
		p {
			margin-left: 10%;
			font-size: 10pt;
			font-weight: 200;
			font-stretch: extra-condensed;
			
			&:first-of-type {
				margin-top: 35%;
			}
		}
		
		div.chart_legend {
			margin-left: 10%;
			font-size: 10pt;
			font-weight: 200;
			font-stretch: extra-condensed;
			line-height:11pt;
			
		}
	}
	
}

//Noter: resultat est au singulier
//Coloration du graphique dans le tableau des résultats
.resultat {
	&.pq {
		fill: $pq;
	}
	
	&.qs {
		fill: $qs;
	}
	
	&.plq {
		fill: $plq;
	}
	
	&.caq {
		fill: $caq;
	}
	
	&.autres {
		fill: rgb(200,200,200);
	}
}







