#sourceCodeBox	{
	clear: both; 
	margin: 15px; 
	margin-top: 25px; 
	padding: 20px; 
	background-color: #DDD;
	
	p {			
		a:link, a:visited, a.active {
			background-color: #888;
			padding: 5px;
			font-size: 120%;
			color: white;
		}
		
		a:hover {
			background-color: #FFFFFF;
			padding: 5px;
			font-size: 150%;
			font-weight: bolder;
			color: black;
		}
	}
			
}
