// Place all the styles related to the stm controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Note: 
// When the definition starts with a dot (.), all elements with a
// CLASS with that name will follow the definition.
// When it starts with a hashtag (#), the definition applies only
// to the (one and unique) element with such an id
// When the definition starts with no dot nor hash, it applies to
// the HTML (or SVG) element with that type. 

.axis path, line {
	stroke: black;
}

.line {
	float:left;
}

.line_container {
	width: 150px;
	height: 20px;
}

path {
	fill: none;
}

.key {
	float:right;
}

.key_line {
	font-size: 17px;
	width: 100%;
}

.key_square {
	height: 10px;
	width: 10px;
	outline: solid 1px black;
	float: left;
	margin: 6px 10px 0px 10px;
}

#timeseries {
	float: left;
}

