- provide(:title, 'Carte Bis')

%h2
	Atelier programmation SVG
	
%h3
	Importation de carte (2ème partie)
	
%P
	Voir cet article. 
	%a{:href=>"http://bost.ocks.org/mike/map/"}http://bost.ocks.org/mike/map/

<!--[if lt IE 9]><!-->
#testNoSvg
	Your browser does not support SVG.
	Please upgrade to a more modern browser.
<!--<![endif]-->	
.container-fluid#testSvg
	.row
		.col-md-12
			#carte_container
			
	.row
		.col-md-3
			= image_tag "NEV-Logo-color.png", :style=>"height: 2cm"
		.col-md-9
			%P
				La carte de base: © 2014. Natural Earth. All rights reserved. 
				= link_to "http://www.naturalearthdata.com/" 
				


- gencode_helper
