- targetURL = "http://www.w3.org/html/logo/badge/html5-badge-h-css3-device-performance-semantics.png"
- altTitle = "HTML5 Stylisé avec CSS3, Multi-appareil, Performance, Intégration et Sémantiques"
%footer.footer
	%container
		.row
			.col-md-10
				%small
					Atelier de programmation géomatique (Leafleft, SVG, d3)
					%br © Copyright 2014 Yanik Crépeau
					%br
						Les données cartographiques sont © Sa Majesté du chef du Canada, © Le directeur général
						des élections, © openstreetmap ansi que © Natural Earth.
			.col-md-2
				%a{:href=>"http://www.w3.org/html/logo/"}
					%img{:src=>"#{targetURL}", :width=>"116", :height=>"42", :alt=> "#{altTitle}", :title=> "#{altTitle}"}
		.row
			.col-md-10
				%p &nbsp;
				%a{:rel=>"license", :href=>"http://creativecommons.org/licenses/by-nc/4.0/"}
					%img{:alt=>"Contrat Creative Commons", :style=>"border-width:0", :src=>"https://i.creativecommons.org/l/by-nc/4.0/88x31.png"}
				%br/
				%small{:style=>"margin-top: 5px"}
					Cette création est mise à disposition selon les termes de la
					%br/
					%a{:rel=>"license", :href=>"http://creativecommons.org/licenses/by-nc/4.0/"}
						Licence Creative Commons Paternité - Pas d&#39;Utilisation Commerciale 4.0 International.
		.row
			.col-md-10
				Ce site utilise les technologies suivantes:

				.tech_credit
					%a(title="Ruby on rails" href="http://rubyonrails.org")
						%img(width="32" alt="Ruby on Rails logo" src="//upload.wikimedia.org/wikipedia/commons/9/9c/Ruby_on_Rails_logo.jpg")

					%a(title="CoffeeScript" href="http://coffeescript.org")
						= image_tag("http://coffeescript.org/documentation/images/logo.png")

					%a(title="Sass: Syntactically Awesome Stylesheets" href="http://sass-lang.com")
						= image_tag("http://sass-lang.com/assets/img/logos/logo-b6e1ef6e.svg")

					%a(title="Haml" href="http://haml.info")
						= image_tag("http://haml.info/images/haml.png")

					%a(title="svg" href="http://www.w3.org/Graphics/SVG/")
						= image_tag("http://upload.wikimedia.org/wikipedia/commons/2/22/SVG_Simple_Logo.svg")

		.row
			.col-md-10
				Ce site utilise les biblitothèques de code suivantes:

				.tech_credit

					%a(title="jQuery" href="http://jQuery.com")
						= image_tag("jQuery-Logo.png")

					%a(title="jQuery user interface" href="http://jQueryui.com")
						= image_tag("jQuery_UI-Logo.png")

					%a(title="Leaflet" href="http://leafletjs.com")
						= image_tag("http://leafletjs.com/docs/images/logo.png")

					%a(title="D3 Data Driven Document" href="http://d3js.org")
						= image_tag("D3.png")
		.row
			%p Now running on cedar-16
			%p Release version 1.0.3 (#{$deploy_version})
