%header.navbar.navbar-inverse.navbar-fixed-top{:role => "navigation"}
	/ navbar starts here
	.navbar.navbar-fixed-top{:role => "navigation"}
		.navbar-header
			%button.navbar-inverse.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", :type => "button"}
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			= link_to "Ma Fenêtre", root_path, id: "logo"
	/ navbar-header
	.navbar-collapse.navbar-inverse.collapse.navbar-ex1-collapse
		%ul.nav.navbar-nav.navbar-right
			%li  test
	/ navbar navbar-fixed-top
