!!! 5
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9 " lang="en">
<!--[if gt IE 8]><!-->
%html.no-js{:lang => "fr"}
	<!--<![endif]-->
	%head
		%meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
		%meta{ :charset => 'utf-8' }/
		%meta{:content => "width=device-width, user-scalable=yes", :name => "viewport"}/
		%title= yield(:title)
		= javascript_include_tag :modernizr
		= javascript_include_tag "//www.google.com/jsapi"
		= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= stylesheet_link_tag params[:controller]
		= csrf_meta_tags

	%body
		/[if lt IE 7] <p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p>
		.container
			.row
				.col-xs-12
					= render 'layouts/header'
					- flash.each do |key, value|
						%div{:class => "alert alert-#{key}"}= value
					= yield
			.row
				.col-xs-12
				= render 'layouts/footer'
			.row
				.col-xs-12
				= debug(params) if Rails.env.development?
-#
	See: http://haml.info/docs/yardoc/file.REFERENCE.html for haml reference

= javascript_include_tag "application"
= javascript_include_tag params[:controller]

= yield :scripts
